[2016-09-03 22:19] robertohuertasm commented on #266
@czmecho can you provide a screenshot? I cannot reproduce it.

[2016-09-03 22:23] robertohuertasm commented on #262
@jaylinwang does it only happen with this special folder? The OS should not have any effect in this case.
If the icon is not being loaded is that you don't have it on your machine. In order to assure you have all what it's needed I would suggest you to completely reinstall the extension:

1. Icons disable
2. Uninstall the extension.
3. Reinstall the extension.
4. Icons Enable if the autorun doesn'

[2016-09-04 03:00] jaylinwang commented on #262
when i reinstall the extension, i's ok~

thanks 😄

[2016-09-04 07:18] #262 closed

[2016-09-04 09:33] jens1o commented on #134
How about add a notice about the title?(Or adding a label.)

It oftens confused me, whether it is a icon request or a foldericon request. Could we add a notice here @robertohuertasm ?

[2016-09-04 09:55] robertohuertasm commented on #134
It's OK for me. Great ideas: specific label and template check. :+1:

[2016-09-04 10:53] jens1o commented on #134
Can you create the labels?

[2016-09-04 21:49] robertohuertasm commented on #134
@jens1o you got it! :grin:

[2016-09-04 21:49] #134 closed

[2016-09-04 21:53] robertohuertasm commented on #266
@czmecho have you changed your settings?

[2016-09-04 23:37] jens1o commented on #134
thanks

[2016-09-05 01:44] czmecho commented on #266
@robertohuertasm  after  I reinstall it, the warnning appear.
and it appear in the system setting.json.

[2016-09-05 06:26] robertohuertasm commented on #266
Do you have any custom setting?

[2016-09-05 06:28] czmecho commented on #266
@robertohuertasm
only this :
{
    "git.enabled": false,
    "http.proxy": "http://127.0.0.1:1080",
    "editor.fontSize": 18,
    "terminal.integrated.shell.windows": "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"
}

[2016-09-05 06:35] robertohuertasm commented on #266
Try changing the null value for []. If it works I will change the default value. The weird thing is that I don't get any warning at all...

[2016-09-05 06:39] czmecho commented on #266
it works!
![](http://ww2.sinaimg.cn/large/7df5111fgw1f7ipbkyqwej20n80ntwgv.jpg)

[2016-09-05 06:48] robertohuertasm commented on #266
Do you have some kind of Json validation extension installed?

[2016-09-05 07:14] czmecho commented on #266
@robertohuertasm  no,and I have try to uninstall all the other plugins and it appear.

[2016-09-05 09:04] robertohuertasm commented on #266
I will change the defaults anyway... but as I told you I cannot even reproduce it. I don't get any of these alerts even in Insiders build.

[2016-09-05 10:34] czmecho commented on #266
@robertohuertasm It appear in the Insiders build portable too.
maybe it's beacuse I use the portable portable?or I use the Windows 10 for China.

[2016-09-05 10:49] robertohuertasm commented on #266
@czmecho thanks for the feedback. I will look at it but I think that with just changing these defaults by our side it will be good. Next release will be soon. :grinning:

[2016-09-05 12:27] eugeneniemand opened #270 "Icon Request : Nuget and NuSpec"
Icon Request : Nuget and NuSpec
Example: http://www.nuget.org/favicon.ico

[2016-09-05 13:09] jens1o commented on #270
Please more information. use the template.

[2016-09-06 02:33] miguelc1221 commented on #51
I feel like the current Elixir Icon is too dark, perhaps a lighter shade of purple would work better? Most themes have a dark background on the file tree and makes the current Elixir Icon harder to see. Maybe it's just me?

[2016-09-06 02:40] miguelc1221 opened #271 "Elixir Icon too dark"
I feel like the current Elixir Icon is too dark, perhaps a lighter shade of purple would work better? Most themes have a dark background on the file tree and makes the current Elixir Icon harder to see. Maybe it's just me?

[2016-09-06 08:59] jens1o commented on #271
No, it is not only you. I'd look, and yes, it is too dark.
![look here](https://cloud.githubusercontent.com/assets/11234139/18267739/d959fdca-7420-11e6-866f-99da31e37e42.png)
In the tab view, it's even more bad.

[2016-09-06 21:16] klmcwhirter opened #273 "Use docker icon for docker-compose.yml"
**Checklist:**
- I'm using Visual Studio Code Version [1.4.0] [Stable]
- I'm using the extension version [1.9.0]
- [X] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [MacOS X] [x86_64]
- [X] I'm sure this issue is not a *duplicate*?
- [ ] I want to create an icon request(if not, remove these lines below)

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
And, please fill out the full template. Sample icon?

[2016-09-06 21:21] jens1o commented on #273
he? GitHub Bug?

[2016-09-06 21:22] robertohuertasm commented on #273
We already have the icon

[2016-09-06 23:59] klmcwhirter commented on #273
Right you already are using the icon for Dockerfile. I would like to see it
appear for docker-compose.yml as well.

On Tue, Sep 6, 2016 at 2:22 PM, Roberto Huertas <notifications@github.com>
wrote:

[2016-09-07 03:19] klmcwhirter opened #274 "Request example usage for file associations configuration"
**Checklist:**
- I'm using Visual Studio Code Version [1.4.0] [Stable]
- I'm using the extension version [1.9.0]
- [X] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Mac OS X] [x86_64]
- [X] I'm sure this issue is not a *duplicate*?
- [ ] I want to create an icon request(if not, remove these lines below

[2016-09-07 03:20] klmcwhirter commented on #273
I found a workaround using your useFileAssociations config feature. You can probably close this unless others would like to see this association by default:
[code]

[2016-09-07 06:42] robertohuertasm commented on #273
Really glad you make it work! Anyway, we'll add it as a default association :wink:

[2016-09-07 07:24] jens1o commented on #274
https://github.com/robertohuertasm/vscode-icons#use-custom-file-associations-to-change-icons

It's already there. Is this what you're looking for?

[2016-09-07 08:27] robertohuertasm commented on #274
Maybe @klmcwhirter is right and we should have to be more obvious. I think a simple note or remark stressing that you need to use extensions you want to mimic as a second element of the array will be more than enough.

[2016-09-07 08:45] mikiest opened #275 "Icon request: ASCX"
A really easy one, as this can use the same icon as the ASPX one that you have just implemented :)

[2016-09-07 17:55] bpasero opened #276 "vscode-icons breaks VSCode 1.4.0 for some users"
We are receiving numerous bug reports from users over the past days where either VS Code does not show anything or parts of the UI are broken. I am raising the issue here and ask if you are aware of these issues:

* https://github.com/Microsoft/vscode/issues/11576
* https://github.com/Microsoft/vscode/issues/11578
* https://github.com/Microsoft/vscode/issues/11265
* https://github.com/Microsoft/vs

[2016-09-07 18:41] robertohuertasm commented on #276
@bpasero I'm aware of these issues but it would be nice if these users could be redirected to this repo and report here so we could try to know how exactly they messed up with the files. They explain that they cannot see something but they don't say what they did before. Did they update the extension? Did they execute some of the vscode-icons commands? In what order? I mean, we need this issues to

[2016-09-08 04:57] bpasero commented on #276
Imho vscode-icons should detect that the replacement of JS files failed and restore the bak automatically (e.g. by doing a checksum of the resulting JS file and seeing if the operation suceeded or not).

[2016-09-08 19:26] xconverge opened #277 "No icons in main folder explorer in VSCode 1.5.0"
- I'm using Visual Studio Code Version [1.5.0] [Stable] (just came out as NOT insiders)
- I'm using the extension version [1.9.0]
- [X ] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Win10] [x64]

**Description:**

I have tried Update and Enable, and multiple restarts.

I see the icon on the tabs, and

[2016-09-08 19:28] lbenie commented on #277
@xconverge
it needs to implement the new api probably. I have the same issue

[2016-09-08 19:30] xconverge commented on #277
@lbenie perhaps, but the "new api" is not new, it is what was previously the insider build

[2016-09-08 19:34] unsafecode commented on #277
Please, support 1.5.0 API soon - right now my VS Code is ugly...

[2016-09-08 19:37] FermJacob commented on #277
+1 Issue is happening for me

[2016-09-08 19:38] lbenie commented on #277
@xconverge
new [icon](https://code.visualstudio.com/updates#_workbench) feature uses a `theme` now

[2016-09-08 19:43] devNaresh commented on #277
same here no icons with latest update

[2016-09-08 19:45] xconverge commented on #277
@lbenie ah I see...so did they killed this extension by adding it native...

[2016-09-08 19:46] sunflash commented on #277
VSCode 1.5 build-in theme is very ugly, and missing a lot icons, please add support soon :)

[2016-09-08 19:53] lbenie commented on #277
turn this project into a theme extension por favor 😍 !

[2016-09-08 19:57] robertohuertasm commented on #277
Hi everyone, it seems that vscode team has advanced the release date. They told me that it was to be happening on Sept 12th...

I was preparing the new version with official icon support but this release was completely unexpected...

Anyway, I'll try to update the extension again and make it work with the latest version. I'll keep you posted!

Thank you very much for your support!

[2016-09-08 20:14] #266 closed

[2016-09-08 20:18] #273 closed

[2016-09-08 20:36] #274 closed

[2016-09-08 21:09] robertohuertasm commented on #276
I've added a guard in the injection process in order to avoid double injection which is somehow how all things were getting messed. It will be released in a minute.

Btw, I've seen that you have released the new 1.5.0 stable version. I was somehow under the impression that this was going to happen on Sept 12th (as per @aeschli email conversations) and has caught me by surprise. :disappointed:  I'm

[2016-09-08 21:09] #276 closed

[2016-09-08 21:15] robertohuertasm commented on #275
Done!

[2016-09-08 21:15] #275 closed

[2016-09-08 21:20] robertohuertasm commented on #277
1.9.1 is out with full support for 1.5.0 stable version. I've also update the readme with a note on what is the expected future for this extension.

Thanks again for your support! :heart: :grinning:

[2016-09-08 21:20] #277 closed

[2016-09-08 21:21] stbert34 commented on #277
Works fine thanks :-)

[2016-09-08 21:36] jens1o commented on #277
Thank you roberto! :smiley:

[2016-09-09 03:26] fghpdf commented on #277
My linux can`t support icon,i just update my vscode and icon.
But vscode still ugly,help me,please.

[2016-09-09 03:37] edvail commented on #277
yes, on ubuntu icons do not appear (code v1.5.1)

[2016-09-09 04:10] Franky47 commented on #277
Works fine on OS X, thanks a lot !

[2016-09-09 04:21] fghpdf commented on #277
just wait the next version

[2016-09-09 07:16] the-spyke commented on #140
I've got this issue today with updating VSCode from 1.4.0 to 1.5.1 on Linux. Already tried enabling/disabling/updating... Still no icons.

[2016-09-09 07:18] robertohuertasm commented on #140
Can you open a separate issue?

[2016-09-09 07:20] safderali5 commented on #173
every time update comes for the vs code, this extension breaks, updated the extension, and when i run
icon update, the vs code hangs forever with blank screen, i have to uninstall and install it again, still extension do not work.
running vs code on debian 8.5

[2016-09-09 07:20] robertohuertasm commented on #277
Can you open a separate issue for Linux issue? I'll look into it asap.

[2016-09-09 07:34] the-spyke commented on #140
I've already fixed it. So, I think there is no need to open an issue. After updating VSCode rewrites /usr/share/code permissions. But there is no message to restart the app with administrative permissions and icons just wont show. But there are info messages in console about those permissions. So, 'chown' on this folder fixes the issue. Thanks.

[2016-09-09 07:56] leido opened #278 "not working using newest version(1.5.1) of vscode (Linux)"
- I'm using Visual Studio Code Version [1.5.1] [Stable]
- I'm using the extension version [1.9.1]
- My system is: [linux mint 18] [x86_64]
- [yes ] I'm sure this issue is not a *duplicate*?

**Description:**

[doesn't work in newest vscode]

just don't show up all the icons, I guess this extension may conflict with new version of vscode, because new version(1.5.1) adds new feature: file icon theme

[2016-09-09 08:00] gep13 commented on #278
@leido I just came here to see if anyone else was having issues with this extension after installing the 1.5 version of VSCode.  The extension still seems to work fine for me, however, if I try to enable a "File Icon Theme", I see the following:

![image](https://cloud.githubusercontent.com/assets/1271146/18379673/a67b6554-766b-11e6-82e2-bf67248cfdba.png)

i.e. I now have duplicate icons for each

[2016-09-09 08:06] Pszek opened #279 "Cannot remove extension completely"
I'm using Visual Studio Code Version [1.5.1] [Stable]
I'm using the extension version [1.9.x]
My system is: [OS] [Win10]

After upgrade to VScode 1.5 I wanted to remove your extension. Unfortunately after removal icons are still visible despite builtin icons are visible too (see the screenshot below).

![image](https://cloud.githubusercontent.com/assets/10253750/18379841/d3e8db12-7674-11e6-9bcc-08

[2016-09-09 08:14] jens1o commented on #279
You need to execute the command ```Icons Disable``` first.

So, reinstall the extension and then execute the command, and then uninstall it. There you go. (or just leave it disabled)

[2016-09-09 08:26] Pszek commented on #279
Thank you. That solved it.

[2016-09-09 08:26] #279 closed

[2016-09-09 08:26] opus131 opened #280 "Config setting to hide file-icons"
- I'm using Visual Studio Code Version [1.5.1] [Stable]
- I'm using the extension version [1.9.1]
- My system is: [Windows 10] [64bit]

**Description:**

I'd like to use the folder- and tab-icons from the extension, but the file-icons from the VS Code theme. Would it be possible to add a config setting to allow that scenario, smth like `"vsicons.hideFileIcons": true`

[2016-09-09 08:27] leido commented on #278
@gep13 my situation is the following when I **disable** File Icon Theme in Preference, vscode-icons just doesn't show up.
Maybe we use different OS arch or it is because I upgrade my vscode editor from version 1.4
![screenshot-2016-09-09-161932](https://cloud.githubusercontent.com/assets/6065941/18380328/5ce83938-76a9-11e6-909d-22218ec3f899.png)
![screenshot-2016-09-09-161906](https://cloud.github

[2016-09-09 08:30] gep13 commented on #278
@leido I am on a Windows machine, and just this morning, I updated from 1.4 to 1.5 of VSCode.  After doing that, there was an update for vscode-icons, which I installed, then restarted VSCode with admin permissions, and everything worked as normal.

[2016-09-09 08:43] unsafecode commented on #277
Confirm tonight update (1.5.1.) broke icons again

[2016-09-09 08:48] avih commented on #278
@gep13  I had the same problem too, my solution was to:
1. Uninstall the extension.
2. Re-install vscode (I use the zip download extracted to a custom folder, so I just deleted the folder and re-extracted vscode 1.5.1 to that folder again). It _should_ keep all your settings and other extensions intact, but just in case first make a backup of `~/.vscode`.
3. Possibly install the extension again if

[2016-09-09 09:10] robertohuertasm commented on #140
@the-spyke thanks for your feedback!

[2016-09-09 09:12] robertohuertasm commented on #173
@safderali5 take a look at [this](https://github.com/robertohuertasm/vscode-icons/issues/140#issuecomment-245841274)

[2016-09-09 09:14] robertohuertasm commented on #278
@avih, there's no need for such a complex workaround. Let me explain how it should work:
If you want to uninstall the extension safely, first you have to execute `icons disable` command. This will restore the original files. No need for backups or something like this. Plus, reinstalling VSCode will not erase your settings or your installed extensions so don't be afraid to do it if you please.

@ge

[2016-09-09 09:16] gep13 commented on #278
Finally, @gep13, as stated in the readme, the idea is to keep both custom and official support for a while, until official support gets closed to what the extension offers now (tab icons, editors open icons, custom file associations...).

Makes perfect sense.  Thanks for getting back to me about this.

[2016-09-09 09:17] robertohuertasm commented on #277
@unsafecode see #278. Windows should be working ok. Just follow the usual process. Install latest 1.9.1 version and do `icons update`

[2016-09-09 09:25] robertohuertasm commented on #278
@avih I didn't mean to be rude but I think that, by the tone of your comment, you got upset or something. Anyway, if you don't bother to read the manual then don't complaint later. You have to be aware of why things are working the way that they are and, obviously, this is something that you will only get by reading the manual.

I'm happy that you found your own solution but I was only trying to m

[2016-09-09 09:30] avih commented on #278
Yes, I did get upset that your solution to safely uninstall includes anything other than pressing the uninstall button.

That being said, I do understand it's probably a side effect of the transition from 1.4 to 1.5 and the previous version of the extension's injection.

I do appreciate the solution you provide to people who might bump into this issue, but I still think that the best solution woul

[2016-09-09 09:34] robertohuertasm commented on #278
@avih it's not a thing I can control as it doesn't seem to exist any uninstall hook on the extension API, thus the only possibility is a user action to completely remove all the injected code. It's in the disclaimer. And please, don't get upset and be more cooperative next time. A good attitude is always positive for everyone.

[2016-09-09 09:46] jens1o commented on #122
Closed according to inactivity.

[2016-09-09 09:46] #122 closed

[2016-09-09 09:51] avih commented on #278
Which is why I added "or updating/installing and uninstalling the latest version should take care of the cruft possibly left there by earlier version" - which in my experience it did not. Surely at some stage of update/restart/use/uninstall a newer version of the extension can do something about it. At the very least inform the user that such an issue may exist and somehow point to a solution.

Re

[2016-09-09 09:51] fantasyKing opened #281 "When I update the vscode-icons from 1.9.0 to 1.19.1, this issue happens. The icons are all disappear"
- I'm using Visual Studio Code Version [1.4.0] [Stable/Insider]

- I'm using the extension version [1.9.1]

- My system is: [OS x]

- How can this happen ?

![icon-issue](https://cloud.githubusercontent.com/assets/15122256/18382846/55332994-76b5-11e6-8bbc-455f6f0a6929.png)

* When I update the vscode-icons from 1.9.0 to 1.19.1, this issue happens. The icons are all disappear.

[2016-09-09 09:52] jens1o commented on #281
Please read the README.

You need to enable the icons, so please execute ```Icons Enable```

[2016-09-09 09:57] fantasyKing commented on #281
I have clicked "icon enabled" and "icon update". But it doesn't work

[2016-09-09 09:58] jens1o commented on #281
Do you have steps to reproduce?

[2016-09-09 10:00] fantasyKing commented on #281
NO, I never reproduce anything.

[2016-09-09 10:01] jens1o commented on #281
You misunderstood. What did you do? Is it a clean install?

[2016-09-09 10:03] fantasyKing commented on #281
I just click the update btn, it works well before.

[2016-09-09 10:06] fantasyKing commented on #281
I don't modify any config of this ext

[2016-09-09 10:06] jens1o commented on #281
Are you behind any proxy?

[2016-09-09 10:06] fantasyKing commented on #281
yes, I have proxy

[2016-09-09 10:07] fantasyKing commented on #281
ok, I'll try.

[2016-09-09 10:10] jens1o commented on #281
Can you check out this issue? https://github.com/robertohuertasm/vscode-icons/issues/21#issuecomment-232577432 Maybe you're done a mistake?

[2016-09-09 10:37] leido commented on #278
@robertohuertasm I exec `sudo chown -R $(whoami) /usr/share/code` command, but still the icons don't show up

[2016-09-09 10:48] leido commented on #278
@robertohuertasm I checked another same issue and found the solution:
1. Icon Update
2. restart
3. icon enable

[2016-09-09 10:51] leido commented on #281
@fantasyKing I have the same issue. here is how I solved it:
1. Make sure you have permission to vscode install folder(/usr/share/code)
2. Icon Update
3. Restart
4. Icon Enable

[2016-09-09 11:05] robertohuertasm commented on #278
Many thanks @leido for your feedback! I'm going to close this issue.

[2016-09-09 11:05] #278 closed

[2016-09-09 11:08] nonoroazoro commented on #281
@leido  I've met the same problem right now...

Windows 7 x64, tried vscode 1.4 & 1.5.1, not work.

[2016-09-09 11:17] nonoroazoro commented on #281
@leido  I've met the same problem right now...

Windows 7 x64, tried vscode 1.4 & 1.5.1, not work.

All right, find out that sometimes the "icons.zip" **could not be downloaded correctly**, which causes the issue.

[2016-09-09 12:12] SandHilt opened #282 "Update extension to File Icon Theme"
**Checklist:**
- I'm using Visual Studio Code Version [1.5.1] [Stable]
- I'm using the extension version [1.x.x]
- [x ] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [OS] [Windows 10 build 14915]
- [x] I'm sure this issue is not a *duplicate*?
- [ ] I want to create an icon request(if not, remove these

[2016-09-09 12:14] jens1o commented on #282
We're using the new API, but the new api does not provide all things we have currently.

[2016-09-09 12:18] jens1o commented on #281
@nonoroazoro Are you behind any proxy? Is there any error in the Dev console?

[2016-09-09 13:01] robertohuertasm commented on #282
@jens1o we're not still using the new API, we're going to use it and release a new version in the next days.
I'm closing this as this is a duplicate of #177

[2016-09-09 13:01] #282 closed

[2016-09-09 13:19] nonoroazoro commented on #281
@jens1o  I've tried both with and without proxy, the problem still occurs. After several attempts to update the icons, my vscode downloads the "icons.zip" correctly.
I didn't see any error in the Dev console, but at least it works now. Thanks!

[2016-09-09 13:40] mikiest opened #283 "Icon request: Masterpage"
- [x] I want to create an icon request:
      - Type: **extension**
      - Icon Name: **Master page**
      - Sample icon from Visual Studio:
![masterpage_32xlg](https://cloud.githubusercontent.com/assets/15056200/18388869/3c3c2806-769b-11e6-883c-3394feda1417.png)
      - Extensions: **.master**

[2016-09-09 13:41] Arrow7000 opened #284 "Convert extension to File Icon Theme?"
With VSCode update 1.5 you can now add [file icons through themes](https://code.visualstudio.com/updates#_workbench). Would you consider releasing this extension as a theme?

[2016-09-09 13:53] robertohuertasm commented on #284
@Arrow7000 thanks for the feedback. Please see, #282 and #177 and take a look at the Readme. :wink:

[2016-09-09 13:53] #284 closed

[2016-09-09 14:15] fantasyKing commented on #281
How to open Dev console? @jens1o

[2016-09-09 14:25] fantasyKing commented on #281
I solve this problem: "vsicons.icons": "/Users/zhangguojin/programFile/icons.zip" in settings

[2016-09-09 14:28] robertohuertasm commented on #281
@fantasyKing take into account that you won't be receiving new icons by using this method so you will have to manually update the icons.zip from time to time. The fact that you're not able to download the zip via extension may be due to proxy issues or permission issues. If you feel this issue is solved then please close it.

[2016-09-09 16:11] sbromberger commented on #279
Sorry, but where in the FAQ is it? As of now:

FAQs

**Tabs have disappeared.**

**I've updated to the latest version of the extension but I can't see any icon.**

**I've installed the extension but I can't see no icons.**

**I've updated my VSCode and now I can't see any icon.**

**I've tried everything but nothing seems to be working.**

**Why are you always updating so frequently?**

[2016-09-09 17:14] robertohuertasm commented on #279
@sbromberger you're right. We'll include it soon, with the next release, including official support. Thanks for noting it.;)

[2016-09-09 18:44] renatomestre commented on #281
The last update made my icons desappear.

I tried this but doens't solved:

`"vsicons.icons": "/Users/rmestre/vscode/icons.zip"` (the icons.zip its there!)

[2016-09-09 23:30] lachama commented on #281
Hey guys, I'm facing the same problem too.

The latest update (v1.5.1) from VSC made my vscode-icons icons dissapear, I'm guessing is related to the fact that on this version we can choose which icons to use from the menu bar as a theme:

<img width="300" alt="bug1" src="https://cloud.githubusercontent.com/assets/9157362/18405770/ac2df710-76ba-11e6-9409-7bc5055c2706.png">
<img width="400" alt="bug

[2016-09-09 23:46] robertohuertasm commented on #281
@lachama, we're preparing a new version with official support (so you will be able to see it also in the file icon theme menu soon). Despite this, we're still supporting the old functionality so you have to unselect whatever icon theme you have selected (select None) and then execute the `icons enable` command.

Let me know if it works for you.

[2016-09-10 03:18] robertohuertasm commented on #177
Done. Released as 2.0.1

[2016-09-10 03:18] #177 closed

[2016-09-10 09:14] robertohuertasm commented on #281
@renatomestre have you solved you issue? Try with the latest extension update 2.0.1

[2016-09-10 10:00] jens1o commented on #203
@robertohuertasm Is that feature in planning by the VS Code Team? Due we have limited time they allowing injecting code, it would be great when this will be solved by VS Code itself.

[2016-09-10 10:12] chupi33 opened #287 "Icon request: cobol"
Hello

is it possible to add the following icon ?

- I'm using Visual Studio Code Version [1.5.1] [Stable]
- I'm using the extension version [2.0.0]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: OSX Sierra
- [x] I'm sure this issue is not a *duplicate*?
- [X] I want to create an icon request(if no

[2016-09-10 14:18] keathmilligan opened #289 "Updating to latest version results in doubled icons, can't uninstall previous icons"
VSCode 1.5.1. Just updated to the latest VSCode icons and got the message about the new API being supported. Enabling the VSCode Icons icon them results in two icons being shown for each file/folder.
![image](https://cloud.githubusercontent.com/assets/2936304/18411123/cf62b794-7736-11e6-9bbb-21dff549e4fd.png)

When VSCode icons is uninstalled and icon theme is set to None, VSCode icons still remai

[2016-09-10 14:31] keathmilligan commented on #289
OK, I think I've resolved this. After updating to 2.0.1, it is necessary to restart with admin privileges and run "Icons Disable" from the command palette. Then restart normally and enable the VSCode Icons icon them from preferences.

[2016-09-10 14:31] #289 closed

[2016-09-10 15:26] robertohuertasm commented on #289
Hi @keathmilligan, glad you figure it out. It's explained in the readme but maybe it's not clear enough.

With 2.0.1 you can choose which version do you want to use: the official one or the custom one, with tab icons and so on. If you choose the custom one then you'll need to disable any official icon theme that you may have enabled and star vscode with administration rights.

[2016-09-10 16:24] egamma commented on #177
@robertohuertasm this is great. Thanks for the great collaboration 🌹

[2016-09-10 22:36] robertohuertasm commented on #203
For what I know this is not in VSCode team's plans. In fact, there's no way for a user to customize any icon association except if the author of the extension has used language associations. I'm trying to convince them of the power of using custom regular expressions but I feel they're not interested in giving the user so much options. :disappointed:

[2016-09-10 22:40] robertohuertasm commented on #281
@renatomestre, @lachama, @fantasyKing please let us know if you've solved the issue. I will close the issue in case on Monday I have no news from you. :wink:

[2016-09-10 22:47] robertohuertasm commented on #177
@egamma thanks to you and you're team for bringing icons to VSCode. I'm looking forward to seeing this contribution point grow in terms of functionality and user customization. :smile:

[2016-09-10 23:10] robertohuertasm opened #290 "Resolve issues with icons now showing correctly while using the new contribution point"
A few icons are not working. If you find more please use this thread to extend the list:

- LICENSE / LICENCE
- travis.yml
- Makefile

[2016-09-10 23:42] #290 closed

[2016-09-11 09:31] jens1o commented on #120
Hmm, the repo maintainer is inactive in the Vash Repo, I'll close this. Feel free to reopen, if the owner of the Vash Repo respond.

[2016-09-11 09:33] jens1o commented on #137
Can somebody extract the last frames of these two images? I cannot to that, due I don't know how to do ;)

[2016-09-11 10:07] robertohuertasm commented on #120
I have an idea for this extension. I see it uses razor syntax, which in Visual Studio uses to be a '@' icon. I think we can use the same motive.

[2016-09-11 10:08] robertohuertasm commented on #137
I'll take care. No worries.

[2016-09-11 10:11] dehghani-mehdi commented on #120
I think this idea will work, seems like the Vash author is not active. so looking fwd to the icon. thanks !

[2016-09-11 10:14] ashlouati opened #292 "Duplicated icons"
**issue regarding the icons being duplicated**

when I choose from  File > Preferences > File icon Theme the option "None",
I get the icons once that seems to be permanent (I cannot remove them)
and by choosing an icon theme, well they become like this
![issue](https://cloud.githubusercontent.com/assets/20360199/18416575/a8384660-7818-11e6-9667-8540a5f7f05a.png)

[2016-09-11 10:27] jens1o commented on #292
Please execute the command ```Icons Disable```

[2016-09-11 10:28] jens1o commented on #120
Do you have the @ icon? Google doesn't help really.

[2016-09-11 10:31] dehghani-mehdi commented on #120
@jens1o I'm afraid, no. my source is Google too.

[2016-09-11 10:32] ashlouati commented on #292
thnx ! that solved the problem

[2016-09-11 10:32] #292 closed

[2016-09-11 10:35] robertohuertasm commented on #120
I'll build it. No problem. But I can't right now. :grin:

[2016-09-11 10:39] jens1o commented on #120
Don't hurry. Take your time :wink:

[2016-09-11 20:59] Meowbeast opened #293 "Every time I open, it welcomes me to a new version"
**Checklist:**
- I'm using Visual Studio Code Version [1.5.1] [Stable/Insider]
- I'm using the extension version [2.0.2]
- [X] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Win10] [x64]
- [X] I'm sure this issue is not a *duplicate*?

**Description:**

Every time I open code, your extention welcomes me

[2016-09-12 01:04] aluanhaddad commented on #293
I am experiencing the same issue.

On a side note, thanks for this terrific plugin.

[2016-09-12 03:09] fegg commented on #293
哎，一个图标插件搞得好复杂。

[2016-09-12 03:35] EricWang1992 opened #294 "I can't use it on Mac after update it to 2.0.2. I've tried to use the command "Icons Enable""
I can't use it on Mac after update it to 2.0.2. I've tried to use the command "Icons Enable"

[2016-09-12 04:58] robertohuertasm commented on #294
Can you be more specific? What did you do? Is it a clean install?  Did you updated the extension? Do you receive any message? Have you any error in dev console?

[2016-09-12 05:04] robertohuertasm commented on #293
Did you make a clean install or it was an update? The extension compares the version number with the one you had installed. If this is happening I guess something is wrong with the process of writing to your user settings folder. But this is weird, as vscode itself writes it's own settings into that same folder. If you did update the extension, try a clean install and let me know if that fixes it.

[2016-09-12 05:12] Meowbeast commented on #293
I removed the extension and re-added.
Same issue.

[2016-09-12 05:39] fantasyKing commented on #281
@renatomestre ,yes, I'm already fixed it.

[2016-09-12 06:29] chupi33 commented on #287
Hello

Sorry but it seems to be ok for extensions .cbl & .cob not for .cpy

[2016-09-12 06:41] czmecho commented on #293
![image](https://cloud.githubusercontent.com/assets/5077551/18426810/e4017a84-78f6-11e6-9a63-69cd4780471c.png)
everything I open the vscode, it show up to me.

[2016-09-12 07:20] #281 closed

[2016-09-12 07:38] hsrtechs opened #295 "Notification stays"
**Checklist:**
- I'm using Visual Studio Code Version [1.5.1] [Stable]
- I'm using the extension version [2.0.2]
- [*] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [OS] [Windows 10]
- [*] I'm sure this issue is not a *duplicate*?
- [*] I crossed out "Description", "Steps to reproduce", "Expected behavi

[2016-09-12 08:27] robertohuertasm commented on #295
I'm closing this in favour of #293
Thanks for reporting this! :grinning:

[2016-09-12 08:27] #295 closed

[2016-09-12 08:30] robertohuertasm commented on #293
Can you check the content of the file `vsicons.settings.json`? You will be able to find it by following this path: `C:\Users\<YourUserName>\AppData\Roaming\Code\User\vsicons.settings.json`

[2016-09-12 09:20] robertohuertasm commented on #293
Ok guys, I think I found the bug. I'll be publishing a patch soon. :wink:

[2016-09-12 09:26] robertohuertasm commented on #287
Solved with 2.0.3 release. I'll release it in 2 minutes.

[2016-09-12 09:26] #287 closed

[2016-09-12 09:27] #293 closed

[2016-09-12 09:30] robertohuertasm commented on #293
I've just released 2.0.3. Can you check if it's solved? You'll see again the message with the 2.0.3 for sure but hopefully never again until next version release.

[2016-09-12 10:56] schurig commented on #294
Same for me, running the latest version of `vscode-icons`. No errors in the dev console.

[2016-09-12 12:51] aluanhaddad commented on #293
2.0.3 fixed it for me. I'm using VS Code Insiders 1.6. Thanks for the quick turn around on this!

[2016-09-12 13:11] Tekbr opened #297 "[Question] [Suggestion] Enable icons only in tabs and "Open Explorer" Version 1.5.x"
- VSCode Version: 1.6.0-insider
- OS Version: Windows 10
- Version vscode-icons: 2.0.3

--Sorry for the English, I used Google Translator --

I have not seen any similar matter, if any, sorry.

Please change the title if necessary..

As the vscode-icons is supported the new api, is it not possible to use icons 'Enable - Update - Disabled' to when we are in version 1.5.x or higher to activate the i

[2016-09-12 14:25] lachama commented on #281
@robertohuertasm sorry I couldn't reply earlier. It's working nicely now ;)

Thanks!

[2016-09-12 14:41] aeschli commented on #203
Adding to more sophisticated name matching is surely possible. Maybe not the full RegEx. The current implementation of associating icons to names is done through CSS and I'd like to stick to that (makes switching themes easy and avoids direct coupling of views to the themes). CSS has prefix/suffix or substring operators that we could use.

[2016-09-12 16:29] renatomestre commented on #281
@robertohuertasm its working! Thank u so!

[2016-09-12 16:57] natejgardner commented on #6
On Ubuntu 16.04, I tried both chowning and following the instructions running as root, and enabling the extension in both cases failed.

[2016-09-12 16:59] robertohuertasm opened #298 "Hide Folder icons is not working"
hideFolders setting is not working anymore. It conflicts with the new API.

[2016-09-12 17:00] robertohuertasm commented on #6
@natejgardner is it a clean install or have you updated?

[2016-09-12 17:05] robertohuertasm opened #299 "Custom File Associations are not working"
It seems that file icon associations are not being honored anymore.

[2016-09-12 17:18] jens1o commented on #298
It would be great, if microsoft says to you when they change the api. It is not funny...

[2016-09-12 17:23] robertohuertasm commented on #298
@jens1o it's not Microsoft's fault. I didn't check it properly. :blush:

[2016-09-12 17:28] jens1o commented on #297
I think it is not possible, due to our limited API functions with the Code API. But you can still use the old way. Remember to disable the icon functionality of Code. Then, you can execute ```Icons Enable```. There you go.

[2016-09-12 17:40] robertohuertasm commented on #297
It should be possible when `hideFolders` and `Custom icon associations` work again. I'll let you know when it's fixed.

[2016-09-12 19:20] Meowbeast commented on #293
Confirmed fixed.

Thanks!  It's been a rough OCD weekend... ;)

[2016-09-12 21:03] #298 closed

[2016-09-12 21:09] robertohuertasm commented on #299
false alarm... I don't know what I did but I swear that somehow it wasn't working for me... :relaxed:

[2016-09-12 21:09] #299 closed

[2016-09-12 21:12] robertohuertasm commented on #297
I've fixed the issues but now I've realized that if you use `custom icon associations` icons will be disabled everywhere, not only in the tree view.

VSCode team is going to offer native support for tabs and "open editors" icons so I don't think is worth to implement this feature. Sorry :disappointed:  I hope you'll understand. :grinning:

[2016-09-12 21:12] #297 closed

[2016-09-12 21:49] robertohuertasm commented on #6
@natejgardner I've tested it in Ubuntu 16.04 and it's working.  Ensure that you have permissions. Check the readme:
[code]

[2016-09-12 21:54] robertohuertasm commented on #294
@EricWang1992 @schurig I would appreciate more details...

[2016-09-12 21:59] robertohuertasm commented on #297
Related to #280

[2016-09-12 22:00] robertohuertasm commented on #280
See #297 to see why this issue is being closed.

[2016-09-12 22:00] #280 closed

[2016-09-12 22:07] robertohuertasm opened #302 "Add Images folder"

[2016-09-13 08:04] robertohuertasm opened #303 "Add .dockerignore to docker icon"

[2016-09-13 08:06] rockwxy opened #304 "it's f..king crazy ,update everyday??"
_**Instruction Template**_

**THIS IS AN EXAMPLE TEMPLATE**

**Make sure the following boxes are checked out(and the vars replaced) *BEFORE* you're submitting this issue**

**Screenshots are more than welcome!**

**Please remove any unused content (including these instructions) before submitting your issue.**

**Thanks :smile:**

**Checklist:**
- I'm using Visual Studio Code Version [1.x.x] [Stabl

[2016-09-13 08:07] robertohuertasm opened #305 "Add webpack support"
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: png
      - Icon Name: webpack
      - Sample original Icon(32x32/png/transparent whenever possible): [icon](https://topheman.github.io/webpack-babel-starter/assets/974262647c82057b6078c432841a53ea.png)
      - Extensions: webpack.config.js

[2016-09-13 08:08] robertohuertasm commented on #304
read the readme. Don't press the update button if you don't want to update. There are bug fixes that can't wait.

[2016-09-13 08:08] #304 closed

[2016-09-13 12:11] Tekbr commented on #297
That I did not.

Anyway thanks for the answer.

Oh, congratulations to all the great job.

[2016-09-13 12:16] robertohuertasm commented on #297
@Tekbr thanks for your understanding. Maybe if the VSCode team takes too long implementing icon tabs and so on I will consider such an implementation. I've been told that probably in next release they will be delivering though, so it should be a month or so.

[2016-09-13 13:48] enorfelt commented on #294
I too can't see any icons.
Running:
VS Code 1.5.2
vscode-icons 2.0.4

![image](https://cloud.githubusercontent.com/assets/8871328/18476219/77fdfd0c-79c9-11e6-9136-1f3aa4e1c55f.png)
![image](https://cloud.githubusercontent.com/assets/8871328/18476232/84bc0d04-79c9-11e6-946a-e71320c2d36b.png)

[2016-09-13 13:50] robertohuertasm commented on #294
@enorfelt try `icons update`

[2016-09-13 13:51] enorfelt commented on #294
@robertohuertasm thx! Worked!

[2016-09-13 14:24] robertohuertasm commented on #294
@EricWang1992 @schurig can you try the same and tell me if it works for you?

[2016-09-13 14:34] jens1o commented on #302
example icon?

[2016-09-13 19:43] natejgardner commented on #6
It's a clean install on Code 1.5.1. I opened Code, searched for the extension, installed it, followed the additional Linux instructions, hit the enable button, and no icons showed up. I uninstalled and tried this again with the same results.

[2016-09-13 22:14] FrenchBen commented on #12
Bringing this back up as it doesn't seem to have been solved. This was the latest update in VSCode:
![dockerfile-broken](https://cloud.githubusercontent.com/assets/3965324/18493300/ab7c7ea6-79c4-11e6-9969-f7e463f06bd2.png)

As you can see the `Dockerfile` doesn't have the nice whale on it, like a `.dockerfile` would :(

[2016-09-14 03:19] olingern commented on #294
@robertohuertasm I had the same problem and `icons update` worked for me.

Thanks for the awesome extension!

[2016-09-14 07:24] #294 closed

[2016-09-14 07:47] EricWang1992 commented on #294
@robertohuertasm It's ok for me now. vscode-icons: 2.0.4 vscode: 1.5.2

[2016-09-14 07:53] garrardkitchen opened #307 "Please add .csx (c# script) icon"
Can you please add icon for .csx extension.  This maps to .cs extension and is csharp script.  I use this mainly with Azure Functions.

Warmest regards,

Garrard.

[2016-09-14 08:05] schurig commented on #294
Worked for me as well

[2016-09-14 09:58] bpasero opened #308 "Files and folders not showing in explorer tree"
From: https://github.com/Microsoft/vscode/issues/12004

- VSCode Version:

  1.6.0-insider
  commit  6fa85223efb25ad7ce3e534c7eb07edd9524bd6d
  date 2016-09-14T06:10:40.320Z

- OS Version:
Win 10.0.14393 x64
Steps to Reproduce:

1. Update to latest insider build when asked by VS Code insider

this is from DevTools

Cannot read property 'fsPath' of undefined: TypeError: Cannot read property 'fsPath

[2016-09-14 10:25] brikibsw commented on #308
@robertohuertasm I have installed vscode-icons ext again and enabled it and it caused same issue and after disabling it issue is gone, and I am running in elevated mode

[2016-09-14 10:29] robertohuertasm commented on #308
@brikibsw did you just install it? or did you executed `icons enable` too?

[2016-09-14 10:31] robertohuertasm commented on #308
The icons used for the official extension point are working, I'm still trying to debug the extension in order to see what's going on. I'll keep you posted.

[2016-09-14 10:32] brikibsw commented on #308
@robertohuertasm I have executed icons enable after ext install and restart VSCode

[2016-09-14 12:05] JonnyFox commented on #308
Same issue here! Icons enable after ext install and restart -> no explorer tree

[2016-09-14 12:07] robertohuertasm commented on #308
I'm trying to fix it and will make a release asap. For the moment use the standard functionality: File > Preferences > File Icon Theme> VSCode Icons

[2016-09-14 12:21] jens1o commented on #307
Can we use the classic C# icon?

[2016-09-14 12:29] garrardkitchen commented on #307
Yes. Thanks.

[2016-09-14 13:46] rbukovansky commented on #308
With that new option directly in VSC, are we going to need this extension in future?

[2016-09-14 13:57] robertohuertasm commented on #308
@rbukovansky, thanks for asking. It's explained in the Readme but making it short:

1. This extension provides a set of compatible icons with the official contribution point so you will be able to use it to enjoy the icons it provides.
2. The extension also provides some features that are not still supported (icons in tabs, custom icon association using regex...) by VSC.
3. Some of these features

[2016-09-14 14:27] rbukovansky commented on #308
Thanks for info. Can't wait for you update.

[2016-09-15 08:51] #305 closed

[2016-09-15 08:54] #307 closed

[2016-09-15 08:57] #303 closed

[2016-09-15 09:16] robertohuertasm commented on #12
solved

[2016-09-15 09:16] #12 closed

[2016-09-15 09:26] robertohuertasm commented on #308
Solved. 2.0.5 is out.

[2016-09-15 09:26] #308 closed

[2016-09-15 09:41] garrardkitchen commented on #307
Thank you!

[2016-09-15 10:46] danielo515 opened #312 "Don't surrender!"
This is not an actual issue.

I just read the new features coming in the new version of VStudio and I immediately thought in your extension.
Since the icons as a default feature is a nice thing to have, I find your extension to be much better. Maybe those users that want the vanilla version can live without features like custom icons or tab icons, but for people like me that live a bit more out of

[2016-09-15 14:36] jens1o commented on #312
My words. Just a great extension.

[2016-09-15 15:07] chadly opened #313 "Webpack Icon for webpack.config.babel.js"
I see that webpack support was just added in regard to #305, #310. However, it appears it is only adding the webpack icon for `webpack.config.js` explicitly. It would be nice if it would also add it for anything that begins with `webpack.config.*.js`.

For me, I use `webpack.config.babel.js` which tells webpack to load the config file with the babel-loader. It would be nice to get the webpack icon

[2016-09-15 15:11] robertohuertasm commented on #313
Hi chadly, this can't be done with the official API at the moment but you can use our custom icon association functionality in order to make it work. [Take a look here](https://github.com/robertohuertasm/vscode-icons#use-custom-icon-associations-to-change-icons). It works with regular expressions so it should cover any scenario you may have. :grinning:

[2016-09-15 18:14] dungdm93 opened #314 "Icon Request: Gemfile n' gemspec"
Current icons for `Gemfile` and `*.gemspec` look like this:
![rubygems](https://cloud.githubusercontent.com/assets/6848311/18561256/567a036a-7ba9-11e6-9e08-e99615790bbc.png)

As you see, `Gemfile` n' `*.gemspec` has no icon at all. However, `Gemfile.lock` has ruby file icon, even if it's not ruby file.

**Checklist:**
- Visual Studio Code version [1.5.1] [Stable]
- vscode-icons extension version [

[2016-09-15 18:28] dungdm93 opened #315 "Icon Request: RSpec"
- Visual Studio Code version [1.5.1] [Stable]
- vscode-icons extension version [2.0.5]
- System: [Windows] [x64]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request
      - Type: [file/folder]
      - Icon Name: [rspec]
      - Sampl

[2016-09-15 18:36] dungdm93 commented on #270
nuGet logo with better resolution: [https://commons.wikimedia.org/wiki/File:NuGet_project_logo.svg]

[2016-09-15 22:59] pumano commented on #312
**Small guide** how to turn on vscode using mac version in recent version of VS Code:

**Code > Preferences > File Icon Theme >** Choose **VSCode Icons** for applying plugin

[2016-09-16 05:30] jonathanheaden commented on #17
![file_type_powershell 2x](https://cloud.githubusercontent.com/assets/6761609/18576135/00017116-7c22-11e6-9d50-6ac505c29ae3.png)
Thanks for this - love your work!
One thing of note for using dark themes is that the official Powershell logo has the Angle bracket and underscore white, not transparent.

[2016-09-16 06:53] aalaap opened #316 "Icon request: XLIFF language translation files"
**Checklist**

- I'm using Visual Studio Code Version [1.5.2] [Stable]
- I'm using the extension version [2.0.5]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Ubuntu 16.04] [amd64]
- [x] I'm sure this issue is not a *duplicate*.
- [x] I want to create an icon request:
      - Type: icon
      - I

[2016-09-16 08:56] pibone opened #318 "Icon Request: Flow"
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- I'm using Visual Studio Code Version [1.5.2] [Stable]
- I'm using the extension version [2.0.5]
- My system is: [Mac OS 10.11.5] [x64]
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):
      - T

[2016-09-16 09:49] dungdm93 commented on #314
`Gemfile` and `Gemfile.lock` are in Bundler spec [[reference](http://bundler.io/gemfile.html)]
So, please use this icon [http://ruby-korea.github.io/bundler-site/images/gembundler.png] for those file.
Sorry about that mistake.

[2016-09-17 14:54] chadly commented on #313
Thanks @robertohuertasm. I didn't realize this extension was that extensible! I'll try that.

Maybe since, using the babel loader is probably most common, it would make sense to also include the webpack icon for both `webpack.config.js` & `webpack.config.babel.js` only?

[2016-09-17 19:17] robertohuertasm opened #319 "Icon for Visual Basic files"
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: [extension]
      - Icon Name: [vb]
      - Sample original Icon: a blue VB literal should be fine.
      - Extensions: .vb

[2016-09-18 08:09] #316 closed

[2016-09-18 08:16] robertohuertasm commented on #313
@aeschlii, is there any way in the new API to support this kind of scenario? Should we add a new language (webpack) in order for the users to associate these files with this language? What would be the way to go in order to cover this in an official way?

[2016-09-18 08:19] robertohuertasm commented on #313
@chadly I'm thinking of supporting a few common webpack filenames for the moment, until we have a proper official way to cover the scenario. I will accept your suggestion of supporting `webpack.config.babel.js` and I will add to it `webpack.config.dev.js`, `webpack.config.staging.js` and `webpack.config.production.js`

[2016-09-18 08:27] #313 closed

[2016-09-18 08:31] robertohuertasm commented on #302
I'm thinking that adding the default image icon to the folder would be fine.

[2016-09-18 08:34] robertohuertasm opened #321 "Add css / styles folder icon"
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: [folder]
      - Icon Name: [css-style]
      - Sample original Icon(32x32/png/transparent whenever possible): [url]
      - Extensions: css, styles

I'm not really sure of the icon. We'll have to think about it.

[2016-09-18 08:50] robertohuertasm commented on #314
I missed the bundler icon in the last PR.

[2016-09-18 10:04] jens1o commented on #321
Icon: a pen which writes are text?

[2016-09-18 12:25] #314 closed

[2016-09-19 04:40] RSamal opened #324 "Please add .toml"
Please add .toml extension

[2016-09-19 12:06] jens1o commented on #324
Please use the template.

[2016-09-20 04:21] bryanj0410 opened #325 "Please add .tag file extension, for riot js. Either use JS or use Jade for the icon. :) Thanks"

[2016-09-20 08:53] iRoachie commented on #321
This could go a long way lol, are you extending it for scss, sass, less, stylus?

[2016-09-20 09:02] robertohuertasm commented on #321
@jens1o it seems ok to me.
@iRoachie, I'm not sure how to proceed... maybe we should create a specific one for every kind of style with the original logo. Does it sounds reasonable to you?

[2016-09-20 09:05] iRoachie commented on #321
@robertohuertasm Could probably go with the pattern similar to the .vscode folder. Like a coloured folder with the logo for the extension sitting in a corner

[2016-09-20 09:11] joeblew99 opened #326 "small readme fix for OSX users"
you have 👍
File > Preferences > File Icon Theme > VSCode Icons

On OSX its:
Code > Preferences > File Icon Theme

--

Also i would add this at the very top of the readme. Let me explain:
I have been using your extension for about 1.5 months, but then a few days ago after an update i could not see the icons anymore. SO i looked at your readme, and only found it pretty deep ino the readme.

[2016-09-20 09:14] robertohuertasm commented on #321
Yes, that's for granted. We're going to stick to our own style convention regarding folder icons. :wink: So you think is sensible to follow this approach with all the different style flavours, don't you?

[2016-09-20 09:15] iRoachie commented on #321
Sounds good to me, I'd like to get some more feedback from community

[2016-09-20 14:25] jens1o commented on #321
Sounds good to me, too.

[2016-09-21 12:18] rockwxy opened #327 "slow down for update"
_**Instruction Template**_

**THIS IS AN EXAMPLE TEMPLATE**

**Make sure the following boxes are checked out(and the vars replaced) *BEFORE* you're submitting this issue**

**Screenshots are more than welcome!**

**Please remove any unused content (including these instructions) before submitting your issue.**

**Thanks :smile:**

**Checklist:**
- I'm using Visual Studio Code Version [1.x.x] [Stabl

[2016-09-21 12:21] jens1o commented on #327
Wow. Please edit the template. Also, this is a faq topic.

[2016-09-21 12:25] robertohuertasm commented on #327
I'm closing this.

[2016-09-21 12:25] #327 closed

[2016-09-21 12:30] robertohuertasm commented on #327
@jens1o,  this guy seems like a troll to me. See #304.
@rockwxy There's not been an update in days... Next time you insist on making this kind of interventions I'll block you. No hard feelings.

[2016-09-21 15:09] robertohuertasm opened #328 "Discontinue custom functionality support and get fully official"
According to [vscode #11751](https://github.com/Microsoft/vscode/issues/11751#issuecomment-248634495) next vscode release :heart:  will support icons here:

- open editors view
- tabs
- title in editor when tabs are disabled
- search results
- problems
- quick open / editor pickers

I'm thinking of removing all the custom functionality which now will only get reduced to:
- show/hide folders
- show

[2016-09-21 15:52] jens1o commented on #328
Please, please support "associate icons via regex"... I kinda like it, and some icons can't be bound, because of these various file endings, for example Webconfig.

These show/hide should be supported till Code supports it. I really like these options...

[2016-09-21 15:55] robertohuertasm commented on #328
I think maybe we should create some issues in VSCode's GitHub project asking for these kind of functionality and see what they have to say.

[2016-09-21 16:23] bpasero commented on #328
+1 of retiring this extension in favour of built in VS Code functionality. Currently, we do not provide options to selectively enable/disable icons. Does vscode-icons have fine granular options for each and every area where icons can show up?

[2016-09-21 16:32] robertohuertasm commented on #328
@bpasero yes it does. I'm more concerned about `custom icon association` than these hide/show options, which has proven to be useful when you have to support scenarios where you have files with a semi-variable extension, i.e webpack.config.<whatever>.js.

With vscode-icons the user can associate any icon to regex so this can be achieved. We would need something similar in the built-in functionalit

[2016-09-21 16:36] bpasero commented on #328
Yeah sure, keep the extension but provide an official icon theme. We do support file associations in settings and it has some simple glob support. However it seems what you refer to is a way to map a regex to a icon? In our world, the file association is a mapping of glob to language and from the language we determine the icon.

[2016-09-21 16:45] robertohuertasm commented on #328
We currently provide an official icon theme :grin:  To be honest I haven't take a look at your current implementation so I don't really know how this could be accomplished or even whether this could be accomplished. I'll take a look just out of curiosity to see if this can be extended in any way.

Now, when we define a filename association (using the official theme api) we provide the file name an

[2016-09-21 17:58] jens1o commented on #270
I'm going to ask myself, but in general, it is your job to give us the information we need.

What extensions are being used for this 2 file types?

[2016-09-22 05:06] bpasero commented on #328
@robertohuertasm I see, I leave it up to @aeschli to comment on such a support

[2016-09-22 11:25] bearslumber opened #329 "I can't get through our proxy server"
Hi

I can't get through our proxy server. Any chance f making a .vsix available to download for local install?

All help is greatly appreciated.

Bearslumber

[2016-09-22 18:24] vkammerer opened #330 "Support VSC 1.5.3"
Hello,

thanks for the great package! I couldn't live without it :)

I just upgraded to version 1.5.3 and the icons have disappeared. It isn't the first time this happens, so I think that in the future I will wait a few days before accepting the prompt in VSC to upgrade...

Is there a way that this behaviour doesn't happen in the future, and that we can safely upgrade VSC without fearing the loss

[2016-09-22 18:25] jens1o commented on #330
Exceute ```Icons Enable```

[2016-09-22 18:28] jens1o commented on #326
Do you want to create a PR, or should I?

[2016-09-22 18:32] jens1o commented on #244
@iRoachie Can you create the icon? I'll would create a PR

[2016-09-22 18:35] vkammerer commented on #330
ok thanks for the reply!

[2016-09-22 18:37] jens1o commented on #330
Does it work? Then, you can close this issue :wink:

[2016-09-22 18:41] iRoachie commented on #244
@jens1o any inspiration?

[2016-09-22 18:42] jens1o commented on #315
I'll create a PR with the file icon, but due I didn't have access to Photoshop anymore, I cannot do the folder icon, I'm looking for an program which can handle that file...

[2016-09-22 18:44] jens1o commented on #244
@iRoachie Something like this? https://www.apicasystem.com/wp-content/uploads/2015/08/API-icon.png

It's a little bit over the edge, because it describes the api, and the api coordinates the connection between the program and the plugin.

[2016-09-22 19:53] #330 closed

[2016-09-22 22:45] robertohuertasm commented on #326
@jens1o go for it. 😉

[2016-09-22 22:47] robertohuertasm commented on #315
@jens1o no problem, I'll do it. I think [the Gimp](https://www.gimp.org/) can handle it.

[2016-09-22 22:49] #319 closed

[2016-09-22 22:52] robertohuertasm commented on #244
@jens1o I don't think this icon is very representative of a document folder. I would expect to see an icon related to a document (I'm thinking of what Windows does for the Documents folder).

[2016-09-22 22:53] #325 closed

[2016-09-22 22:54] robertohuertasm commented on #318
Folder icon still pending

[2016-09-22 23:12] robertohuertasm commented on #329
@bearslumber take a look [here](https://github.com/robertohuertasm/vscode-icons#custom-icons-support-and-offline-icons-support).

The .vsix is not an option as the zip containing the icons will always be downloaded. Download it manually from this repo and follow the link instructions.

[2016-09-22 23:41] iRoachie commented on #244
How about a markdown themed folder?

[2016-09-23 04:15] jens1o commented on #244
@robertohuertasm Good idea.

@iRoachie Also good, then we just have to use the folder template.

[2016-09-23 04:16] jens1o commented on #318
Exactly, I'm still looking for a programm, which allows me open .psd files

[2016-09-23 06:54] bpasero commented on #328
I pushed a new setting to control if icons should show up for editors or not. My feeling is that we should not introduce more settings for each place in the UI because all the other places are trees (explorer, opened editors, search, problems, quick open) and if the user wants to see icons where we show file names in trees, I think it is fair to show them consitently in all trees.

[2016-09-23 08:10] rbukovansky commented on #218
@robertohuertasm Installed the last VSCode Insiders:

Version 1.6.0-insider
Commit d81ee41c51cae93a5cac967e42a28660a3a7e005
Date 2016-09-23T05:58:22.484Z
Shell 1.3.5
Renderer 52.0.2743.82
Node 6.3.0

and we are broken again in Explorer window...
![vscode-icons-broken](https://cloud.githubusercontent.com/assets/1004491/18778693/e3b42d60-8175-11e6-92db-2c389c915010.PNG)

Please take a look.

[2016-09-23 10:18] whitecolor commented on #218
@rbukovansky do you use build-in icon themes?

[2016-09-23 11:05] jens1o commented on #326
Is this ok? 5b4fa55319f171acf9027f4ea539753642f62fba

[2016-09-23 21:01] robertohuertasm opened #335 "Folders don't seem to be working on Insiders version (official support)"
- I'm using Visual Studio Code Version [16.0] [Insider]
- I'm using the extension version [2.0.5]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [OS] [Windows 10]
- [x] I'm sure this issue is not a *duplicate*?

Special folders should be shown but they are not.

[2016-09-23 21:11] robertohuertasm commented on #328
After seeing [vscode #12493](https://github.com/Microsoft/vscode/issues/12493#issuecomment-249117649) I think it's time to move on and go fully official. I see no reason to keep the hacks. It's becoming a nightmare to try to keep the Insiders changes and the value that they add it's not worth it anymore, taking into account that VSCode team is providing great support for icons and it's going to co

[2016-09-23 21:13] robertohuertasm commented on #326
@jens1o :+1:

[2016-09-23 21:14] robertohuertasm commented on #114
I don't see the point to keep this anymore :wink:

[2016-09-23 21:14] #114 closed

[2016-09-23 21:15] robertohuertasm commented on #267
I'm closing this. See #328

[2016-09-23 21:15] #267 closed

[2016-09-23 21:16] robertohuertasm commented on #203
Closing this. See #328

[2016-09-23 21:16] #203 closed

[2016-09-23 21:17] robertohuertasm commented on #235
Closing this. See #328. I would suggest to create an issue with a feature request in vscode's repo.

[2016-09-23 21:17] #235 closed

[2016-09-23 21:18] robertohuertasm commented on #131
Closing this for the moment.

[2016-09-23 21:18] #131 closed

[2016-09-23 21:19] robertohuertasm commented on #83
Closing this. See #328. I would suggest to create an issue with this in the vscode's repo.

[2016-09-23 21:19] #83 closed

[2016-09-23 21:20] robertohuertasm commented on #162
Closing this. See #328. Ask for the feature in vscode's repo.

[2016-09-23 21:20] #162 closed

[2016-09-23 21:21] robertohuertasm opened #336 "Remove all custom functionality from the extension"
See #328. The idea is to get rid of all the custom code once people has massively migrated to VSCode 1.6.0

[2016-09-23 21:24] robertohuertasm commented on #312
Hi @danielo515, many thanks for your more than kind words :heart: :grin:
Provided that next version of VSCode is going to provide some new goodness regarding icons I see no point on keeping all the hacks so v.3.0 will get rid of all them and go fully official. Please see #328 for more information.

[2016-09-23 21:24] #312 closed

[2016-09-23 21:57] robertohuertasm commented on #315
@dungdm93, @jens1o, I'm thinking that the spec folder is not particular of this ruby framework and maybe we should consider using the rspec logo for it. I'd suggest to associate it with the normal tests folder icon. Is it ok for you?

[2016-09-23 23:29] robertohuertasm commented on #328
Currently on hold, after seeing that [vscode #12493](https://github.com/Microsoft/vscode/issues/12493#issuecomment-249117649) is not still solved...

[2016-09-24 02:01] Spiralis opened #338 "Tab icons not showing"
- I'm using Visual Studio Code Version [1.5.3]
![image](https://cloud.githubusercontent.com/assets/64342/18805310/f3c7f0c6-8209-11e6-8649-28dcb3703c54.png)

- I'm using the extension version [2.0.5]
![image](https://cloud.githubusercontent.com/assets/64342/18805348/8a3c1cd4-820b-11e6-8945-640b9ce5228d.png)

- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/maste

[2016-09-24 02:35] dungdm93 commented on #315
@robertohuertasm Yeah, I see. It's OK if using normal tests folder, but it would be better if we can display icon by detected frameworks/libraries. :)

[2016-09-24 02:54] dungdm93 opened #339 "TypeScript icon"
I (personal) fell current TypeScript icon is a little bit ugly.
![typescript](https://cloud.githubusercontent.com/assets/6848311/18805598/431ce406-823c-11e6-818b-306301173dfb.png)
I'd suggest to change it by an official one [http://www.typescriptlang.org/assets/images/icons/apple-touch-icon-180x180.png]
![TS](http://www.typescriptlang.org/assets/images/icons/apple-touch-icon-180x180.png)
And **svg

[2016-09-24 07:36] jens1o commented on #339
thanks, I'll do that today

// cc: #65

[2016-09-24 07:38] jens1o commented on #315
@dungdm93 But we do not have rights to read files in a directory :sob:

[2016-09-24 07:39] jens1o commented on #338
What are the extensions you'd installed? Looks like there is an error from a C#-providing extension. That could return in not loading our extension properly.

[2016-09-24 07:41] jens1o commented on #326
then I closing

[2016-09-24 07:41] #326 closed

[2016-09-24 08:18] bearslumber commented on #329
Thank you
Much appreciated.

[2016-09-24 21:19] robertohuertasm commented on #335
[New issue](https://github.com/Microsoft/vscode/issues/12443#issuecomment-249326672) created in VSCode's repo. Waiting for resolution.

[2016-09-24 21:21] robertohuertasm commented on #338
@Spiralis have you tried executing the `icons update` command? Are you using the official API or the custom functionality? Have you ever executed the `icons enable` command?

[2016-09-24 21:44] #249 closed

[2016-09-24 21:53] #120 closed

[2016-09-24 22:22] #137 closed

[2016-09-24 22:23] robertohuertasm opened #343 "Improve c# icon"

[2016-09-24 22:39] #343 closed

[2016-09-24 22:48] #271 closed

[2016-09-24 23:08] robertohuertasm commented on #339
I've reduced the size of the former icons. I've also tested with the original logo but it's too much solid color for me so I'll stick to the former ones with reduced format.

[2016-09-24 23:11] #339 closed

[2016-09-24 23:25] robertohuertasm opened #347 "Drop support of hacks to VS Code >= v.1.6.0"

[2016-09-24 23:27] #318 closed

[2016-09-24 23:35] #315 closed

[2016-09-24 23:42] #302 closed

[2016-09-25 00:02] #244 closed

[2016-09-25 14:48] #347 closed

[2016-09-25 14:58] robertohuertasm commented on #328
Dropping hack functionality support for VSCode >= 1.6.0 See #347

[2016-09-25 15:08] #329 closed

[2016-09-25 15:09] #65 closed

[2016-09-26 00:00] Spiralis commented on #338
Ah. That's it. I thought this was part of the latest VS Code included icon support. I just installed it and selected it in the File|Preferences|File Icon Theme menu.
When I ràn `icon update` they appeared double up actually. When I choose "None" in that list, the VS Code Icons appear as expected (including ison in tabs).
Not sure which way this is supposed to work though. Should I not use that sys

[2016-09-26 03:33] jens1o commented on #338
Both are working, but when your ok with the normal theme in that list, then ran Icons Disable and click it on the list.

[2016-09-26 09:17] mikiest commented on #283
Has this been correctly merged?
.master files don't display any icons on my instance.

Using vscode-icons **v3.0.0** (did not show the icon on previous versions either) with the **VSCode Icons** icon theme and VS Code **1.5.3**.

[2016-09-26 12:03] jens1o commented on #283
Hm? My pr looks correct. What did I do wrong?

[2016-09-26 12:20] mikiest commented on #283
@jens1o Well first of all can you or anyone confirm they are experiencing the same issue? :)

[2016-09-26 16:44] jens1o commented on #283
@mikiest Great idea, and my result is: yes, it's missing. The file is hidden.

Log:
```file:///C:/Program%20Files%20(x86)/Microsoft%20VS%20Code/resources/app/out/vs/workbench/browser/parts/editor/media/icons/file_type_masterpage@2x.png Failed to load resource: net::ERR_FILE_NOT_FOUND```

[2016-09-26 16:45] jens1o commented on #283
GitHub bug. My commited file was not merged into the repo... I'll push it again.

[2016-09-26 16:48] #283 closed

[2016-09-26 16:48] jens1o commented on #283
Should be working as soon as the new update is published.

[2016-09-27 06:42] kdureidy commented on #133
It is fixed now, thank you

[2016-09-28 02:09] dungdm93 opened #354 "JavaScript icons"
I found a community logo for JavaScript in [**here**](https://github.com/voodootikigod/logo.js)
![JavaScript logo](https://raw.githubusercontent.com/voodootikigod/logo.js/master/js.png)
Although not an official icon but it's very popular in JavaScript world.
And i think it look nicer than current JS icon. So I'd suggest you to replace the old one in order to keep in line with HTML, CSS and TypeScr

[2016-09-28 08:12] robertohuertasm commented on #354
Hi @dungdm93, the current icon is indeed an inverted version of that logo. I'm not willing to use huge blocks of solid colors as icons if possible. The same happened with the TypeScript logo. See #339

[2016-09-28 08:12] #354 closed

[2016-09-28 08:15] robertohuertasm commented on #338
@Spiralis vscode official api still does not support icons in tabs. So if you want this functionality you will have to use the hacky way by executing `icons enable`. The good news is that in VSCode v.1.6.0 icons for tabs are coming to the general public so you won't need to run the hacks and just do as you first did.

[2016-09-28 08:15] #338 closed

[2016-09-28 08:18] robertohuertasm commented on #335
Solved

[2016-09-28 08:18] #335 closed

[2016-09-28 08:22] Spiralis commented on #338
Cool. Thanks. I very much like the icons in the tabs, so I am using the old style `icons enable` "hack".

[2016-09-28 18:39] niieani opened #355 "Transpiled Webpack configs"
To make #320 even better, it would be good if there were also icons for transpilable Webpack config files, i.e. TypeScript and CoffeeScript (webpack.config.ts, webpack.config.coffee).

[2016-09-30 09:09] mmisztal1980 opened #356 "Icon request: SaltStack (.sls) state file(s) and Jinja templates"
Hi,

It would be pretty awesome if the icon set supported saltstack's .sls files (which are basically YAML files)
![saltstack_logo](https://worldvectorlogo.com/logos/saltstack.svg)
Additionally, Jinja templates would be a welcome addition as well

Cheers!

[2016-09-30 12:23] jens1o commented on #356
Sure, but do you have a icon for "jinja"?

[2016-09-30 19:34] mmisztal1980 commented on #356
I believe, that's the one:
![jinjaicon](http://jinja.pocoo.org/docs/dev/_static/jinja-small.png)

[2016-10-02 12:06] #355 closed

[2016-10-02 12:10] robertohuertasm opened #358 "Support elm-package.json"
Just associate elm icon to this file.

[2016-10-02 12:16] #358 closed

[2016-10-02 12:31] robertohuertasm commented on #328
vscode-icons' readme now provides a link to [#12493](https://github.com/Microsoft/vscode/issues/12493#issuecomment-249117649). User's support is key in order to show whether this functionality is needed or not.

[2016-10-02 12:31] #328 closed

[2016-10-02 12:46] #259 closed

[2016-10-02 13:18] #321 closed

[2016-10-03 05:26] NTPLThavarajan opened #363 "can you please add icons for plantuml"
**Need support for Plantuml**

please see this [link](https://marketplace.visualstudio.com/items?itemName=self-technologies.plant-uml-ext) for the extenstion support

_Expected behaviour:_

Want to see some icons for the files with extension
      ".pu",
      ".plantuml",
      ".iuml",
      ".puml"

_Actual behaviour:_

Not able to see any icons

[2016-10-03 19:38] MarcAdans opened #364 "Can you please add icons for Delphi files"
Can you please add icons for Delphi files

- *.pas
- *.dfm
- *.dpr

Thank you.

[2016-10-04 03:39] NTPLThavarajan commented on #363
Thanks robert

[2016-10-04 09:10] mikiest commented on #283
Thanks for this, working now :)

[2016-10-04 15:07] ivanz opened #365 "Icon for .proto files (Google Protocol Buffer)"
Would be nice to have an icon for [Google Protocol buffer](https://developers.google.com/protocol-buffers/) files which have the `.proto` extension

[2016-10-04 16:18] jens1o commented on #365
is there any icon?

[2016-10-06 12:24] ivanz commented on #365
That's a good question and after having a quick search around I can't find one.

[2016-10-06 14:40] jens1o commented on #365
Do you have a idea how the icon can look like?

[2016-10-10 23:52] ceshuer opened #366 "Can you please add icons for Fortran files?"
This might not be a popular request, but if possible, can we have icons Fortran files, such as:
.f90
.f
.mod

Thanks for the extension!

[2016-10-11 03:51] jens1o commented on #366
Icon URL?

[2016-10-11 03:51] jens1o commented on #364
Icon URL?

[2016-10-11 08:26] nandowalter opened #367 "Info message showed at every start."
**Description:**

After installing v3.0.1 on vscode v1.6.0, **everytime** I open a new instance of vscode, vscode-icons welcome message shows up (info message located up in the vscode window).

[2016-10-11 10:57] mbausdorf commented on #367
Experiencing the same issue as @nandowalter. Non-critical, but a little annoying nonetheless.

[2016-10-11 11:11] robertohuertasm commented on #367
Is this your first installation or it was an update?

[2016-10-11 11:16] nandowalter commented on #367
Was an update. After, I tried an uninstall and a re-install, with the same
result.

On Tue, 11 Oct 2016 13:11 Roberto Huertas <notifications@github.com> wrote:

[2016-10-11 11:16] mbausdorf commented on #367
for me it occurs post-update to VS Code 1.6

[2016-10-11 11:17] robertohuertasm commented on #367
@mbausdorf so you already had the extension installed, didn't you?

[2016-10-11 11:17] mbausdorf commented on #367
Yes, sorry - the extension was already installed

[2016-10-11 11:23] nandowalter commented on #367
The same for me, I had the extension already installed. The bug occurred
after upgrading the extension.

On Tue, 11 Oct 2016 13:17 Markus Bausdorf <notifications@github.com> wrote:

[2016-10-11 11:24] robertohuertasm commented on #367
Can you both take a look at this file and let me know what you have there?
C:\Users\<your_username>\AppData\Roaming\Code - Insiders\User\vsicons.settings.json

[2016-10-11 11:25] richardpap commented on #367
Same here, tried a full reinstall too.
Even the icons are gone, and when i try to enable them, i get the following message:
"Icons Enable command is no longer supported for VSCode >= v1.6.0."

[2016-10-11 11:26] robertohuertasm commented on #367
Sorry, I gave you the path to the `Insiders version`, change `Code-Insiders` for `Code`

[2016-10-11 11:26] mbausdorf commented on #367
{"version":"3.0.0","status":"enabled","welcomeShown":true}

[2016-10-11 11:27] robertohuertasm commented on #367
@richardpap icon support is now provided via the official VSCode API so you will have to go to `File > Preferences > File Icon Theme > Select vscode-icons`

[2016-10-11 11:29] richardpap commented on #367
Oh, awesome, thanks!

[2016-10-11 11:29] robertohuertasm commented on #367
@mbausdorf execute `Icons Disable`

[2016-10-11 11:30] mbausdorf commented on #367
"Icons already disabled"

[2016-10-11 11:31] robertohuertasm commented on #367
@mbausdorf  Could you let me know the text (more or less) of the welcome message that you're seeing? Thanks, btw! 👍

[2016-10-11 11:35] robertohuertasm commented on #367
Got it! I see the bug! Thanks for your help! I will try to release a fix asap!

[2016-10-11 11:36] mbausdorf commented on #367
Sure thing, heres a "timeline" after opening VS code.

- Welcome to the new version of vscode-icons v.3.0.1 -> Close
- Icons Enable command is no longer supported for VSCode >= v1.6.0. -> Close

[2016-10-11 11:42] robertohuertasm commented on #367
3.2.0 is out and should fix this! Let me know if it's working for you! 😉

[2016-10-11 11:44] mbausdorf commented on #367
My vsicons.settings file still says 3.0.1 and after the update the message also said 3.0.1 but I dont see the message anymore when restarting Code. Thanks so much, great job!

[2016-10-11 11:47] robertohuertasm commented on #367
Argh, I will amend this right now. I think people is already missing our usual release frequency so... 😆

[2016-10-11 11:49] robertohuertasm commented on #367
3.0.3 knocking at your doors! thank you all!

[2016-10-11 11:51] mbausdorf commented on #367
![image](https://cloud.githubusercontent.com/assets/5411964/19269229/c22ba676-8fb9-11e6-88f4-2befe46d8523.png)

Settings file value is also correct. Nice work! Thanks for the quick help, much appreciated!

[2016-10-11 11:52] #367 closed

[2016-10-11 11:52] nandowalter commented on #367
Thank you @robertohuertasm , fast fix!!!!!

[2016-10-11 12:39] viniciusld opened #368 "Icons are gone"
I'm using vs code v 1.6.0 and extension v 3.0.3

I updated my vs code today to this version and all the icons are gone.

I've been through this before and followed the instructions from this comment (https://github.com/robertohuertasm/vscode-icons/issues/281#issuecomment-245881786) and every thing worked fine, but now i cant use the Icons Update command.

- Already tried to reinstall the extension

[2016-10-11 13:08] Thavarajan commented on #368
just use the icons theme to enable it again

[2016-10-11 13:10] robertohuertasm commented on #368
Hi @viniciusld, icons are now supported via the official API. Please read the readme for more info on this matter.

[2016-10-11 13:10] #368 closed

[2016-10-11 13:11] viniciusld commented on #368
@robertohuertasm didn't know about that. Thank you!

[2016-10-11 14:46] wagerfield commented on #298
This still isn't working for me?

I am running the latest version of VS Code 1.6.0 and have the latest version of vscode-icons (3.0.3)

I have set the following flags set in my user settings:
[code]

...but I am still seeing the folder icons in the file explorer:

![screen shot 2016-10-11 at 15 45 41](https://cloud.githubusercontent.com/assets/412747/19274935/d94686e0-8fc9-11e6-9772-63d0ab7d088d.p

[2016-10-11 14:58] mmisztal1980 opened #369 "Icons Enable command is no longer supported for VSCode >= v1.6.0."
I've downloaded the icons update and it seems that the ```Icons-Enable``` command is no longer supported?

I'm presented with a popup notification saying:

My VSCode Version is 1.6.0 and there are no updates available for it at the moment.

Can you elaborate on that please?

[2016-10-11 15:01] robertohuertasm commented on #369
@mmisztal1980 it's all in the readme. You can also find info in #368. You have to use the official API to get vscode-icons again.

[2016-10-11 15:01] #369 closed

[2016-10-11 15:05] mmisztal1980 commented on #369
Hi Roberto,

Forgive me but I'm having problems understanding how to do this. I take it the readme may not be idiot-proof enough. I fail to find the required information. Can you help me with that please?

[2016-10-11 15:07] mmisztal1980 commented on #369
Found it, but I had to look for it like 3 times...
Wanting to use the official API and get rid of the custom functionality

You will have to disable the extension by executing the Icons Disable command. Then go to File > Preferences > File Icon Theme > VSCode Icons. (Note on OSX it is Code > Preferences > File Icon Theme > VSCode Icons.) If you have never used the custom functionality then just ig

[2016-10-11 15:10] robertohuertasm commented on #369
@mmisztal1980 I have to rewrite the readme. Specially due to the new changes introduced. Forgive the bad explanations 😊

[2016-10-11 15:13] robertohuertasm commented on #298
@wagerfield starting from v.3.0.0 and VSCode 1.6.0, we have abandoned all the custom functionalities and we only rely on official VS support so all the configurations of the extension are gone and this can only be managed via vscode api. I'm not sure if they provide now with something similar. In any case I encourage you to open an issue in their repository asking for the feature. 😉

[2016-10-11 18:02] MinnieTheMoocher opened #370 "user setting vsicons.hideCustomFolderIcons is without effect"
- I'm using Visual Studio Code Version 1.6.0 Stable
- I'm using the extension version 3.0.3 of
    https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Windows 64bit]
- [x] I'm sure this issue is not a *duplicate*?

**Descr

[2016-10-11 18:08] MinnieTheMoocher commented on #365
+1, I also would love to have a *.proto icon

idea for icon:

Could be derived from JSON icon, but using a different color for the braces.

In my brain, this wakes the "struct" association in my brain, which protobuf is all about.
It is about declaring structs.

[2016-10-11 18:39] MarcAdans commented on #364
Found only this reference

http://www.mortenbs.com/?q=delphi-xe2

[2016-10-11 19:10] jens1o commented on #370
That's right. Since the new version, we full use the official API, which doesn't support options right now. Feel free to ask in Code's Repo for a setting.

[2016-10-11 20:20] MinnieTheMoocher commented on #370
then why does this extension put that setting into VSCode's default options?

[2016-10-11 20:57] robertohuertasm commented on #370
@MinnieTheMoocher these are legacy options that will be removed in the next release. Please see the [motivations to apply this change here](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#state-of-the-extension)

[2016-10-11 20:57] #370 closed

[2016-10-11 20:58] robertohuertasm commented on #370
See #336

[2016-10-11 23:11] mmisztal1980 opened #371 "Vagrantfile icon gone"
Hi,

I've noticed, that with the new version, the Vagrantfiles' icon appears to be missing.

Regards

[2016-10-12 00:21] djharvey999 opened #372 "Qlikview/REST Icon Support"
Hi Team,
Great work on the extension.
Could I please request support for the following file types?

Qlikview -
*.qvd
*.qvw
Icon URL: http://www.file-extensions.org/imgs/app-icon/128/9407/qlikview-icon.png

RESTful -
*.rest
Icon URL: http://imgur.com/G5tQRsa

Thanks

[2016-10-12 11:51] jens1o commented on #371
Any icon, or just Vagrantfile? Do you using the right Icon Pack?

[2016-10-12 12:20] mmisztal1980 opened #373 "Enabling the VSCode Icons theme causes double icons to be displayed"
![image](https://cloud.githubusercontent.com/assets/1357057/19309718/ee7ddb9a-9086-11e6-8521-48a7127ed1a8.png)

Enabling the VSCode Icons theme causes double icons to be displayed.

[2016-10-12 12:21] jens1o commented on #373
Execute ```Icons Disable```.

[2016-10-12 12:21] robertohuertasm commented on #373
You have to disable the old icons prior before enabling the official API. Just execute `Icons Disable` as @jens1o  suggests.

[2016-10-12 12:22] mmisztal1980 commented on #373
Just diagnosed this. This happened when VSCode wasn't able to start as administrator due to company policy.

[2016-10-12 12:30] #371 closed

[2016-10-12 12:33] robertohuertasm commented on #373
@mmisztal1980 have you been able to solve it?

[2016-10-12 12:34] robertohuertasm commented on #373
Of course you'll need administrator privileges to run any of the old commands. The hard way to make it work again is to reinstall VSCode. You won't lose any of your settings/extensions so it's safe to do it.

[2016-10-12 12:46] #372 closed

[2016-10-12 12:51] robertohuertasm commented on #366
http://xyne.archlinux.ca/img/arch_linux_programming_language_logos/arch-fortran_logo.png
It will be delivered in next release.

[2016-10-12 12:53] #366 closed

[2016-10-12 13:01] #364 closed

[2016-10-12 13:06] #363 closed

[2016-10-12 13:11] robertohuertasm commented on #365
[Found this logo](https://www.google.es/imgres?imgurl=http%3A%2F%2Fimg.keenwon.com%2F2014%2F07%2F20140731191357_86129.png&imgrefurl=http%3A%2F%2Fkeenwon.com%2F1304.html&docid=41c_3GT0F9euqM&tbnid=ueclCkNIpll4_M%3A&w=500&h=79&client=firefox-b-ab&bih=981&biw=1781&ved=0ahUKEwjRvNzeqtXPAhWIOhoKHTQNA9EQMwgiKAQwBA&iact=mrc&uact=8)

[2016-10-12 13:13] #365 closed

[2016-10-12 13:25] robertohuertasm opened #380 "Convert all icons to svg"
Photoshop is able to do it natively. So as a first step with a saved action we'll be able to generate a complete svg set easily. We should then revisit all the icons in order to provide the best quality for all of them.

Progress tracker: https://github.com/JimiC/vscode-icons-svg/issues

[2016-10-12 13:26] #373 closed

[2016-10-12 13:34] jens1o commented on #380
Great idea. I'll help you.

[2016-10-12 16:05] TonySpegel commented on #21
Issue remains in latest VSCode (1.6.0) and vscode-icons 3.0.4 - Ubuntu 16.04 LTS and I also get this when using icons enable "command is no longer supported for VSCode >= v1.6.0"

[2016-10-12 16:23] robertohuertasm commented on #21
@TonySpegel see the readme, #368 and #369. Icons Enable is no longer supported with vscode >= 1.6.0

[2016-10-12 19:48] raztd opened #383 "Icon Request: Prolog"
SwiProlog has a nice logo https://en.wikipedia.org/wiki/File:Swipl.png

[2016-10-13 03:05] simonguo opened #384 "Icons Enable command is no longer supported for VSCode >= v1.6.0."
Icons Enable command is no longer supported for VSCode >= v1.6.0.

[2016-10-13 03:50] jens1o commented on #384
That's true. You can only use the File Icon Theme.

[2016-10-13 07:04] #384 closed

[2016-10-13 13:24] miparnisari opened #385 "In VS Code 1.6.0 I cannot enable the Icons"
I installed the extension in admin mode, restarted the app, tried to enable the icons by pressing F1 and "Icons Enable" and got this: **Icons Enable command is no longer supported for VS Code >= 1.6.0**. And obviously I don't see any icons.

![image](https://cloud.githubusercontent.com/assets/5374887/19350657/06e7d336-912f-11e6-8d2b-f7d92c73cb08.png)

[2016-10-13 14:25] jens1o commented on #385
That's right. The extension does not support this hacky implementation. You need to activate it via the File Icon Theme.

[2016-10-13 14:42] miparnisari commented on #385
Oh! Okay, thanks. I'm closing this now.

[2016-10-13 14:42] #385 closed

[2016-10-13 18:51] JonathanWolfe opened #386 "Icon Change: StyleLint"
**Change Icon of StyleLint**

[StyleLint](http://stylelint.io) currently has a pure black icon which isn't visible on the default UI color scheme.

![2016-10-13 14_31_25-omneo-ui - visual studio code](https://cloud.githubusercontent.com/assets/1449779/19361741/cfecadde-9151-11e6-8434-7b53aa04f680.png)

I recommend swapping it to a white version.

Attached here is a white png at 32x32, but white on

[2016-10-13 19:50] jens1o commented on #386
svg is great!

[2016-10-14 20:50] jens1o commented on #386
@robertohuertasm Is there something good to know when dealing with svgs? Can I put them in the icons folder as usual?

[2016-10-15 00:30] NicolasParada opened #387 "[Icon Request] Rollup"
Add icon for `rollup.config.js` files.
![Rollup](http://rollupjs.org/images/rollup_logomark.svg)
[svg](http://rollupjs.org/images/rollup_logomark.svg)

[2016-10-15 05:15] saltykovdg opened #388 "webpack files icons error"
![webpack icons](https://cloud.githubusercontent.com/assets/18646645/19407593/674529bc-92d9-11e6-9a90-21cf21f2ce88.jpg)

[2016-10-15 05:50] jens1o commented on #388
Could you explain what you feel is wrong? Do yoou want another icon for the production config?

[2016-10-15 06:15] robertohuertasm commented on #388
@jens1o what is wrong is that webpack.config.prod.js should have the same icon as dev.js

[2016-10-15 06:19] jens1o commented on #388
Ah.. I'll do it. @robertohuertasm

[2016-10-15 07:17] #388 closed

[2016-10-15 11:45] saltykovdg commented on #388
thanks

[2016-10-15 12:38] robertohuertasm commented on #383
Extensions?

[2016-10-15 14:07] robertohuertasm commented on #386
Yes, you can put them there. The problem is that the build process is still not ready. I'll have to modify it in order to mark svg somehow.

There's still a huge refactoring pending in the project because there are some things that are not really used anymore but are still there for people who use VSCode < 1.6.0.

I was willing to introduce these modifications with the next VSCode release but mayb

[2016-10-15 14:13] robertohuertasm commented on #386
Let's use the png for this release. We have 3 icons to support along this one. I will start the svg feature next.

[2016-10-15 14:23] raztd commented on #383
I use *.pl extension for files I will compile with swi-prolog

[2016-10-15 14:25] jens1o commented on #383
Are they other possible extension?

[2016-10-15 14:28] raztd commented on #383
Yes

https://en.wikipedia.org/wiki/Prolog

[2016-10-15 14:30] jens1o commented on #383
Thank you! I'll integrate it.

[2016-10-15 15:47] #383 closed

[2016-10-15 15:52] robertohuertasm opened #392 "Modify the build functionality to accept light icons"
Now the project doesn't take care of light themes. I think it would be easy enough to modify the build process in order to add specific icons for light themes.

[2016-10-15 16:20] #386 closed

[2016-10-15 16:20] jens1o commented on #392
Hmm. nice comfort, but is it worth it?

[2016-10-15 16:27] #387 closed

[2016-10-15 16:35] robertohuertasm commented on #392
I think so. There are some people complaining about that. And if we have the option I will accept PR gladly. Some icons will only require a color change or some border applied. Plus, the official api allows to publish specific icons just for light themes. It wouldn't affect the usual flow that we have now.

[2016-10-15 16:36] jens1o commented on #392
Great! I'm agree with you!

[2016-10-15 16:55] NicolasParada commented on #387
Thanks for the good work :D

[2016-10-15 19:18] iRoachie commented on #270
@jens1o  Any updates on this?

[2016-10-15 19:18] iRoachie commented on #380
Is there like I checklist where we can see what's done and what's not?

[2016-10-15 19:35] jens1o commented on #270
@iRoachie No. Should I close this? But first, let me look. (Even when it is not my job...)

[2016-10-15 19:37] jens1o commented on #270
Okey, looked forward...

It's ```nuget, nupkg, nospec, psmdcp```

[2016-10-15 19:43] jens1o commented on #380
@iRoachie Great idea. We could use the markdown checkboxes(use ```[ ]```)

[2016-10-15 19:48] jens1o commented on #324
Hmm, it doesn't have an official icon. Any idea for this?

https://github.com/toml-lang/toml

[2016-10-15 19:51] #270 closed

[2016-10-18 06:13] benedictleejh opened #398 "Icon Request: Idris"
- I'm using Visual Studio Code Version [1.6.1] [Stable]
- I'm using the extension version [3.0.5]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Linux] [x64]
- [x] I'm sure this issue is not a _duplicate_?
- [x] I want to create an icon request(if not, remove these lines below):
  - Type: extensio

[2016-10-19 21:36] csprabala opened #399 "Please associate .pp extension with puppet."
Please associate .pp extension with puppet. I see that only .epp extension is associated with puppet.

right now they show up without an icon at all.

[2016-10-24 11:52] #399 closed

[2016-10-24 15:45] neoeinstein opened #404 "Icon Request: .gitlab-ci.yml"
I want to create an icon request:
- Icon Name: Gitlab CI
- Sample original Icon(32x32/png/transparent whenever possible): https://gitlab.com/favicon.ico
- Extensions: .gitlab-ci.yml

[2016-10-25 13:20] yevkbb opened #406 "Icon Request: test/spec JS"
- I'm using Visual Studio Code Version [1.6.1] [Stable]
- I'm using the extension version [3.0.6]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Windows] [x64]
- [x] I'm sure this issue is not a _duplicate_?
- [x] I want to create an icon request:
  - Type: extension
  - Icon Name: Test/Spec
  - E

[2016-11-02 17:13] robertohuertasm opened #407 ".cfg extensions is not just for NIM language."
.cfg file extension is for configuration files and it's not only used by Nim language. It should sport a configuration specific icon.

[2016-11-02 17:26] jens1o commented on #407
another duplicate? Yeah.

[2016-11-03 06:09] kristianmandrup commented on #328
Please add ability to assign custom icons to extension such as `.test.js` or `.spec.js` - thanks!

[2016-11-03 06:13] kristianmandrup commented on #406
YES, this is the latest fashion! We have the tools now to avoid having to partition our code by type. Much better to partition by domain and have all the files related to a particular domain in one place.
I follow the same convention `.test.js` or `.spec.js` and I know that 100s if not 1000s of js developers are shifting to use this convention. Please add support for this :)
Thanks!

[2016-11-03 06:14] kristianmandrup commented on #406
Or perhaps this is already possible? If so, please add documentation for how to achieve this - how to add custom mappings to icons using this plugin. Thanks :)

[2016-11-03 06:31] kristianmandrup opened #408 "Please add tips on creating custom icons"
Include links to some icon editors/design tools

http://iconion.com/
http://www.xiconeditor.com/

Cheers!

[2016-11-03 07:37] kristianmandrup commented on #406
I made this PR: https://github.com/robertohuertasm/vscode-icons/pull/409

[2016-11-03 08:45] jens1o commented on #408
I disagree with you, because we're not creating any icons, but official language icons. So you do not have to use this, because you didn't actually must create the icon from scratch.

[2016-11-03 17:29] NicolasParada opened #410 "[Icon Request] SugarSS"
Add icon for `.sss` files.
![SugarSS](https://cdn.rawgit.com/postcss/sugarss/master/logo.svg)
[svg](https://cdn.rawgit.com/postcss/sugarss/master/logo.svg)

Though the SugarSS logo isn't the best for an icon... Maybe it should be the CSS icon 🤔

[2016-11-04 10:37] kristianmandrup commented on #406
I hope to see these icons available by the end of this weekend :)
The PR is fine, just having problem placing the icons correctly, ie. centered vertically, one pixel down.

[2016-11-05 03:12] pocket7878 opened #411 "[Icon Request] JBuilder"
Rails's default json template engine file

[2016-11-05 03:45] DanJ210 opened #412 "So, where are the icons?"
This is the first time I've ever done this.

https://1drv.ms/i/s!AlnGeQSYLUVaoocds4rUwd7LmxHtzg
https://1drv.ms/i/s!AlnGeQSYLUVaoocenxf_W_aZSQsSfg

I'm new to a lot so any way to know what I'm doing wrong based on the screenshots? Everything is updated to the fullest.

**Checklist:**
- I'm using Visual Studio Code Version [1.x.x] [Stable/Insider]
- I'm using the extension version [1.x.x]
- [ ] I'v

[2016-11-05 04:00] DanJ210 commented on #412
I read and read and found that they were disable in file icons under preferences. I read in the extension description with how to turn them off or disable them, so I checked and there it was. I didn't know this was possible as I could disable the extension from the extension list, but when I enabled them, I thought they were enabled. So one has to enable and then make sure they are double enabled

[2016-11-05 04:00] #412 closed

[2016-11-05 08:20] jens1o commented on #411
file icon? Extensions?

[2016-11-05 08:23] jens1o commented on #398
@robertohuertasm Should we wait for v4 or should we doing these now and convert it to png?

[2016-11-05 09:26] #404 closed

[2016-11-05 09:29] robertohuertasm commented on #398
@jens1o convert it to png and we will recreate it later when v4 is done. Maybe this weekend I'll have the time to prepare v4.

[2016-11-05 15:19] robertohuertasm opened #415 "New icons"
lerna.json, tslint.json
improve git in size

[2016-11-05 16:06] #415 closed

[2016-11-05 16:33] #406 closed

[2016-11-05 23:59] #336 closed

[2016-11-06 10:22] JimiC opened #420 "[Icon Request] Ember"
**Checklist:**

- [x] I'm sure this issue is not a *duplicate*
- [x] I want to create an icon request:
      - Type: [.ember-cli]
      - Icon Name: [ember]
      - Sample original Icon(32x32/png/transparent whenever possible): [N/A]
      - Extensions: no extension

[2016-11-06 11:17] JimiC opened #421 "[Task] Convert all PNG to SVG"
This is a proposal task.

If you approve of this, I can provide a PR with all icons converted to SVG.

**Sample**
PNG: ![file_type_coffeescript 2x](https://cloud.githubusercontent.com/assets/1716442/20037129/08befcf0-a423-11e6-85a1-bbb42b60ed75.png)
SVG: [file_type_coffeescript@2x.svg.zip](https://github.com/robertohuertasm/vscode-icons/files/573771/file_type_coffeescript.2x.svg.zip) (remove `.zip

[2016-11-06 16:52] robertohuertasm commented on #421
@JimiC I'll close this as a duplicate of #380. We can continue the discussion there. For me it's ok if you provide a first SVG version of all the icons. 😁

[2016-11-06 16:52] #421 closed

[2016-11-06 16:53] JimiC commented on #421
Fine with me.

[2016-11-06 17:04] #407 closed

[2016-11-06 17:13] #420 closed

[2016-11-06 17:20] JimiC opened #424 "[Task] Review and fix files declaration"
**Checklist:**

- [x] I'm sure this issue is not a *duplicate*?

Currently, some file declarations are incorrect. (i.e. `.editorconfig` is a configuration file with no extension, and has been declared as a file extension).

**Task assignment:**
Go through all entries in `supportedExtensions.js` and correct the file declaration.

[2016-11-06 17:21] JimiC commented on #424
This is just a placeholder issue for the PR I'm gonna submit (sometime until next weekend, I hope).

[2016-11-06 17:34] JimiC commented on #424
@robertohuertasm

I see some entries like
[code]
can they be concatenated to a one line declaration, like
``` { icon: 'bower', extensions: ['bowerrc', 'bower.json'], contribType: ctype.filename } ```
?

[2016-11-06 17:40] #410 closed

[2016-11-06 18:14] #398 closed

[2016-11-06 18:20] JimiC commented on #424
@robertohuertasm I think I have answered my own question. I figured that if two filenames have a same icon and one filename has an extension, but still belongs to the `fileNames` group, it get on a new line.

[2016-11-06 18:28] robertohuertasm commented on #324
I'm going to create a literal icon and close this issue.

[2016-11-06 18:40] robertohuertasm commented on #324
A flamingo finally...

[2016-11-06 18:41] #324 closed

[2016-11-06 19:17] #411 closed

[2016-11-06 19:23] robertohuertasm commented on #424
@JimiC those entries should be merged into one. This is a legacy issue. We just removed the old custom funcionality and before we needed to separate the different filenames into different entries in order to generate our custom replacements.

As this is now not needed at all, we may have several cases like this where we could merge several entries into one. If they all are `filenames` or `fileexte

[2016-11-06 19:25] JimiC commented on #424
@robertohuertasm Could to know. What about those with `contribOrder`?

[2016-11-06 19:25] robertohuertasm commented on #380
I've started to deploy svg icons. I've created an `icons.ai` file as a template for you to use when creating new icons.

All you have to do now is to add the attribute `svg: true` to the supported extensions entry of your choice.

[2016-11-06 20:07] robertohuertasm commented on #424
contribOrder was used to bypass a bug in VSCode icon theming functionality. It seems that it's already solved so I guess we can get rid of it. I'm going to do it right now.

[2016-11-06 20:53] #424 closed

[2016-11-07 11:40] yevkbb opened #431 "Icon Request: PureScript"
- I'm using Visual Studio Code Version [1.7.1] [Stable]
- I'm using the extension version [4.0.0]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- My system is: [Windows] [x64]
- [x] I'm sure this issue is not a _duplicate_?
- [x] I want to create an icon request:
  - Type: extension
  - Icon Name: PureScript / Pu

[2016-11-07 11:57] DanJ210 opened #432 "Blue VScode Folder Icons! Thoughts?"
Hey all! I'm new to this so excuse me if I miss something but I was suggest to post here to get everyone's thoughts so I'm glad to do it!

I know most love the yellow color for folder icons but I LOVE the bright blue that we see on top of the .vscode folders. I suppose that changing them all to blue would look all the same but maybe if they were all blue, the .vscode ones would stand out because t

[2016-11-07 12:55] jens1o commented on #380
Hmm. I don't have these Adobe Products 😢

[2016-11-07 12:56] iRoachie commented on #380
SVG template then?

[2016-11-07 12:57] robertohuertasm commented on #380
I guess there should be other open source software capable of editing .ai
https://inkscape.org/en/

[2016-11-07 15:19] mandricore opened #433 "Proposal: Overlay icons to visualise file changes etc"
- [ x ] I'm sure this issue is not a *duplicate*?

Would it be possible to allow for file icon overlay, so we can visualise more than just the file type (extension). I was talking with a developer friend about preferred Editors and icons.
He mentioned he really loves that Atom tree view indicates which files have changed (since last commit). In VSC, we have to switch to a whole different view to s

[2016-11-07 15:34] robertohuertasm commented on #433
Hi @mandricore,

it certainly would be a great idea but unfortunately this extension doesn't do code patching anymore and follows what's been established by the VSCode team. I suggest you to put this request into their repository because it's them who should have to provide this kind of functionality.

[2016-11-07 15:34] #433 closed

[2016-11-07 15:35] jens1o commented on #433
I would agree, but the problem is, that I don't think this is possible through the API...

I'm too slow... Thanks @robertohuertasm

[2016-11-07 15:37] jens1o commented on #432
Could you upload the image here? Since I've updated some security related things, I cannot use for example OneDrive or Outlook for a month.

[2016-11-07 16:46] DanJ210 commented on #432
Security blocks those out? Oh no! Not even links through a browser huh? No problem. Before I didn't realize I could upload straight to here.

I created a new pic that shows better what I'm thinking. The blue .vscode folders is a great shade of blue that I think all folders would look great with! But just to give it a little more contrast and pop, the .vscode folders could be changed to the bright

[2016-11-09 08:45] peterjuras opened #435 "Disable notification on version update"
Hi!

I really like this extension, however I feel that the notification after a version update is not really necessary. Apart from the fact that notifications will stay there forever until they are dismissed, if every extension would do this, VSCode would become really cluttered. The only necessary notification was when the big update with the built in API occurred, since then however they haven't

[2016-11-09 12:36] amit-srivastava-007 opened #436 "Add folder icons for different application folders"
Hi
This is really nice and I like it very much.
Now a days when we are working with standard folder structures for Angular and Ember Apps it will be nice to have folder icons for following folders as well

- /app
- /components
- /models
- /routes
- /serializers
- /controllers
- /helpers
- /initializers
- /services
- /templates

Regards

[2016-11-09 13:49] jens1o commented on #436
The only problem is, that these folder names aren't used by angular only... Many PHP Frameworks are using this structure too...

[2016-11-09 15:31] robertohuertasm commented on #435
Hi @peterjuras, fair enough. I think you're right. I will remove it in the next version.

[2016-11-09 15:48] ialex90 opened #437 "Custom Icons for Angular 2 files"
Hi there,
this is a great plugin, thanks for it.

I just thought that it would be nice to have angular icons for angular convention names for certain files. Take a look to this plugin:
https://marketplace.visualstudio.com/items?itemName=davidbabel.vscode-simpler-icons

Just for the angular conventions as I said, let's say component.ts, directive.ts, pipe.ts, service.ts and so on.

What do you thin

[2016-11-09 15:53] robertohuertasm commented on #437
Hi @ialex90,

thanks for posting this suggestion here. I think it's a great idea. Maybe we could provide not only the Angular icon but the Angular Icon with the TS icon, too. As we do with specs.ts and so on. I'll show you once I have the icons and l'll be glad to hear your thougths about  it. 😉

[2016-11-09 18:57] DanJ210 commented on #432
What if we don't get much traffic because there are no bugs so I don't get people upvoting who might have upvoted! Lol.

[2016-11-09 18:58] DanJ210 commented on #435
@robertohuertasm I don't mind it. I like the link to a change-log.

[2016-11-09 19:00] DanJ210 commented on #432
@jens1o How can I get my issue dubbed as a question or debate like the others on this repository?

[2016-11-09 19:02] peterjuras commented on #435
As mentioned, maybe an option to disable it in the settings? This way users are informed until thry choose not to be :)

[2016-11-09 19:05] DanJ210 commented on #435
@peterjuras Yes like a don't show again unless it gets reset by being uninstalled then reinstalled.

[2016-11-09 20:15] jens1o commented on #435
I'm interested in having a option too. For testing purposes, I want to know when the extension has been updated, when I should check something etc.

[2016-11-09 20:16] jens1o commented on #432
I will do that for you ;) @DanJ210 I've missed it. Excuse me.

[2016-11-10 07:10] Sn3b opened #438 "Never managed to get icons working :("
Hi,

On both of my computers the icons never show, I feel I'm doing something wrong... :/

First computer is Windows 10, second is Windows 8. I have tried everything, uninstall/reinstall, install as admin, run as admin, Ctrl+P¨, Ctrl+Shift+P, F1 etc... But nothing...

Funny thing too, I've tried other icon packages, none of them work, also, when I hit F1 or Ctrl+Shift+P and start typing "Icons Ena

[2016-11-10 09:54] robertohuertasm commented on #438
Please, read the [readme here](https://github.com/robertohuertasm/vscode-icons#enable-the-extension)

[2016-11-10 09:54] #438 closed

[2016-11-10 15:05] DanJ210 commented on #432
Thanks @jens1o no worries.

Would it be hard to try it for a day? Or even if I could have the option? Don't get me wrong because the icons are great and I'll use them no matter what color. But I did try a few icon extensions early on and fell in love with the blue color! Considering it is my favorite color! I also said it was bright but not any brighter than the yellow. If anything. The blue is mo

[2016-11-10 15:06] DanJ210 commented on #438
@Sn3b I had the same silly thing. You select your icons to use just as you would select a color theme.

[2016-11-10 16:03] Sn3b commented on #438
Ah right, I feel stupid now... Thanks guys! :)

[2016-11-10 16:26] DanJ210 commented on #438
@Sn3b Ha! You made me feel better because I did the same thing and made a post before figuring it out! So don't feel bad!! Maybe vscode icon devs can put a reminder for first installers and newbies that makes it easier to know what to do!

[2016-11-10 16:41] jens1o commented on #432
The questions are going to @robertohuertasm, since he's the man who made this possible.

[2016-11-10 17:29] Sn3b commented on #438
Yeah! Especially since you need to manually enable it and then restart, one would think it's enough ;)

[2016-11-15 14:44] amit-srivastava-007 commented on #436
Even though these same folder names are being used by many languages but there purpose are moreover or completely same so such icon can be suggested that serve the purpose by name and not by specific language

[2016-11-15 23:19] NicolasParada opened #441 "[Icon Request] Graphql"
Add icon for `.gql` and `.graphql` files.
![Graphql](http://graphql.org/img/logo.svg)
[svg](http://graphql.org/img/logo.svg)

[2016-11-15 23:24] NicolasParada opened #442 "[Icon Request] .env.example"
Add icon for `.env.example` as a configuration file too; just like `.env` files.

[2016-11-18 18:24] mhenke commented on #385
I am new to VSCode. How do I active it via the File Icon Theme?

[2016-11-18 18:29] jens1o commented on #385
At the top, there's a menu:
![image](https://cloud.githubusercontent.com/assets/11234139/20441534/3137759e-adc5-11e6-97ab-d2187c9a6f27.png)

Then follow my path and click on it. Then select "VSCode Icons". There you go!

[2016-11-18 18:30] mhenke opened #444 "Enable instruction not correct (1.4.0 version)"
I am trying to active the icons in VSCode but the menu option doesn't exist. How do I active the icons? I am new to vscode.

Thanks,

#140

== Enable the extension ==
Go to File > Preferences > File Icon Theme > VSCode Icons.
(Note on OSX it is Code > Preferences > File Icon Theme > VSCode Icons.)

[2016-11-18 18:32] jens1o commented on #444
There's no support for version 1.4 anymore. Maybe @robertohuertasm has a old release supporting this version?

[2016-11-18 18:32] mhenke commented on #444
Ok. I'll close this ticket

[2016-11-18 18:34] jens1o commented on #444
Nono... Wait for a reply of the owner. 😃

[2016-11-18 21:41] robertohuertasm commented on #444
@mhenke is there any specific reason for you to use 1.4.0 version? I would definitely upgrade to the latest version. If you want you can build the [3.0.8 version of the plugin with 1.4.0 support](https://github.com/robertohuertasm/vscode-icons/releases).

[2016-11-18 22:28] mhenke commented on #444
My company hasn't upgraded yet. I put in a request to upgrade the vscode software package. Computers locked down too :-)

[2016-11-19 11:22] JimiC commented on #380
**Update**
Just FYI. I'm working on this issue but the progress is slower than I expected, as I have to recreate the icons in some cases and do a lot of tweaking in others.

[2016-11-19 12:33] JimiC commented on #380
The progress can be monitored via [this issue in my fork](https://github.com/JimiC/vscode-icons/issues/1).
And a preview of the SVG icons can be found [here](https://github.com/JimiC/vscode-icons/tree/PNG2SVG/icons/SVG).

[2016-11-19 21:36] robertohuertasm commented on #380
@JimiC you're the man!!! Many thanks for your hard work!

[2016-11-19 21:45] robertohuertasm commented on #444
@mhenke I see... then you-ll have to build tag 3.0.8 using [vsce package](https://code.visualstudio.com/docs/tools/vscecli#_packaging-extensions), create a `.vsix` and open it with your visual studio code.

[2016-11-19 21:45] #444 closed

[2016-11-20 09:20] JimiC commented on #380
@robertohuertasm
Just A quick question. Do we care about the size of the SVG logo?
Should it still be 32x32? I know it's irrelevant, as it's an SVG, so it scales, but just for consistency.
Or should the main purpose be the size of the SVG file?

[2016-11-20 10:15] JimiC commented on #432
I'm too baffled with the folder icons contrast. I too think that the folder icon and the associated icon should be more "visible".

[2016-11-20 11:51] JimiC opened #445 "Remove `typings` folder (support of Typescript 2+)"
Switching to `vscode v1.0.0`, and supporting `Typescript v2`, the use of the `typings` folder is redundant.

https://www.npmjs.com/package/vscode

I have tested my suggestion under:
`Windows 10`
`Bash on Ubuntu on Windows`

Discuss?

[2016-11-20 19:06] robertohuertasm commented on #380
Hi @JimiC, I certainly created `icons.ai` template using a 32x32 canvas but as you said, this doesn't really matter in our case. It's ok for me if the SVGs are in different sizes as long as they keep the same proportion and are rendered with a white space around them. I mean, they're not intended to take all the space that vscode provides and keep a padding. In our case, the padding is a 2px paddi

[2016-11-20 20:49] robertohuertasm commented on #445
No discussion about this. I've been playing with the idea of using TypeScript at some point and thought that the folder will be good to house some custom definitions that we may need but we could get rid of this for the moment.

[2016-11-20 20:51] JimiC commented on #445
I'm fairly good at Typescript. I could help switch the entire project to it.

[2016-11-20 20:59] robertohuertasm commented on #432
Hi everyone, sorry for not being too active but I've been busy these days.
Regarding folder colors, this is such a subjective world that I would not have any rational reason to say that I'm glad with the current color. It's the typical, retro yellow color and I like it.

That being said, probably we should explore other colors. I'm not closed to that. But I wouldn't do it in production directly. M

[2016-11-20 21:12] JimiC commented on #432
It's not so much about the plain folder icon as more of the folder icons that are colored and the associated icon has the same colors (i.e `vscode` folder is blue and the `vscode` icon is also blue). Another example is the `bower` folder.

[2016-11-20 21:42] t2 opened #450 "[Icon Request] Buck"
Type: `.buckconfig`
Icon Name: Buck Build
Sample: https://buckbuild.com/static/og.png
Extensions: .buckconfig

[2016-11-21 09:20] #445 closed

[2016-11-21 10:11] sujinsr opened #453 "[Icon Request] .class"
add icon for java's .class files.

[2016-11-23 14:01] Kainax opened #456 "Folder Icons Request"
- Type: extension
      - File Name: .conf (same icon as for .config)

      - Type: folder
      - Folder Name: php
      - Folder Name: js
      - Folder Name: tools
      - Folder Name: assets
      - Folder Name: tmp (+ "temp" folder)
      - Folder Name: .ebextensions          (aws elastic beanstalk default folder starting with dot)
      - Folder Name: .elasticbeanstalk      (aws elastic bea

[2016-11-23 16:29] Kainax commented on #456
Hi, I think it should be labeled both "file icons" and "folder icons". Thanks.

[2016-11-23 17:23] jens1o commented on #456
Surely ;) But I'm busy... Is there a logo for aws in svg? Since we're upgrading to svg, it would be nice if we don't have to convert all stuff.

[2016-11-23 22:52] robertohuertasm commented on #456
@jens1o, @Kainax has attached a zip with lots of icons from Amazon AWS in png and svg format, I guess as a suggestion to use. We'll evaluate this and see how many of them we'll eventually implement. 😉

[2016-11-23 23:26] Kainax commented on #456
Yes, as it says in a filename of the provided link  :) However, it is more appropriate if folder's icon will be not AWS, but Elastic Beanstalk's application icon. You can get .svg version of it here:

https://upload.wikimedia.org/wikipedia/commons/0/03/AWS_Simple_Icons_Deployment_Management_AWS_Elastic_BeanStalk_Applicaton.svg

Speaking of AWS icon (orange cloud), it would be nice to have it over

[2016-11-24 09:33] JimiC commented on #456
@robertohuertasm @jens1o @Kainax I'll have a look at them on the weekend.

[2016-11-24 15:41] jens1o commented on #456
Thank you @JimiC 😉

[2016-11-25 01:49] bayesrule opened #458 "Bug? Perl icon not displayed."
Hi,

I'm using the latest vscode and vscode-icons. This issue has persisted for several versions. The current perl icon is displayed like this.

![perl](https://cloud.githubusercontent.com/assets/3372671/20612391/61e86138-b2f4-11e6-8c8e-e33fe6fbc8ac.png)

[2016-11-25 02:58] JimiC commented on #458
What you are posting is the icon for [`Prolog`](https://github.com/robertohuertasm/vscode-icons/blob/master/icons/file_type_prolog%402x.png) [(with extension of `P`)](https://github.com/robertohuertasm/vscode-icons/blob/master/src/build/supportedExtensions.js#L130) and not `perl`.

[2016-11-25 06:42] bayesrule commented on #458
@JimiC Thanks for replying. But .perl is really not commonly used for Perl script, and Perl is a more popular language nowadays than Prolog. Do we still have to categorize .pl as Prolog file instead of Perl file?

Besides that, it seems vscode identify .pl as a Perl file by default.

[2016-11-25 07:43] JimiC commented on #458
Looks like we have a conflict here. The `.pl` file extension is used from both, `Prolog` and `Perl`.
I looked extensively at wiki's but couldn't get a clean view.
In order to resolve this, I propose to make the following changes:
`Perl` => `.pl, .pm`
`Prolog` => `.pro, .P`

@robertohuertasm @jens1o Thoughts?

[2016-11-25 11:46] jens1o commented on #458
Any neutral icon for the conflict extension(s)? When it's not possible, I think perl should be preferred to prolog.

[2016-11-25 13:53] robertohuertasm commented on #458
I think we can use the language service for that. I'll take a look maybe this weekend. I tested it before we switched to "non-hacks" mode and it was not working ok. I'll give it a try again.

[2016-11-26 15:38] Lucidiot opened #459 "[Icon Request] PDF"
- Type: extension
- Icon Name: Portable Document Format
- Sample: [here](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Pdf_by_mimooh.svg/544px-Pdf_by_mimooh.svg.png), see also [Adobe's icon guidelines](https://www.adobe.com/legal/permissions/icons-web-logos.html#pdfs)
- Extensions: .pdf

[2016-11-26 16:33] JimiC commented on #380
@robertohuertasm As I'm getting familiar with the Illustrator tool, I would like to suggest to replace the `icons.ai` file (which has the icons in a invisible stack), with an [`icon-per-artboard.ai`](https://github.com/JimiC/vscode-icons/tree/PNG2SVG/images) file.

This has the following benefits:
- Smaller file
- Ability to have all icons visible
- Export all icons on single click (File > Export

[2016-11-26 17:24] robertohuertasm commented on #380
It seems ok to me. I created it just as a guide not really as an icon repository. Your suggestion makes perfect sense. :wink:

[2016-11-27 00:43] #435 closed

[2016-11-27 00:51] #442 closed

[2016-11-27 00:57] #453 closed

[2016-11-27 13:42] JimiC commented on #380
@robertohuertasm What are the padding rules for folders?

[2016-11-27 14:46] JimiC commented on #380
This is how they look inside the editor:

**100%**
***Closed***
![screenshot - 27_11_2016 16_44_10](https://cloud.githubusercontent.com/assets/1716442/20649146/de37c350-b4c0-11e6-942c-42d2c748d45d.png)
***Opened***
![screenshot - 27_11_2016 16_44_31](https://cloud.githubusercontent.com/assets/1716442/20649149/eb6a1fd2-b4c0-11e6-97bc-a18f1c68d08b.png)

**150%**
***Closed***
![screenshot - 27_11_201

[2016-11-27 15:00] JimiC commented on #437
I have added this in my `TODO` list.

[2016-11-27 15:05] JimiC commented on #436
As long as we find suitable icons this is totally doable.

[2016-11-27 16:22] JimiC commented on #380
After consulting my sister (which is a fashion designer, ad knows about colors), she proposed:

![screenshot - 27_11_2016 18_20_56](https://cloud.githubusercontent.com/assets/1716442/20649725/67adf818-b4ce-11e6-9b4e-eac2d5792ef1.png)

[2016-11-27 18:16] DanJ210 commented on #432
@robertohuertasm I understand, the retro yellow is nice. I have tried the other themes and I'm using a blue folder one now. See, my color theme is bright neon pastel like colors which you can see in the screenshot so I LOVE how the blue matches greatly. Blue with the green that you see with the getMember() and getGenderString() functions and/or the magenta with the public static keywords... I thin

[2016-11-27 18:50] #441 closed

[2016-11-27 18:50] #450 closed

[2016-11-27 20:24] robertohuertasm commented on #380
Hi @JimiC,

first of all, thanks again for your great work! 😄

I would like to notice something prior to any discussion. The other day we were talking about removing the `.ai file with the layers`. I'm thinking that maybe we don't need it at all as `illustrator` or `inkscape` for that matter support direct `svg` edition. This way we wouldn't have to keep a record of propietary `.ai files` duplicat

[2016-11-27 20:25] #459 closed

[2016-11-27 20:37] JimiC commented on #380
1. Yes, the `.ai` file can be removed. It's just convenient for me to keep it, and have all icons at a glance, until I'm done converting all icons.

2. No offence taken on the folder colors. As you can see, I'm discussing my ideas with you, as I can't be in your head to know the guidelines of the folders coloring. It would be nice if those guidelines, for the icons and the folders, would be docume

[2016-11-27 20:39] #431 closed

[2016-11-27 20:44] robertohuertasm commented on #380
@JimiC +1 to make some document about the style guides. I take note!
I would like to stress how happy I am with you collaborating with the project and the high value I have for your opinions and your work!! 😁

[2016-11-27 20:48] JimiC commented on #380
@robertohuertasm So what about the size of the embedded icon? Are you OK with the size of the later example?

Btw, I chose the size of the embedded icon to always be no more than 24x24 pixels.

[2016-11-27 20:52] JimiC commented on #432
@DanJ210 Would like to bring to your attention what we are discussing with @robertohuertasm on https://github.com/robertohuertasm/vscode-icons/issues/380#issuecomment-263145076

[2016-11-27 21:16] robertohuertasm commented on #380
@JimiC I'm ok with that. To be honest, I haven't thought about it seriously while doing the folder icons. I just  more or less tried to keep the same proportions but always subjected to the shape of the icon. See, for instance, the `less folder`. I was force to expand the logo through all the folder length so it could be visible.

[2016-11-27 21:18] JimiC commented on #380
@robertohuertasm I saw it and that's what made me decide to go with no more than 24x24.

[2016-11-29 21:22] smlombardi opened #468 "Feature request: alternate html icon"
IMO, the HTML5 icon many packages use for html files is too "loud" compared to the other icons in the set.  For someone like me with mostly html files, it's a bit much IMO.

![screen shot 2016-11-29 at 4 20 37 pm](https://cloud.githubusercontent.com/assets/835148/20729424/e7f8e6b8-b64f-11e6-9d4d-80bd2a69b9b5.png)

so i frequent replace it with a simpler set of angle brackets:

![screen shot 2016-1

[2016-11-29 21:34] smlombardi commented on #468
FWIW, even changing the color as in "vscode-great-icons" helps

![screen shot 2016-11-29 at 4 33 40 pm](https://cloud.githubusercontent.com/assets/835148/20729836/b7bb61f4-b651-11e6-825e-9d3891876ce6.png)

[2016-11-29 21:52] robertohuertasm commented on #468
As far as I know we cannot provide any sort of setting that could provide a change in the icons without doing some sort of code patching. We're now sticking to the official way of creating icon themes so this should be asked in the VSCode repo. I undestand that maybe you don't like this color but I'm not willing to change it at the moment. We try to stick to "official" icons where possible and mos

[2016-11-29 21:52] #468 closed

[2016-11-30 04:10] sujinsr opened #470 ".java and .class file showing same icon"
Hi,

Since .java and .class showing same icon, it is little confusing while opening the file. Please add the different icon for .class file.

would be great if the icon for .class file similar to link below
http://fileinfo.com/img/icons/files/128/class-737.png

[2016-11-30 06:22] itiut opened #472 "[Icon Request] VimL"
**Checklist:**

- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request
    - Type: extension
    - Icon Name: VimL
    - Sample original Icon(32x32/png/transparent whenever possible): https://github.com/vim/vim/blob/master/runtime/vim32x32.png
    - Extensions: `.vim`
    - Files: `.vimrc`, `.gvimrc`

[2016-11-30 06:40] itiut opened #473 "[Icon Request] Emacs Lisp"
**Checklist:**

- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request
    - Type: extension
    - Icon Name: Emacs Lisp
    - Sample original Icon(32x32/png/transparent whenever possible): https://github.com/emacs-mirror/emacs/blob/master/etc/images/icons/hicolor/32x32/apps/emacs.png
    - Extensions: `.el`, `.elc`

[2016-11-30 08:40] JimiC commented on #468
Unfortunately, there is so much we can do.

[2016-11-30 08:59] JimiC opened #474 "[Icon Request] Support for .EPS"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request:
      - Type: extension
      - Icon Name: eps
      - Sample original Icon: http://www.redcatstudios.net/wp-content/uploads/2015/03/eps-icon.png
      - Extensions: .eps, .epsf, .epsi

![eps](http://www.redcatstudios.net/wp-content/uploads/2015/03/eps-icon.png)

[2016-11-30 15:34] garettmd opened #475 "Add .exp extension for tcl icon"
- [x] I'm sure this issue is not a *duplicate*?

Can we add the `exp` extension to the to the tcl icon set? This is to account for [`expect`](https://en.wikipedia.org/wiki/Expect), an extension to the tcl language. This would require changing the `supportedExtensions.js` file's line as follows:

[code]

becomes

[code]

And this would probably better suited to me just issuing a pull request, but I

[2016-11-30 15:51] JonathanWolfe opened #476 "Use languageIds to provide generic icons for non-specifically-listed extensions"
Instead of just listing all the extensions explicitly, we could list out `languageIds` so that, for example, all files associated with `json` get the generic `_f_node` icon unless a more specific icon is listed.

[2016-11-30 16:54] robertohuertasm commented on #476
Hi @JonathanWolfe, this is on our list of todos. I first tried it when we did our conversion to the new API but there was some inconsistent functionality in the part of the API using the languageIds. I'll give it a try again and see what we can do.

[2016-11-30 17:21] jens1o commented on #475
You don't *need* to build, it's optional 😃

[2016-12-01 14:19] VitorLuizC opened #477 ".spec.js files is displaying as normal .js files"
**.spec.js** files is displaying as normal **.js** files.

![Screenshot with the files test](https://cloud.githubusercontent.com/assets/9027363/20796992/19fc5886-b7c0-11e6-930b-9005a0042573.png)

Steps to reproduce:
- Just create a file ended with **.spec.js**.

[2016-12-01 14:47] robertohuertasm commented on #477
I see you're using Insiders, isn't it? Could you try in stable version? Maybe the vsc team has changed something in the new version.

[2016-12-01 14:48] robertohuertasm commented on #477
Can you tell us which specific version of vsc are you using?

[2016-12-01 14:50] robertohuertasm commented on #477
It's working for me in Windows:
![image](https://cloud.githubusercontent.com/assets/696981/20798069/db222064-b7dd-11e6-89a5-85c56d49dedd.png)

[2016-12-01 15:45] VitorLuizC commented on #477
![vscode - version](https://cloud.githubusercontent.com/assets/9027363/20799604/ce8b2b5c-b7c9-11e6-9fd0-bfd68f9d1e4f.png)

I think its something with this old Insiders version.

I've updated and it started to work again.

Thank you to pointing me that. :+1:

[2016-12-01 15:45] #477 closed

[2016-12-01 19:01] garettmd commented on #475
Oh, well if it's that easy I'll just fork and do a PR!

[2016-12-01 20:04] JimiC opened #479 "[Proposal] Add DevOps CI service"
It would be very helpful, if we could automate the ESLint and build check via a CI (Continuous Integration) service like [`Travis`](https://travis-ci.org/). It can help check the PR before merge.

[2016-12-01 20:06] jens1o commented on #479
I don't think Travis is necessary, but I like the direction you're pointing to.

[2016-12-02 08:34] #475 closed

[2016-12-02 08:56] JimiC commented on #470
I think we should consider having diff icons for `.java`, `.class` and `.jar`.

[2016-12-02 11:51] jens1o commented on #470
Do you have a idea for the color combos? I don't have any idea...

[2016-12-02 11:56] JimiC commented on #470
In matter of fact, I do. Will provide samples, as I'll work on them on the weekend.

[2016-12-03 16:34] JimiC commented on #470
So here is my proposal for the `Java` related files.

[jar](https://github.com/JimiC/vscode-icons/blob/PNG2SVG/icons/SVG/Samples/file_type_jar.svg)
[java](https://github.com/JimiC/vscode-icons/blob/PNG2SVG/icons/SVG/Samples/file_type_java.svg)
[class](https://github.com/JimiC/vscode-icons/blob/PNG2SVG/icons/SVG/Samples/file_type_class.svg)

[2016-12-03 17:30] jens1o commented on #470
I'm fine with it.

[2016-12-03 18:50] JimiC opened #482 "[Icon Request] Support for Illustrator"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: extension
      - Icon Name: ai
      - Sample original Icon: ![Ai](https://cdn.worldvectorlogo.com/logos/adobe-illustrator-cc.svg)
      - Extensions: .ai

[2016-12-03 21:10] #482 closed

[2016-12-03 21:11] #473 closed

[2016-12-03 21:12] #472 closed

[2016-12-03 21:13] robertohuertasm commented on #470
I really like it 💯 👍 😁

[2016-12-04 10:12] JimiC opened #485 "[Proposal] Move 'icons.json' to dist"
Obviously this is something trivial, but out of build process consistency, any file that is produced by the build script, SHOULD be placed in the `dist` folder.

As long as we reflect the move in the `package.json` file and the generated paths, I can't see any issues.

[2016-12-04 11:09] sujinsr commented on #470
Perfect.

[2016-12-04 13:09] Daylien commented on #470
I agree just perfect.

[2016-12-04 18:03] #470 closed

[2016-12-04 18:51] robertohuertasm commented on #485
Agreed. @JimiC's #408 takes the lead.

[2016-12-04 18:54] robertohuertasm commented on #479
I agree with @jens1o in that this wouldn't add a lot of value to the project at the moment but I don't see any reason why not to do it. In fact, I think it will be useful in the future if we change the project to TS and TSLint.
👍 to the idea.

[2016-12-04 19:03] JimiC commented on #408
In the light of converting all PNG icons to SVG, I think a doc with rules, hints and tips for creating or modifying an SVG image is appropriate.

[2016-12-04 19:21] jens1o commented on #479
Will you set it up @robertohuertasm ?

[2016-12-04 19:22] JimiC commented on #479
If it's no problem, I would like to test it first with my fork.

[2016-12-04 19:22] jens1o commented on #479
Great idea.

[2016-12-04 20:26] robertohuertasm commented on #408
Reopening this issue to remind us to write some sort of contribution guides regarding icon creation.

[2016-12-04 20:26] JimiC commented on #408
I was about to create a new issue with a task for this. I suggest we keep this closed.

[2016-12-04 20:32] robertohuertasm commented on #408
Ok then!

[2016-12-04 20:32] #408 closed

[2016-12-04 20:39] JimiC opened #489 "[Task] Write guide for contributing icons in SVG"
It's essential to write a detail guide on how to create/modify an SVG icon so that it complies with our art creation guideline.

Ideally this guide should include hints and tips for usage of the following software:
- Adobe Illustrator
- Inkscape

[2016-12-04 21:06] JimiC commented on #476
I'm also looking into this.

[2016-12-04 21:07] JimiC commented on #392
I believe we are a step closer into support this. Looking into this as well.

[2016-12-05 10:28] robertohuertasm opened #491 "Change Python icon to have the official colors"
At the moment, all the icon is blue. It would be nice to incorporate the yellow as the official version.

[2016-12-05 12:20] JimiC commented on #491
@robertohuertasm Do I get to get a priority list? 😛

[2016-12-05 13:01] jens1o commented on #489
YEAH. Thank you! Then I can contribute as before. I don't understand how to work with SVG, Photoshop was pretty cool, but the testing time was way too short ;)

[2016-12-05 13:01] jens1o commented on #408
#489

[2016-12-05 13:01] robertohuertasm commented on #491
@JimiC, excuse my English... 😅 what do you mean?

[2016-12-05 13:02] jens1o commented on #491
He wants a list what he needs to do first(the most important). Then a step down to the 2nd-importest. Did you understand me?

[2016-12-05 13:04] JimiC commented on #491
@robertohuertasm It means that if you have a priority list for the icon conversion process, let me know.
Currently, my priority is to first support requested icons, then convert the folder icons, then the rest of the icons.

[2016-12-05 13:11] robertohuertasm commented on #491
Ok! Thanks for the explanation! 😁 I currently don't have such a priority list but yours fits perfectly with the approach we've been keeping so far so I don't see a reason to change it.

That being said, would it be a problem for you (@JimiC) if someone did some icon modifications right now? I mean, I was thinking of doing this when I had a free moment but I'm starting to think that maybe it's a pr

[2016-12-05 13:20] JimiC commented on #491
@robertohuertasm Help is much appreciated, but the pitfall here is that we don't have "yet" a common art guideline, so that the converted icons are inline with that.
It would be a shame if we end up spending more time on agreeing than converting.

So my priority list has in `#2` the #489 issue, which I intent to work on in parallel.

[2016-12-05 13:23] JimiC commented on #491
To add to the above, we could create a separate branch on this repo to keep the converted icons (as I do on my fork). It will be must easier to keep track on them than having them on my fork.

[2016-12-10 02:22] Aisuko commented on #84
@michaelmaw It is work for me ,thanks

[2016-12-10 11:04] JimiC commented on #485
@robertohuertasm @jens1o One think that is critical, if we move `icons.json` to dist thus not include it in the repo anymore, is that we need to at least add some basic testing to the project. One example is to check if the supported extensions is backed by an associated icon file (happened to me on a PR and thankfully Jens noticed it).

So the question is, is there a preferred testing frameworks

[2016-12-10 11:33] jens1o commented on #485
That's right @JimiC, but I'm unfamiliar with any of theses testing frameworks. At the first look, I prefer jasmine over Mocha. But in general, they work the same way, don't they?

[2016-12-10 11:51] JimiC commented on #485
@jens1o They are practically the same but `mocha-chai` utilizes `Promises` via `chai` which makes the async chaining easier.

Further more look at the [trends](http://www.npmtrends.com/mocha-vs-ava-vs-jasmine-core).

Here is an example of how `mocha-chai` [looks like](https://github.com/JimiC/evetron/blob/master/tests/evetron/scripts/chai/main.ts#L38) vs to how `mocha` [looks like](https://github.

[2016-12-10 12:23] robertohuertasm commented on #485
Hi guys, I'm personally a big fan of [jest](https://facebook.github.io/jest/) but if I had to choose between all you mentioned I would choose Mocha & Chai.

[2016-12-10 12:40] JimiC commented on #485
Looking at `jest` it looks like an extend of `jasmine` and mostly shines when used with `React`. I think it's overkill to use `jest` for now. Same reason I didn't proposed `karma` (with is used by `Angular`).

I too think we should go with `mocha-chai` for now.

[2016-12-10 12:55] robertohuertasm commented on #485
I don't think `Jest` is overkilling. In fact it reduces the noise of using several testing libraries, it makes working with promises easier (as `Mocha-Chai` does), it can load tests in a parallel way speeding up the testing process and you've got Istanbul for free included. `Karma` is a test runner not a `test library` so I don't see how it would fit in a comparison here but anyway, being that you

[2016-12-10 13:03] JimiC commented on #485
Well I read that `jest` is mocking the entire `node_modules` and if you don't want that you need so tell it about it. Currently I don't think we need mocking abilities. It also needs a special reference in the `project.json` to point the test environment to `node` so it doesn't include `window` (we don't need that right?).

[2016-12-10 13:17] robertohuertasm commented on #485
Where have you read that it mocks the entire `node_modules`? Just out of curiosity. As far as I know `automock` is disabled by default, I don't know if you're referring to that. 😉

Anyway, let's go with `Mocha-Chai` and let's get rid of bizantine discussions 😜

[2016-12-10 13:26] JimiC commented on #485
http://instea.sk/2016/08/testing-react-applications-with-karma-jest-or-mocha/
I like `bizantine discussions`, it's in my inheritance (if you know what I mean). 😝

Here's what I'll do. I'll  do both and see.

[2016-12-10 14:36] robertohuertasm commented on #485
@JimiC I'm well aware of your inheritance and you do justice to it :stuck_out_tongue_winking_eye:

Don't bother to do both implementations. I'm really ok with `Mocha-Chai`. I happens that I sometimes also like `bizantine discussions`. Just as a side comment, the article is assuming that [automock](https://facebook.github.io/jest/docs/configuration.html#automock-boolean) is true, which indeed was t

[2016-12-10 14:56] JimiC commented on #485
No, no, it's fine I can try `jest`. I'm open in trying new things.

[2016-12-10 14:59] jens1o commented on #485
Guys. Don't fight. 😆

[2016-12-10 16:39] JimiC commented on #485
@robertohuertasm Is it OK if I use an external file to configure `jest`, something like `jest.config.json`?
I know it can be set inside `package.json`, but in my opinion it shouldn't be there.

[2016-12-10 17:47] robertohuertasm commented on #485
@JimiC it's ok. No issues with that. But if you see it's going to be a pain let's move to `Mocha-Chai` or even `ava`,  I've never tried it and for what I see it seems pretty interesting. 😉

[2016-12-10 17:49] JimiC commented on #485
@robertohuertasm I have already started with 'jest'. It reminds me of `MSTest`.

[2016-12-10 17:51] robertohuertasm commented on #485
😆 and why is so? What triggered that connection?

[2016-12-10 17:52] JimiC commented on #485
The simplicity?

[2016-12-10 17:53] JimiC commented on #485
Something that feels missing in `jest` though is the `Setup` and `TearDown`.

[2016-12-10 18:15] JimiC commented on #485
Damn! Looking at the [API Reference](https://facebook.github.io/jest/docs/api.html) it's `Jasmine` all over again. 😆

[2016-12-10 19:53] JimiC opened #496 "[Icon Request] Support Jest"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request:
      - Type: extension
      - Icon Name: jest
      - Sample original Icon: ![Jest](http://seeklogo.com/images/J/jest-logo-F9901EBBF7-seeklogo.com.png)
      - Extensions: 'jest.config.json'

[2016-12-10 20:02] JimiC commented on #485
So the main reason why I went with `Jest` after all is the fact that this project isn't mine and @robertohuertasm must be comfortable with everything and anything that we add to this project.

This also includes any decision to transpose the project to `Typescript`. But this is another topic.

[2016-12-10 20:13] jens1o commented on #496
as soon as you had published the steps to edit svgs in Inkscape, let me know ^^

[2016-12-10 20:36] JimiC commented on #496
@jens1o I already have the logo in SVG. Will make a PR tomorrow.

[2016-12-11 00:57] #485 closed

[2016-12-11 01:15] #491 closed

[2016-12-11 02:06] #458 closed

[2016-12-11 02:17] robertohuertasm commented on #458
Finally `pl` extension has been removed from the `extension list` and now is supported by language id. If you associate your file to `perl` or `perl 6` then you will see the proper icon.

[2016-12-11 02:30] robertohuertasm commented on #468
Just as a note. I'm studying a possible way to accomplish this and many other advanced features. I'll tell you something soon.

[2016-12-11 10:00] jens1o commented on #458
Thank you Roberto!

[2016-12-11 18:04] JimiC opened #504 "[Question] What is the purpose of.."
I have noticed in the distributed folder two files that aren't present in the repo.

- `messages_de.js`
- `replacements.js`

What's their purpose?

[2016-12-11 18:08] jens1o commented on #504
messages_de was planned for a translation of the extension to german.

replacements.js is the file shipped within the old integration, this file was the injected code in Visual Studio Code

[2016-12-11 18:09] robertohuertasm commented on #504
Old code that somehow survived in my dist folder. It won't be present in next release.

[2016-12-11 18:09] #504 closed

[2016-12-11 18:10] JimiC opened #505 "[Question] Following Semantic Versioning"
From what I know about Semantic Versioning, I think that we aren't following it strictly.

Shouldn't the version number be bumped according to:

- Major number: When the API changes in a way that introduces breaking changes.
- Minor number: When new features are introduced.
- Patch number: When bugs get fixed or enhancements are made to the code base.

Don't get me wrong here @robertohuertasm, you

[2016-12-11 18:11] jens1o commented on #505
You're right.

[2016-12-11 18:13] JimiC commented on #505
To specify what I mean with "new features", I believe that every time a new folder or file gets supported/added the minor number should get bumped.

[2016-12-11 18:29] robertohuertasm commented on #505
@JimiC, you're right, I'm not following it strictly. Only for major versions until now. But I have no problem in adopting it so the community can be happier and your O.C.D stops haunting you 😉

[2016-12-11 18:29] #505 closed

[2016-12-11 18:30] #496 closed

[2016-12-11 18:48] JimiC commented on #437
Reopening as I going to suggest a different set of icons that will be language agnostic.

[2016-12-11 18:51] robertohuertasm commented on #437
Why language agnostics? I want to see a difference between different language implementations. Let's see I'm using `typescript` and I've got my compilled js files not hidden how I would be able to distinguish them if they happen to be in the same folder?

[2016-12-11 18:57] JimiC commented on #437
In this case you wouldn't. I see your point. Still I would like each extension to have a diff color than the original.

[2016-12-11 19:02] robertohuertasm commented on #437
Do you mean that you don't like the component.(ts|js) icon?

[2016-12-11 19:10] JimiC commented on #437
OOOhhhh. They do have diff colors. Damn. Have to remind myself to be more thorough.
Still there is something about the yellow and blue versions. Having `JS` and `TS` with the same colors, doesn't fit well.

[2016-12-11 19:21] JimiC commented on #476
Can we close this issue?

[2016-12-11 19:25] JimiC commented on #437
I also use the extension `.model.ts` in my projects. Do you mind if we add a colored version for that too?

[2016-12-11 19:48] ialex90 commented on #437
I personally think that they should not add model.ts as this is a personal
pattern instead of generic pattern and it could be used on others
frameworks/projects.

I think it could be good to add routing.ts and *-routing.module.ts as they
appears as a pattern to follow on the angular doc. (Maybe routing.ts is
used in other frameworks so not sure if it's a good idea)

El 11 dic. 2016 7:25 p. m., "Ji

[2016-12-11 19:51] JimiC commented on #437
I agree with `-routing.module.ts` / `-routing.module.js`. Will ditch `.model.ts`.

[2016-12-11 19:53] JonathanWolfe commented on #476
I'll test it tomorrow when I get to work and close if it works!

[2016-12-11 19:58] robertohuertasm commented on #476
@JonathanWolfe we haven't linked the `json` extension yet. That's why I left it opened, for us to review possible extensions that should benefit from language support.

[2016-12-11 20:18] robertohuertasm commented on #437
I will make another release with this included and the fonts rasterized tomorrow.

[2016-12-11 20:22] JimiC opened #508 "[Proposal] Switch to official logo where applicable"
Would like to propose to adopt official logos when there is one.

[2016-12-11 20:23] JimiC commented on #508
I'll start the debate with the following:
![screenshot - 11_12_2016 22_20_54](https://cloud.githubusercontent.com/assets/1716442/21083031/5e0842b4-bff0-11e6-89b4-e69387ec7fcb.png)

[2016-12-11 20:33] robertohuertasm commented on #508
@JimiC, although this was already discussed in #339 and #354, I think that's maybe time to revisit it 😉

[2016-12-11 20:37] JimiC commented on #508
Maybe switching to official logos will make this extension more popular than it already is (#3 in the chart). 😉

[2016-12-11 20:50] robertohuertasm commented on #437
Hey guys, just a problem here that I missed before. VSCode icon api doesn't support globs so `-routing.module.ts` is not possible to create. 😞  We could make it for `app-routing.module.(ts|js) as a filename. What do you think?

[2016-12-11 20:53] JimiC commented on #437
Can't `-routing.module.ts` qualify as an extension? Only `dot` does?

[2016-12-11 20:56] jens1o commented on #508
#roadTo1MioDownloads 😉

[2016-12-11 20:56] JimiC commented on #437
While we are at it what about icons for the `Dart` version?

[2016-12-11 20:59] jens1o commented on #437
What's the different between the official and the icon we use(except ours is in png)?

[2016-12-11 21:03] robertohuertasm commented on #437
@JimiC, unfortunately, only dots... I don't think they will provide globs in a near future, that would require to change their implementation in a drastical way.

[2016-12-11 21:22] JimiC commented on #437
Guys, what about those icons?
# Component
![](https://rawgit.com/JimiC/vscode-icons/PNG2SVG/icons/SVG/Samples/file_type_ng2_component_js.svg)
![](https://rawgit.com/JimiC/vscode-icons/PNG2SVG/icons/SVG/Samples/file_type_ng2_component_ts.svg)
# Directive
![](https://rawgit.com/JimiC/vscode-icons/PNG2SVG/icons/SVG/Samples/file_type_ng2_directive_js.svg)
![](https://rawgit.com/JimiC/vscode-icons/PNG2

[2016-12-11 21:27] JimiC commented on #437
@robertohuertasm See I kept your original palette of colors expect the blue-ish.

[2016-12-11 21:49] robertohuertasm commented on #437
![image](https://cloud.githubusercontent.com/assets/696981/21083595/ee3e6fa4-bff3-11e6-890e-210583b3ebe7.png)

Can you provide a screenshoot? Just to see how they look with the size and background 😄

[2016-12-11 21:50] robertohuertasm commented on #437
I'm afraid that with the border the letters will be even more unreadable.

[2016-12-11 21:51] robertohuertasm commented on #508
I've tested the new icons and I will sheep them tomorrow. I've downloaded the official ones.

[2016-12-11 21:55] robertohuertasm commented on #508
![image](https://cloud.githubusercontent.com/assets/696981/21083635/efecbfc6-bff4-11e6-9e05-4f2f17398d82.png)

[2016-12-11 21:57] JimiC commented on #437
Unfortunately I headed to bed. Will do so tomorrow. I also have an icon for routing but didn't link it. It's in the Samples folder at my fork.

[2016-12-11 22:05] robertohuertasm commented on #437
No problem. I will try to make it now. Just one thing I've noticed is that I can't see any thumbnail of the icons you provide (see the attachment). What tool are you using? In case it's 'Illustrator' which version? Do you use the `export` method or the `save as...`?
![image](https://cloud.githubusercontent.com/assets/696981/21083682/3dde28c2-bff6-11e6-9681-5aef3bdebc4d.png)

[2016-12-11 22:08] robertohuertasm commented on #437
The screenshoot with your icons:
![image](https://cloud.githubusercontent.com/assets/696981/21083707/ac43df46-bff6-11e6-8c46-81c1d0135976.png)

[2016-12-11 22:10] robertohuertasm commented on #437
Side by side:
![proposals](https://cloud.githubusercontent.com/assets/696981/21083724/f9b740c4-bff6-11e6-9100-5feca2ad5cb5.png)

[2016-12-11 22:15] robertohuertasm commented on #437
Sure I'm biased 😉 but I prefer the yellow color for the js letters. Even in the yellow (for js) and blue (for ts) it's not important that we see the letters. Just the stain of color is enough to wire our brain into the type. Another thing I would say is that the TS letters in @JimiC 's proposal are above the A core line hiding it. But that's my opinion and I'm trying to defend my choice here 😁

Fo

[2016-12-11 22:19] ialex90 commented on #437
That does not look better unfortunately :) I think for me it's better without the borders.

The left column for me it's better also in terms of colors and shadows and TS|JS sizes. The only thing I would change is, the color of app-routing.module is nicer than the module.ts (purple than yellow) So It would switch them as module file is much more used file than the only one instance of app-routing.m

[2016-12-11 22:28] robertohuertasm commented on #437
@ialex90 your proposal seems reasonable. I'll buy it. 😝

[2016-12-11 22:30] ialex90 commented on #437
Hahaha perfect ;)

El 11 dic. 2016 10:28 p. m., "Roberto Huertas" <notifications@github.com>
escribió:

[2016-12-12 08:17] JimiC commented on #437
Morning, guys. Sure the black `JS` doesn't do justice and the `JS|TS` indeed need to be a little lower.

I may have lost the battle but not the war. Yarrrrr (Just kidding).

@robertohuertasm To answer your question. I use `Export for Screens`.

[2016-12-12 09:24] qavaxb opened #511 "[Icon Request] Support for .VHD"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request:
      - Type: extension
      - Icon Name: vhd
      - Sample original ?
      - Extensions: .vhd, .vhdl

Extension is similar to Virtual Hard Disk unfortunately.

[2016-12-12 10:31] JimiC commented on #511
Is this related to the ASCII text file containing design logic?

[2016-12-12 11:12] qavaxb commented on #511
Yes, it is related to the ASCII text file containing design logic with VHSIC Hardware Description Language.

[2016-12-12 11:16] JimiC commented on #511
Looks like there isn't an official logo available. We'll have to improvise.

[2016-12-12 11:23] JimiC commented on #437
@robertohuertasm Originally I could see any thumbnails of the `SVG` icons, but I installed [SVG Explorer Extension](https://svgextension.codeplex.com/) and now they are there.

I figured out why they don't show up correctly. They require the styling to be inline. I'll try to produce the `SVG` again to compensate the issue.

[2016-12-12 11:54] rbukovansky opened #513 "Icon for new Swift Package Manager file - Package.pins"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: SwiftPM Package.pins
      - Icon Name: SPMPins
      - Sample original Icon(32x32/svg/transparent whenever possible): Standard Swift icon
      - Extensions: .pins (but for just Package.pins file)

There is new file created by Swift Package Manager called Package

[2016-12-12 12:01] VitalySenko opened #514 "Return old nice JS icon!"
Please, i very like your extension but new JS icon you made (latest version) make my eyes a little bleeding.
Give us back old good intelligent JS icon please :-)
P.S. I have light theme.
![image](https://cloud.githubusercontent.com/assets/12730311/21098935/b85b6796-c07c-11e6-9bd4-83e1199bd8ff.png)

[2016-12-12 12:08] robertohuertasm commented on #514
Here we go again! #508, #339 & #354.

Thanks @VitalySenko for your opinion. We'll have to start a debate on this. What I know is that at some point any decision me make is not going to please everybody. Let's see what people says in this thread.

Anyway, I'm starting to work in a new functionality that will allow more customization options to the extension. It's just raw material for the moment bu

[2016-12-12 12:11] JimiC commented on #514
Been there, done that. It's a non ending story. Would a poll do the trick?

[2016-12-12 12:55] #479 closed

[2016-12-12 20:58] solomon23 commented on #514
Using the dark theme it's the brightest thing on my screen now.  Large blocks of yellow for js files.  Maybe supporting themes would be a good way to solve it ? Right now I'll probably have to turn it off.

[2016-12-12 22:36] robertohuertasm commented on #514
@solomon23 what do you mean with `supporting themes`? VSCode api is what it is and doesn't really allow any kind of customization by the user. Their solution is to create an alternative theme, but there are already other themes in the market that provide slightly different icons (a lot of them are feeding from our repo).

I was reluctant to change JS and TS icons at the beginning but now I think I

[2016-12-12 22:47] solomon23 commented on #514
@robertohuertasm apologies, i can't really speak intelligently about solutions since i'm not really familiar with it.  The new yellow JS icon is garish enough that I had to turn it off since it's too distracting to my workspace.  Luckily for me there are other icon choices out there for me, so I'll just use one of those.  Thanks !

[2016-12-12 22:54] robertohuertasm commented on #514
@solomon23 no worries. I understand that pleasing everybody is an impossible mission. Anyway, I will try a new set of icons playing with inversion of colors (that was the idea behind the old icons) and hopefully will find a way for the user to decide which one to use (although I can't promise you anything).

[2016-12-13 09:58] JimiC opened #522 "[Task] Review possible extensions that should benefit from language support"
Extends #476.

[2016-12-13 10:41] #476 closed

[2016-12-13 10:41] robertohuertasm commented on #476
Continues in #521

[2016-12-13 11:20] robertohuertasm opened #523 "Karma icon"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: file
      - Icon Name: karma
      - [Sample original Icon ](https://gist.github.com/robertohuertasm/3c63d4851d8607199f54c3ede42ae9fe#file-karma-seeklogo-com-svg)
      - Extensions: `karma.conf.js`

[2016-12-13 11:22] robertohuertasm opened #524 "Protractor logo"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):
      - Type: extension
      - Icon Name: protractor
      - [Sample original Icon](https://raw.githubusercontent.com/ramonvictor/gulp-protractor-qa/master/assets/protractor-qa-logo.png)
      - Extensions: `protractor.conf.js`

[2016-12-13 11:23] JimiC commented on #524
Wanted to do this this weekend.

[2016-12-13 11:23] JimiC commented on #523
Wanted to do this this weekend.

[2016-12-13 11:53] JimiC opened #526 "[Task] Provide messages in available VSCode languages"
- [x] I'm sure this issue is not a *duplicate*?

I know this was experimented on at some point but I think it will add value to this extension.

VSCode available languages:

- [x] English (US)	[en]
- [x] Simplified Chinese [zh-CN]
- [ ] Traditional Chinese [zh-TW]
- [x] French	[fr]
- [x] German	[de]
- [x] Italian	[it]
- [x] Japanese [ja]
- [ ] Korean	[ko]
- [x] Russian	[ru]
- [x] Spanish [es]

[2016-12-13 13:26] jozefizso opened #528 "[Icon Request] Support for .VCXPROJ"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request:
      - Type: extension
      - Icon Name: vcxproj
      - Sample original Icon (32x32/svg/transparent whenever possible): (I don't have a sample)
      - Extensions: .vcxproj

[2016-12-13 13:32] jens1o commented on #526
I'll do German, since I am German.

[2016-12-13 13:41] JimiC commented on #526
@jens1o Only mark the language when it's done with a PR.

[2016-12-13 14:05] jens1o commented on #526
Oh, sorry. I misunderstood. But how should the file be called?

[2016-12-13 14:12] JimiC commented on #526
May have to consult @robertohuertasm .

[2016-12-13 14:41] hmuschett opened #529 "Can't activate icons (original: no se me activan los iconos)"
**Translated:** (by JimiC)
Hi
I have installed the extension (until it is activated) but I am not able to activate the icons on Win7 and I do not have the rights of admin in the machine I do not know if that has anything to do. I have done the steps to enable the extension but it does not come out in File Icon Theme> VSCode Icons.

**Original:**
hola
tengo instalada la estencion(hasta se me actual

[2016-12-13 15:00] jens1o commented on #529
I think he can help best, I can't understand spanish.

[2016-12-13 15:25] JimiC commented on #529
I would really really appreciated if we could stick restrictively to English.

[2016-12-13 17:35] robertohuertasm commented on #522
I leave the comment here for #527 PR so it can be easily found.

The thing is that the order of precedence when deciding which icon to use is:

1. file name
2. file extension
3. file language

According to this, if we set the `languageId` and leave the extension, this extension will be completely attached to the file extension icon. This maybe something desirable in some cases but maybe not in oth

[2016-12-13 17:40] robertohuertasm commented on #529
@hmuschett ¿Entiendes inglés? ¿Qué versión estás usando?

Translation: Do you speak English? Which version are you using?

[2016-12-13 17:41] JimiC commented on #522
@robertohuertasm I'm aware of that and decided to leave the extension deliberately. Originally I removed the extension name but when I tried to use the example generator, those that didn't had an entry, as they relied on the language id failed to be generated. So I left it there knowing that this might be an issue.

[2016-12-13 17:44] JimiC commented on #529
@robertohuertasm Did I do well with the translation? My Spanish are very basic (mostly what I've learned from TV :smile:)

[2016-12-13 17:59] robertohuertasm commented on #522
Let's keep this at it is (with the new changes you applied). In case of unsupported extensions it will be useful anyway and whenever we face a conflict or a user reports us one, we may think on how to resolve it.

[2016-12-13 19:12] hmuschett commented on #529
@robertohuertasm gracias por responder s al parecer era que estaba utilizando una verision vieja(1.3) me descarge la 1.7 y me aparecio el menu y se activaron los icons mucha gracias a la comunidad

[2016-12-13 19:13] #529 closed

[2016-12-13 19:17] robertohuertasm commented on #529
@JimiC your Spanish is quite good. If you ever come to Barcelona we'll have a change to practice it! 😉

[2016-12-13 23:08] #392 closed

[2016-12-13 23:16] robertohuertasm commented on #526
The only file containing strings is called `messages.js` but I don't really care much about the naming. If you come up with a cooler name, it is ok for me.

In fact, this is for me a very low priority issue, that's why I dismissed it. I didn't want to loose time in translations every time I changed a string.

[2016-12-14 09:06] JohhnyP commented on #514
It's not about pleasing everybody in this case, since many users are using a dark theme placing a light yellow block as an icon it's a debatable choice at best.
Isn't there a way to manually override it at the moment?

[2016-12-14 09:08] robertohuertasm commented on #514
@JohhnyP, no overriding options at the moment 😞 In fact, VSCode API doesn't allow any user decision at all.

[2016-12-14 09:15] JohhnyP commented on #514
Sadface.
Ok looking forward to your changes that will allow to revert or customize the icons.
Also i'm attaching an image to see how distracting is on a .js heavy project.

![code](https://cloud.githubusercontent.com/assets/11662759/21176254/9678632c-c1ee-11e6-9197-313f6e7ac886.png)

[2016-12-14 09:19] robertohuertasm commented on #514
Maybe this weekend I'll have time but I can't promise you anything.
The thing is that I kind of like it although I was myself reluctant to adopt this icon at first, but as I said before, everybody has its own opinion on subjective matters.

[2016-12-14 09:27] JimiC commented on #514
On a survey among colleagues the answers were in favor of the new icon.
As Roberto said, we won't get any positive feedback in this thread.

Now on the front on how to provide a way to customize the icons, I have an idea but I first would like to discuss this in private with Roberto.

So @robertohuertasm when you find the time please email me (email is on my profile).

[2016-12-14 09:29] robertohuertasm commented on #514
Same situation in my workplace. @JimiC I'm currently working on this but I'll be happy to discuss with it. I was considering to create a slack channel or something for us to communicate faster and privately if we want.

[2016-12-14 09:30] JimiC commented on #514
👍 on slack. Skype will suffice too.

[2016-12-14 10:27] MatthiasDebaere commented on #514
I've been using vscode very early on, and vscode icons when it had like 13k downloads so I've seen the progress, which I thank you guys for very much! But when I updated the extension today and saw all that yellow across my screen I died a bit inside.

@JohhnyP Same here:
![image](https://cloud.githubusercontent.com/assets/6587006/21178458/f4f07e84-c1ef-11e6-8994-67b9334cf955.png)

So yeah, please

[2016-12-14 20:14] JimiC commented on #437
Hey guys. I'm back with a new batch. How about those:
![screenshot - 14_12_2016 22_12_03](https://cloud.githubusercontent.com/assets/1716442/21199069/86fd27dc-c24a-11e6-9b88-53d5f1f72462.png)

@robertohuertasm Don't get me wrong. I'm not trying to push __my__ version. Just trying to perfect the outcome.

[2016-12-15 00:52] robertohuertasm commented on #437
Hi! I'm not sure of liking the idea of adding the `angular` icon for html and css files. We may then also create another one for `sass` and `less`...

Besides that, I still like more my colors and the size of the subicon (I put the right side of the icon a little bit darker to make the subicons more visible).

What do the rest of you think about it?

[2016-12-15 01:16] ialex90 commented on #437
Hi there,

I like the original one more, with the half icon shadow looks better I think. I actually thought to ask for the angular icons for html and scss, but now, I just realized that it's confuse cause the advantage of this plugin is even not looking or paying too much attention to the files, the icon indicates you which kind of file it is, and adding those for angular you'll probably have to p

[2016-12-15 08:53] JimiC commented on #437
Fine.

[2016-12-15 08:53] #437 closed

[2016-12-15 12:48] brenoc opened #537 "Huge Javascript block icon"
I just updated the extension and now the JavaScript icons changed to this huge block of solid bright yellow.
![screen shot 2016-12-15 at 10 42 05 am](https://cloud.githubusercontent.com/assets/284515/21224404/2c131548-c2b3-11e6-9ae1-7409a009fa08.png)

Previously was a much simple and clean one:
![](https://github.com/robertohuertasm/vscode-icons/blob/440e993372e96bd9b6717af8f306c95881c2ba24/icons/

[2016-12-15 12:49] JimiC commented on #537
Duplicate of #514.

[2016-12-15 12:49] #537 closed

[2016-12-15 12:50] robertohuertasm commented on #537
@brenoc we're releasing the old one again during the week.

[2016-12-15 12:55] JimiC commented on #514
Just FYI. @robertohuertasm and I are looking into providing a way to add a feature so you can configure each icon.

So until this happens
![](http://farm4.static.flickr.com/3430/5798045614_7e1d0e73d9.jpg)

[2016-12-16 05:25] Tsmith18256 opened #538 "Angular Icon Matching Is Too Broad"
The new Angular icons are nice, but the matching pattern is too hit and miss that I think there should be an option to disable these. I have a React Native project in which I end all my React Component files with _.component.js_, so they are being marked as Angular files.

Additionally, in my project at work, where we use Angular 1, the controllers are marked as _.controller.js_ and don't get the

[2016-12-16 05:29] Tsmith18256 commented on #538
I apologize if this is ignorant (I know pretty much nothing about the VSCode extension API), but is there any chance it would be possible to have a config where users could map their own regexes to different icons?

[2016-12-16 09:45] JimiC commented on #538
See #514

[2016-12-16 12:35] supoved commented on #514
+1 to revert icon, or being able to opt out of it in configuration.

[2016-12-17 03:37] profsmallpine commented on #356
The jinja extension should also support `.jinja2` files

[2016-12-17 14:03] JimiC commented on #380
The progress list and been moved to [#1](https://github.com/JimiC/vscode-icons-svg/issues/1)

[2016-12-17 21:25] #356 closed

[2016-12-17 21:26] #514 closed

[2016-12-18 21:21] #523 closed

[2016-12-18 21:47] #524 closed

[2016-12-19 09:01] JimiC commented on #513
@rbukovansky Can you please provide docs about this new file extension? Thanks in advance.

[2016-12-19 09:03] rbukovansky commented on #513
@JimiC Here you go...

https://github.com/apple/swift-evolution/blob/master/proposals/0145-package-manager-version-pinning.md

[2016-12-19 09:05] JimiC commented on #513
OK. Looks like the proposal refers in using a filename called `Package.pins`. Unfortunately `.pins` can not be used as a file extension in this case.

[2016-12-19 09:07] rbukovansky commented on #513
@JimiC Why? Can we get mapping just to "Package.pins" filename?

[2016-12-19 09:11] JimiC commented on #513
`.pins` is used for other files. Don't worry we can map to the filename `Package.pins` to show the `Swift` icon. Something that needs to be noted is that on `MacOS` `package.pins` is different than `Package.pins`, so we'll need to know if the file name is going to be strictly used in `PascalCase`.

[2016-12-19 10:11] rbukovansky commented on #513
OK.

[2016-12-19 12:25] namtab00 opened #554 "[Icon Request] Support for .rake"
- [x] I'm sure this issue is not a *duplicate*
- [x] I want to create an icon request
      - Type: rake file
      - Icon Name: ruby
      - Extensions: .rake

[2016-12-19 15:02] JimiC commented on #554
From what I read `.rake` files are `Ruby` files but they contain task instructions. We already support `rakefile` associated with the `Ruby` icon, but I believe that this may cause confusion to the `Ruby` users.

How about we switch `rakefile` and `.rake` to
![rake](http://www.rubyrake.org/wp-content/uploads/2016/09/logo-ruby.png)

[2016-12-19 15:39] JonathanWolfe opened #556 "`HTML` icon broken/missing"
After the latest update, `4.2.0`, the new svg version of the html icon doesn't appear and instead defaults to the fallback "white-paper" icon.

### Screenshot
![2016-12-19 10_34_54-pick-list-input html - omneo-ui - visual studio code](https://cloud.githubusercontent.com/assets/1449779/21318467/4306b846-c5d7-11e6-83bb-699155f43bbd.png)

### VS Code info
**Version:** 1.8.0
**Commit:** 38746938a4ab94

[2016-12-19 15:46] jens1o commented on #556
But any icon but html will be displayed normally?

[2016-12-19 15:48] robertohuertasm commented on #556
![image](https://cloud.githubusercontent.com/assets/696981/21318762/dc66520c-c60a-11e6-8be0-40263d2db12a.png)
I'm seeing it... can you try to reinstall the extension?

[2016-12-19 15:48] jens1o commented on #556
It works too, in my enviroment.

[2016-12-19 15:54] JonathanWolfe commented on #556
Uninstalling, then reinstalling the extension didn't produce any different results.

[2016-12-19 15:55] robertohuertasm commented on #556
Which vscode version are you using?

[2016-12-19 15:59] JonathanWolfe commented on #556
Just updated the issue with all that info, actually.

[2016-12-19 16:02] robertohuertasm commented on #556
Go to `C:\Users\<youruser>\.vscode\extensions\robertohuertasm.vscode-icons-4.2.0` and remove it manually.

Then reinstall again the extension and let me know.

[2016-12-19 16:06] JonathanWolfe commented on #556
No change.

[2016-12-19 16:21] JonathanWolfe commented on #556
Ran all the icons through `svgo` and didn't get any changes either.

Also added an actual DOM node to the issue.

[2016-12-19 16:27] JonathanWolfe commented on #556
Figured it out @robertohuertasm. The language ID is overriding the extension icon. Since I'm using JonathanWolfe/language-polymer and associate all HTML files to that type, it's trying to give it that icon (but there isn't one), and instead of falling back to the extension, it falls back to the default icon.

[2016-12-19 16:42] jens1o commented on #556
Great!

[2016-12-19 16:47] JonathanWolfe commented on #556
I'm guessing there's nothing this repo could do to fix it? Should I go open an issue on the vs-code repo?

[2016-12-19 16:47] robertohuertasm commented on #556
This is a candidate on

[2016-12-19 16:49] JonathanWolfe commented on #556
Sure, I'll add the icon after lunch.

[2016-12-19 16:53] robertohuertasm commented on #556
If you can use svg that would be awesome!

[2016-12-19 17:22] flxbe opened #557 "Wrong icon for 'license.js'"
Hey

when naming a file `license.js`, the license-icon is used. When using `license.spec.js`, the correct icon is displayed. Is this behavior expected? In my case, the js-icon would have been the correct one.

<img width="190" alt="bildschirmfoto 2016-12-19 um 18 09 36" src="https://cloud.githubusercontent.com/assets/9663231/21321933/2d4a97bc-c617-11e6-996a-cbe7317f0b78.png">

#### Some additional

[2016-12-19 18:01] JimiC commented on #557
@robertohuertasm `filename` overrides `languageId`
![screenshot - 19_12_2016 19_59_12](https://cloud.githubusercontent.com/assets/1716442/21323409/f9f32cc6-c625-11e6-8935-0bf0fc0fd9d6.png)

[2016-12-19 18:34] jbw91 opened #559 "CSS/PostCSS fallback not working"
## Checklist

- [x] I'm sure this issue is not a *duplicate*?

## Screenshot

![screen shot 2016-12-19 at 11 29 53 am](https://cloud.githubusercontent.com/assets/5883616/21324316/7eca8810-c5de-11e6-8699-f770acbae94d.png)

## Description

As you can see from the image above, the CSS icons are no longer working. From #556 I gather it's due to my workspace settings where I specify the following file

[2016-12-19 18:39] JonathanWolfe commented on #559
There is an icon for PostCSS ([icon here](https://github.com/robertohuertasm/vscode-icons/blob/master/icons/file_type_postcss%402x.png)).

[2016-12-19 18:40] robertohuertasm commented on #557
@JimiC I was aware of that but didn't expect this greedy behavior. This seems like a bug in VSCode to me. Filename classes should only be added to files with the exact match. cc @aeschli, maybe you can give us a hand here. Is this the expected behavior?

[2016-12-19 18:42] JimiC commented on #557
@robertohuertasm I know you knew. Just wanted to point out the cause.

[2016-12-19 18:50] robertohuertasm commented on #557
It seems that only happens with filenames that have no extension. Of course, we haven't had this issue before because we were mainly using file extensions.
I'm going to raise an issue in vscode's repo about this.

[2016-12-19 18:53] #556 closed

[2016-12-19 18:59] JimiC commented on #559
@JonathanWolfe That icon is associated with `.pcss` extension.

[2016-12-19 19:00] robertohuertasm commented on #559
Hi both of you. Icons can only be linked to languages via language services. VSCode provides a few out of the box but you can add others via extension (that was your case @JonathanWolfe).

With the latest release we tried to leverage the power of languages in order to allow users further customization. Before that, we only used direct icon extension association so the user never had the opportunit

[2016-12-19 19:25] ginfuru commented on #380
@robertohuertasm Should I create a pull request for the icon's I've converted to SVG?

[2016-12-19 19:58] jbw91 commented on #559
@robertohuertasm Yes, I am using the PostCSS extension.

[2016-12-19 20:20] jens1o commented on #380
Yeah, go for it @ginfuru !

[2016-12-20 00:12] robertohuertasm commented on #559
Ok @jbw91, we'll provide a language association for you as soon as possible.

[2016-12-20 12:05] valerius257 opened #561 "[Icon Request] Support for reStructuredText"
- [x] I'm sure this issue is not a *duplicate*
- [x] I want to create an icon request:
      - Type: reStructuredText file
      - Icon Name: reStructuredText
      - Extensions: .rst

[2016-12-21 10:50] JimiC commented on #559
@robertohuertasm

Working on this I stumbled upon the following behavior:
Using ```{ icon: 'postcss', extensions: [], languages: [languages.postcss] }```, if `.pcss` and `.postcss` are present  or `.css` files have been associated with `PostCSS`, and the user has not installed the `PostCSS` syntax extension, the files have the default icon.
Upon installing the extension the `postcss` icon is displ

[2016-12-21 13:41] JimiC opened #564 "Language Mode for Diff shows the wrong image"
- [x] I'm sure this issue is not a *duplicate*?

I have opened an issue for this on the [vscode](https://github.com/Microsoft/vscode/issues/17672) repo.

[2016-12-21 14:17] JimiC opened #565 "Support of Properties language id"
- [x] I'm sure this issue is not a *duplicate*?

Looking at the [extension spec](https://github.com/Microsoft/vscode/blob/master/extensions/ini/package.json), if we are going to support this language id, I suspect it will create visual issues to what the user is currently familiar with.

Thoughts?

[2016-12-21 14:20] JimiC commented on #565
Should we raise an issue with `vscode` to ask them to move the `git` related `filename` and `extensions` to [git](https://github.com/Microsoft/vscode/blob/master/extensions/git/package.json) extension?

[2016-12-21 14:29] JimiC commented on #564
[PR](https://github.com/Microsoft/vscode/pull/17680) has been submitted.

[2016-12-21 15:13] JimiC commented on #554
This is going to be supported by `vscode` `ruby` language id. Still though I believe we should override the icon with the `rake` icon.

[2016-12-21 15:52] JimiC commented on #528
Already supported by the `xml` language id. The icon shown is that of the `xml`.

[2016-12-21 15:54] JimiC commented on #561
I have a PR ready for this but I need #563 to accepted first.

[2016-12-21 15:58] jens1o commented on #528
I think so. Since it's not related to XML, but to VSCode

[2016-12-21 15:58] jens1o commented on #565
@JimiC Yeah, we absolutly should ask them. It's their mission to resolve this failure.

[2016-12-21 18:43] JimiC commented on #564
Fix was accepted.

[2016-12-21 18:43] #564 closed

[2016-12-22 09:25] JimiC commented on #528
Any proposed icon?

[2016-12-22 09:26] #554 closed

[2016-12-22 09:28] #559 closed

[2016-12-22 09:28] #561 closed

[2016-12-22 09:33] robertohuertasm commented on #528
I think this icon is related to c++ projects in VS so I would propose the [VS icon](https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Visual_Studio_2013_Logo.svg/990px-Visual_Studio_2013_Logo.svg.png).

We already have the `svg` for `vscode` so the only thing that we should do is just change the color accordingly. What do you think?

[2016-12-22 09:35] robertohuertasm commented on #565
I would also approve raising an issue with this.  I don't know why they took the decision to add these extensions to the `ini` language and not to the `git`.

[2016-12-22 09:39] JimiC commented on #528
From what I'm seeing we use the `Visual Studio` versions for `csproj` and `vbproj`. I think we should stick to that.

P.S. And while we are at I'll look into adding `jsproj` also.

[2016-12-22 12:58] robertohuertasm commented on #528
I'm willing to change those icons, too. I don't like how they look. But we can keep them eventually.

[2016-12-22 13:00] JimiC commented on #528
@robertohuertasm It's just that they are `Visual Studio` specific icons and it makes sense to keep those.

[2016-12-22 13:12] robertohuertasm commented on #528
Yes, but as I said I'm intended to change them eventually. They don't blend in nicely with vscode.

[2016-12-22 13:16] JimiC commented on #528
This changes a lot of things. Cause I'm currently in the process of converting them to SVG (by hand).
So what's your idea?

[2016-12-22 15:43] BillDenton opened #571 "hpp files use same icon as cpp, should use a separate icon similar to c and h"
C++ header files (hpp) use the same icon as C++ source files (cpp). C header files (h) uses a different icon C source files (c). Could so hpp files uses a different icon so they can be seen easily. Suggest an H++ similar to the C++ used for cpp files.

[2016-12-22 17:04] jens1o commented on #571
Nice idea, your opinions @robertohuertasm & @JimiC ?

[2016-12-22 20:10] JimiC commented on #380
Guys, I'm starting to work on the folders again, and I think I found a golden rule for them.

How does those look?

![screenshot - 22_12_2016 22_08_32](https://cloud.githubusercontent.com/assets/1716442/21438780/6fe18f62-c893-11e6-8f77-0e9bb8648822.png)

[2016-12-22 20:18] jens1o commented on #380
AWESOME! Go on further, it's nice!

[2016-12-22 21:33] JimiC commented on #380
**Update**
![screenshot - 22_12_2016 23_33_05](https://cloud.githubusercontent.com/assets/1716442/21441099/14b75246-c89f-11e6-8ade-07d22d394f7f.png)

[2016-12-22 22:04] robertohuertasm commented on #528
Don't touch these icons for the moment. I will do a custom version myself and see if it works.

[2016-12-22 22:05] robertohuertasm commented on #380
@JimiC great work man! I like the second version of `vscode folder`!

[2016-12-22 22:12] robertohuertasm commented on #380
Pick a color from the front icon.
Color the folder keeping the tone of the default.

@JimiC, what do you mean with the `default`?

For what I see in the creation of `vscode` icon, this seems the process you follow to me:
1. You take a color from the icon.
2. Use it a little bit lighter in the closed folder.
3. Even lighter for opened folder.

Maybe is the same that you said before but I didn't rea

[2016-12-22 22:16] JimiC commented on #380
The `default` folders are those brown ones. The closed one is a little bit darker than the open one. They have a diff in tone. So I keep this diff in the colored ones too and using as base color one color of the front icon. I\ll explain everything in detail in the guide.

[2016-12-22 22:23] robertohuertasm commented on #380
Are you using Illustrator or Inkscape?

[2016-12-22 22:26] JimiC commented on #380
I use Illustrator. Inkscape doesn't help me so much with the icons. It requires some extra work to produce the same outcome as Illustrator does. Still though I'll try to cover both software in the guide.

[2016-12-23 09:52] JimiC commented on #456
@Kainax We haven't forgotten about this. Hopefully we'll have it shipped before New Year's release.

[2016-12-23 10:03] JimiC opened #575 "[Suggestion] Create new logo image in SVG"
I'm suggesting to create a new logo for the extension in SVG or convert the existing one to SVG.

Thoughts?

[2016-12-23 10:06] jens1o commented on #575
I agree with you.

[2016-12-23 11:14] robertohuertasm commented on #575
I don't know if svg is supported as extension for the logo. I'm in mobile now and can't look for this at the moment.

Regarding the icon, make your proposal and we'll see. :wink:

[2016-12-23 11:16] JimiC commented on #575
It's supported. I tested it.

[2016-12-23 20:55] #513 closed

[2016-12-25 11:49] whitecolor opened #581 "Assing icon to dot folders with specific names"
Often people name specific purpose folders using leading dot.

[code]
Just to make them be on top of the list, now only `scripts`, `webpack` etc without dot got icon.

[2016-12-25 11:51] jens1o commented on #581
@robertohuertasm Is that currently possible with the api without defining hundreds of synonyms?

[2016-12-25 17:16] JimiC commented on #581
@whitecolor `tests` folder also have icon.

[2016-12-25 17:17] whitecolor commented on #581
@JimiC `.tests` doesn't

[2016-12-25 17:20] JimiC commented on #581
@whitecolor I wrote `tests` not `.tests`.

[2016-12-25 22:23] robertohuertasm commented on #581
@jens1o this could only be accomplished by using synonyms as you say. Let's wait for the new customization functionality and hopefully this will be feasible. I'm working on it but I don't find the proper amount of time to finish it yet. :grin:

[2016-12-26 07:07] infinnie opened #583 "Want the new JS and TS icons back"
I suggest PRs #539 and #549 be reverted.

[2016-12-26 09:27] jens1o commented on #583
Error: Infinite loop detected. Sorry, but there are many people wanted the old icon.

But we're going to release a option so you can setup the icon that you want. But I don't know when exactly.

[2016-12-26 09:28] jens1o commented on #581
Seriously?

[2016-12-26 19:33] JimiC commented on #380
Guys, I need your help. I'm trying to decide which image pair looks best.

![screenshot - 26_12_2016 21_32_11](https://cloud.githubusercontent.com/assets/1716442/21485865/eda5fcea-cbb2-11e6-959e-1e75bf15fb4d.png)

Thoughts?

[2016-12-26 21:06] robertohuertasm commented on #380
I personally would prefer not to have the black border in the test tube but a colored one.  But that's no surprise as they are the ones that we currently have 😁
![file_type_testjs 2x](https://cloud.githubusercontent.com/assets/696981/21486588/318f1a1e-cbb7-11e6-8647-8977a371bb67.png)
![file_type_testts 2x](https://cloud.githubusercontent.com/assets/696981/21486587/2a1e9430-cbb7-11e6-8036-cd7dbc8c2

[2016-12-26 21:30] JimiC commented on #380
@robertohuertasm You mean something like this?

![screenshot - 26_12_2016 23_29_37](https://cloud.githubusercontent.com/assets/1716442/21486777/3a2e5fb6-cbc3-11e6-8fdb-85af75a41275.png)

[2016-12-26 21:37] JimiC commented on #380
So here are the rest of the folder images.

![screenshot - 26_12_2016 23_36_29](https://cloud.githubusercontent.com/assets/1716442/21486838/2fff9fcc-cbc4-11e6-8b4b-de5a0cb71f93.png)

Awaiting your input.

[2016-12-26 21:37] robertohuertasm commented on #380
Yes, but again, the problem here is that in the JS one the font and the background is too similar. My solution was to use a black border for the fonts and making the background yellow darker, which will help separating the background while making the font limits clearer in lighter themes.

[2016-12-26 21:40] JimiC commented on #380
Now that we can support `light` versions of an image I don't think our concern is about light themes in this case. I could make a `light` version with the JS in black.(?)

[2016-12-26 21:40] robertohuertasm commented on #380
@JimiC I like your folder proposal very much! The only thing that caught my eye was why you've decided to use green for `less` folder instead of blue? I love these folder icons! Congratulations!

[2016-12-26 21:42] JimiC commented on #380
The guideline I use to chose the folder color turned the folder green. Will have a look at it again.

[2016-12-26 21:43] robertohuertasm commented on #380
You're right about light versions. I'm still not used to think about it. 😜
Then the only thing pending is the fonts melting with the background. I would say it won't be easily readable but it should have to be tested. Maybe it works.

[2016-12-26 22:02] JimiC commented on #380
@robertohuertasm It turned out that the color of `less` is `gradient` and messed with me.

Now that I figure it out, here are the new versions.

![screenshot - 27_12_2016 00_00_44](https://cloud.githubusercontent.com/assets/1716442/21487005/b3411ebc-cbc7-11e6-9928-e29843b29e00.png)

Are we OK with those?

[2016-12-26 22:05] JimiC commented on #380
All icons that we have converted are available at https://github.com/JimiC/vscode-icons-svg/tree/master/icons. @robertohuertasm if you have the time please test the `testjs` image and let me know.

[2016-12-26 22:12] robertohuertasm commented on #380
Love the latest `less` color!
I'll try to test the icons myself and let you know. Thanks @JimiC!

[2016-12-26 23:05] robertohuertasm commented on #380
![original](https://cloud.githubusercontent.com/assets/696981/21487388/083f2760-cbc8-11e6-89e8-eb2f493bb5b8.PNG)
![new](https://cloud.githubusercontent.com/assets/696981/21487387/081ccbde-cbc8-11e6-8dea-0ae72e0aa92d.PNG)

I think the old ones work better.

[2016-12-27 07:43] jens1o commented on #380
Yeah, I agree with you.

[2016-12-27 07:51] rbukovansky commented on #513
@JimiC @robertohuertasm Thanks for resolution of this! :+1:

[2016-12-27 19:58] ginfuru commented on #380
All I could use some feed back for the `erb'
Old version has HTML5 ![old version](https://raw.githubusercontent.com/robertohuertasm/vscode-icons/master/icons/file_type_erb%402x.png)
I'm proposing a more flat version: ![icons](http://rdm.d.pr/dL2E+)

[2016-12-27 20:13] JimiC commented on #380
Guys I think this is it.

![screenshot - 27_12_2016 18_43_24](https://cloud.githubusercontent.com/assets/1716442/21507516/aad0c5b0-cc81-11e6-9a21-15da7ddbef09.png)

[2016-12-27 20:18] ginfuru commented on #380
@JimiC The closed folder is really hard for me to see personally. Maybe if you add a slight dark brown drop shadow to the test tude it might stand out more?

[2016-12-27 20:27] JimiC commented on #380
Originally the red tube was brighter (see above) but after @robertohuertasm comments I made it darken to align with the dark version of the simple icons. After all the original is also dark.

[2016-12-27 20:30] JimiC commented on #380
@ginfuru Regarding the `erb` I would choose the tilted version.

[2016-12-27 20:49] robertohuertasm commented on #380
![new](https://cloud.githubusercontent.com/assets/696981/21507939/f38d48b4-cc7c-11e6-84ed-7c12891e41fd.png)
![old](https://cloud.githubusercontent.com/assets/696981/21507940/f3a287f6-cc7c-11e6-85ac-f19cefd7f9d6.png)
![closed](https://cloud.githubusercontent.com/assets/696981/21508020/b1208a26-cc7d-11e6-92e7-7bec56d2b650.png)
![open](https://cloud.githubusercontent.com/assets/696981/21508021/b121c4

[2016-12-27 20:56] robertohuertasm commented on #380
![closed-src](https://cloud.githubusercontent.com/assets/696981/21508181/20429fd8-cc7f-11e6-97b1-3fa27499ed6b.png)
![src-closed](https://cloud.githubusercontent.com/assets/696981/21508183/2044542c-cc7f-11e6-9605-20115bb0b2f9.png)
![src-open](https://cloud.githubusercontent.com/assets/696981/21508182/204371c4-cc7f-11e6-9d75-ee5f9cb8c515.png)
![src-open-old](https://cloud.githubusercontent.com/asset

[2016-12-27 20:57] jens1o commented on #380
Well, I'm fine with the old one. Can't we convert it to svg without any changes?

[2016-12-27 20:58] robertohuertasm commented on #380
In general I think that we don't have to be constraint by our own guidelines when it's clear that the resulting color combination is not working. Design is not as mechanical as we would desire.

[2016-12-27 22:28] JimiC commented on #380
Regarding the fonts, I'm considering removing them completely. How about that? After all the color wires the brain, right?

Regarding the 'test' folder I could replicate the contrast of the original.

Regarding the 'source' folder, I still haven't done any visual testing, so I mostly rely on your feedback. Yes, we can keep the original colors but in my eyes the front icon got lost in the folder's

[2016-12-27 22:52] robertohuertasm commented on #380
I agree with @jens1o . I don't want to sound like I'm not open to suggestions but I think the old icons worked well like they were (I'm referring here mainly to the `test` ones) and I don't see any reason to change them drastically.

[2016-12-28 01:16] robertohuertasm commented on #559
Yes it is. If `.css` was still using a `file extension matching` then it will work as expected. But as now it's also using `language matching` this is how the current API is working.

[2016-12-28 01:17] robertohuertasm commented on #557
I've also submitted a [PR #17865](https://github.com/Microsoft/vscode/issues/17865)

[2016-12-28 07:25] jens1o commented on #380
I don't agree on that. I'm using this folder all the time in my php projects, so I kinda love it like it is. And I know exactly on a look that this is the source folder.

[2016-12-28 08:22] JimiC commented on #380
@jens1o You brain is wired to the color. There is no other folder that is dark green. The point here is to make also the front icon noticeable.

[2016-12-28 08:58] JimiC commented on #380
Another try

![screenshot - 28_12_2016 10_54_55](https://cloud.githubusercontent.com/assets/1716442/21518021/232fc2ee-ccec-11e6-99b2-da9df763eb3d.png)

*
`spec` The original icons with original color converted to SVG.
`spec-1` No front icon, colored using the official color.
`spec-2` No font icon, colored using the original color.

Thoughts?

[2016-12-28 11:25] erroledge87 opened #584 "[Icon Request] Support for .AU3"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request:
      - Type: extension
      - Icon Name: Au3Script or AutoIT
      - Sample original Icon: [AutoIT](http://seeklogo.com/images/A/autoit-logo-CC4B097310-seeklogo.com.png)
      - Extensions: .au3

[2016-12-28 11:53] JimiC commented on #380
Side by side comparison

![screenshot - 28_12_2016 13_50_24](https://cloud.githubusercontent.com/assets/1716442/21521326/a2b20a28-cd04-11e6-8c2c-e98775bb98ba.png)

`test` Original icon converted to SVG.
`test2` Proposed icon.

Personally I believe the proposed icon isn't that bad.

[2016-12-28 11:59] jens1o commented on #380
I would prefer the first one. I don't like it when there is much contrast.

[2016-12-28 12:18] JimiC commented on #380
@jens1o Are you referring to the file of folder icon?

[2016-12-28 12:41] jens1o commented on #380
Yes, I do.

[2016-12-28 12:42] JimiC commented on #380
@jens1o Sorry I meant `or`.

[2016-12-28 13:16] JimiC commented on #380
I reworked the `src` folder. I believe these look much much better.

![screenshot - 28_12_2016 15_14_24](https://cloud.githubusercontent.com/assets/1716442/21522686/782cdb46-cd10-11e6-9fc8-d4030b7a2740.png)

![screenshot - 28_12_2016 15_16_17](https://cloud.githubusercontent.com/assets/1716442/21522708/a1bfd116-cd10-11e6-823c-a6e118f594c0.png)

[2016-12-28 14:41] robertohuertasm commented on #380
Let's see. This is how I see it:
1. Test icons: I would go with older icons but official colors.
2. Test folder: I like the first one.
3. Source folder: I like it but I'm not still convinced about the color of the icon, as in the dark theme the low part of the icon gets confused with the background. (I haven't had the time to test it myself in my editor so my comment refers strictly to what I see

[2016-12-28 16:11] JimiC commented on #380
@robertohuertasm I haven't uploaded the icons on my repo yet so they aren't available.
95% of the front icon has the folder as background, so I don't think it's much of an issue.
In order for the front icon to be more visible it need to be thinker so it occupies more space. This means that if this icon gets rejected we will have to change the front icon to something else with more color mass.

[2016-12-29 00:05] totkeks opened #585 "[Icon Request] Own icon for fonts folders"
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request:
      - Type: folder
      - Icon Name: FontFolder
      - Sample original Icon: [Icon](http://findicons.com/icon/download/35678/fonts/32/png) (hint: does not display in browser but pops up a download window)
      - Extensions: fonts

[2016-12-29 10:32] jens1o commented on #585
Great idea, but I think this icon does not match our style guidelines. Your thoughts @robertohuertasm and @JimiC ?

[2016-12-29 18:14] JimiC commented on #585
See this [comment](https://github.com/robertohuertasm/vscode-icons/issues/514#issuecomment-267320799).

[2016-12-29 23:18] JimiC commented on #380
![screenshot - 30_12_2016 01_17_53](https://cloud.githubusercontent.com/assets/1716442/21556919/d453298e-ce2d-11e6-8e77-f15146c8312c.png)

* Left: old
* Right: new

[2016-12-29 23:25] robertohuertasm commented on #380
@JimiC sorry to be so picky but doesn't the icon of the `source` folder take too much space compared to the rest of the new folders that you've been creating?

I like it but it seems to me that the icon takes the same space as the folder.

[2016-12-30 10:29] JimiC commented on #380
![screenshot - 30_12_2016 12_28_06](https://cloud.githubusercontent.com/assets/1716442/21563471/76b1a0b8-ce8b-11e6-95f2-4d3104a21eba.png)

* Left: old
* Right: new

@robertohuertasm @jens1o In order to been with this and move forward, are we OK with those?

[2016-12-30 15:07] robertohuertasm commented on #380
This seems ok to me! Many thanks @JimiC 👍

[2016-12-30 20:40] jens1o commented on #380
Seems okey to me, too. Thank you for holding out my wishes with patience. 😉

[2016-12-31 02:15] robertohuertasm commented on #557
It seems that the PR has been merged! :+1:

[2017-01-01 10:21] jens1o commented on #432
Closing due to inactivity on this issue.

[2017-01-01 10:25] JimiC commented on #432
Maybe we shouldn't close this and keep it as a reminder to give the ability for custom folder icons.

[2017-01-01 10:25] jens1o commented on #557
What does this mean for us? Do we have to fix anything or do we need to wait for the next update?

[2017-01-01 10:25] jens1o commented on #432
Good point ^^^

[2017-01-01 10:29] JimiC commented on #557
The next `vscode` will be in a few days (January release). We could wait a bit or close it. If somebody opens another issue we could point him/her to the right direction.

[2017-01-01 13:09] robertohuertasm commented on #557
I didn't close it just to wait for the new functionality to be deployed and test it again just in case.

[2017-01-03 09:39] JimiC commented on #575
I already have a design idea for the new logo. I'll present it when it's ready.

[2017-01-04 01:58] leaxoy opened #598 "Option for hide folder icons!"
As title describe!

[2017-01-05 21:24] 40tude opened #600 "Linux issue : .../.config/code-oss-dev vs .../.config/code/..."
Bonjour
I compiled and run VSCode on a Raspberry (Debian) and it works
I'm able to use Python (0.55) and C/C++ (0.9.3) extensions

However I'm not able to install the vscode-icons extension
Indeed after the Reload here is the message I get : Activating extension `robertohuertasm.vscode-icons` failed: ENOENT: no such file or directory, open '/home/philippe/.config/Code/User/vsicons.settings.json'.

[2017-01-05 21:42] robertohuertasm commented on #600
It seems that the function we use to resolve the `user folder` is not working for you. We'll take a look at it and let you know.

Thanks for reporting this! 😁

[2017-01-05 22:05] robertohuertasm commented on #600
Hey Philippe,

you said you compiled `vscode` yourself and that's why you're having this issue. Basically, you should change the `name` property of the `package.json` to `Code`.

We determine the folder where `vscode` stores user data by looking at the appName by doing a simple mapping. As we don't have access to the `name` property we stick to the association:
- appname == Visual Studio Code -> u

[2017-01-05 22:30] 40tude commented on #600
I just modify the name as you requested and recompile
Works like a charm
Many thanks for the fast answer and the trick
I hope my feedback helped, Philippe

PS : I'm not sure to understand why there are differents name nor what OSS stand for.

[2017-01-05 22:30] JimiC commented on #600
Confirming @robertohuertasm. This only happens if you self-compile `vscode`.

[2017-01-05 22:31] JimiC commented on #600
OSS = Open Source Software

[2017-01-05 22:33] #600 closed

[2017-01-06 01:07] robertohuertasm commented on #598
@leaxoy this is already implemented in #596. It will be deployed soon.

[2017-01-06 23:26] #432 closed

[2017-01-06 23:26] #508 closed

[2017-01-06 23:26] #538 closed

[2017-01-06 23:26] #581 closed

[2017-01-06 23:26] #598 closed

[2017-01-07 19:58] robertohuertasm commented on #583
See #596

[2017-01-07 19:58] #583 closed

[2017-01-07 22:32] robertohuertasm opened #603 "New Typings folder icon should need more contrast"
![image](https://cloud.githubusercontent.com/assets/696981/21745707/9a6116ea-d531-11e6-9f0f-05cacbb9a7f6.png)

[2017-01-08 11:19] #603 closed

[2017-01-08 11:30] robertohuertasm commented on #557
I've checked this in the `Insiders version` and it works so I'm closing this.

[2017-01-08 11:30] #557 closed

[2017-01-08 11:31] JimiC commented on #557
Confirming.

[2017-01-08 11:47] robertohuertasm opened #605 "Getting rid of @2x suffix"
- [x] I'm sure this issue is not a *duplicate*

[2017-01-08 11:48] robertohuertasm opened #606 "Executing Apply customization when updating the extension"
- [x] I'm sure this issue is not a *duplicate*?

[2017-01-08 14:55] JimiC commented on #380
Which of the two do you prefer as first icon for `json`?

![screenshot - 08_01_2017 16_43_41](https://cloud.githubusercontent.com/assets/1716442/21750753/413cde90-d5c3-11e6-9178-13cfdc5603d2.png)
![screenshot - 08_01_2017 16_42_47](https://cloud.githubusercontent.com/assets/1716442/21750754/46153d04-d5c3-11e6-8a3a-fd6e6e0e2ca5.png)

[2017-01-08 17:39] jens1o commented on #380
As first one, the former. But I would love to have the current icon as default. Maybe many user worries about this icon?

[2017-01-08 17:43] JimiC commented on #380
The second is a combination of what we have now and the official logo. I think that icon has the potential to please everyone.

[2017-01-08 22:06] cmccorvey opened #609 "Apply Icons Customization Not Working"
When attempting to customize some of the file associations, I ran into the issue that the Apply Icons Customization command does not work. I receive a **"command 'extension.regenerateIcons' not found"** error from VSCode. In fact none of the Icons commands seem to be working even though they show up in the F1 list.

I am running VSCode 1.8.1 on OS X 10.12.2. I tried uninstalling and re-installing

[2017-01-08 22:10] robertohuertasm commented on #380
I also prefer the former. What icon is that? Is the official one? I've never seen it.

[2017-01-08 22:18] cmccorvey opened #610 "Missing associations for testts icon"
While there is a supported file association for the testjs icon, there is no association for the corresponding Typescript flavored testts icon. I suggest the following be added to supportedExtensions.js:

     { icon: 'testts', extensions: ['test.ts', 'spec.ts'], format: FileFormat.svg },

[2017-01-08 22:20] robertohuertasm commented on #610
This must be a bug. It was present until the latest release. Let me check it.

[2017-01-08 22:21] cmccorvey commented on #610
Thanks!

[2017-01-08 22:22] robertohuertasm commented on #610
It seems that somehow has been removed from the `supportedExtensions`. There will be a patch published in a few hours.

[2017-01-08 22:25] robertohuertasm commented on #609
Can you post your custom settings?

[2017-01-08 22:27] cmccorvey commented on #609
Sure thing.

[code]

[2017-01-08 22:29] robertohuertasm commented on #609
Thanks! I'll come back to you soon!

[2017-01-08 22:29] cmccorvey commented on #609
FYI, trying to invoke Restore Default Icon Manifest ends in the error "command 'extension.restoreIcons' not found".