[2016-06-01 10:46] NomNes opened #1 "Python"
Hi! Add icon for *.py files, pleace

[2016-06-01 11:19] robertohuertasm commented on #1
It's already added. Please, download the latest version of the plugin, then Disable and Enable the icons and restart vscode.

[2016-06-01 11:19] #1 closed

[2016-06-02 04:34] smallnest opened #2 "some icons have not been displayed"
OS: Windows 10
vscode: 1.1.1
vscode-icons: latest(0.2.14)

I checked icons.zip and it has contained two icons for go.

[
![file-icons](https://cloud.githubusercontent.com/assets/865763/15734085/55a91022-28be-11e6-848a-f93c66db3a6f.png)
](url)

[2016-06-02 09:27] robertohuertasm commented on #2
Done! As usual, download the new version, disable and enable icons and restart vscode.

[2016-06-02 09:27] #2 closed

[2016-06-02 09:33] smallnest commented on #2
Thanks.
Deleted this plugin and installed it again. It works normally.

[2016-06-02 13:26] Ysuran opened #3 "java icons dont works"
the java icons file not works. In the folder icons.zip are presents.

this extension are awesome. Good work

[2016-06-02 15:08] robertohuertasm commented on #3
Hi @Ysuran, Java icons in place. Disable, Enable and restart the app. 😄

[2016-06-02 15:08] #3 closed

[2016-06-02 16:52] weslley39 opened #4 "CoffeScript"
Would be great if `.coffee` files had icon.

[2016-06-02 16:58] robertohuertasm commented on #4
Granted! Update the extension, disable, enable and restart! 😄

[2016-06-02 16:58] #4 closed

[2016-06-02 19:55] Daylien opened #5 "Lua icons"
Hello,

great job !
Really awesome extension. But can you add icons to .lua files ?

Thanks

Have a nice day ! :)

[2016-06-02 20:59] TheColorRed opened #6 "Linux Support"
This doesn't seem to work in Ubuntu.

When I enable the icons nothing happens, then when I disable the icons afterwards, it says they are already disabled.

[2016-06-02 21:01] robertohuertasm commented on #6
Hi @TheColorRed,
Linux is not currently supported but I'll try to make it work this weekend. I'll let you know my progress. ;D

[2016-06-03 01:48] Donelle commented on #6
I'm having the same issues on OS X El Capitan

[2016-06-03 09:02] bansalvks opened #7 "Feature request: icons are very light for Light theme users"
The icons are extremely good for Dark theme users however for people like me who are on light side are facing trouble viewing them.

Please create 2 sets of icons 1 for light and 1 for dark themes that can be selected by executing commands.

Many thanks.

[2016-06-03 11:05] robertohuertasm commented on #7
Designers of the world!! Some help would be really appreciated!

[2016-06-03 19:42] robertohuertasm commented on #5
Hi @Daylien, lua icons are already supported!

[2016-06-03 19:42] #5 closed

[2016-06-03 19:43] robertohuertasm opened #9 "Extension css seems to be messing with refresh icon"
Every time the extension is enabled the refresh icon from the bottom bar fails to be rendered. It also happens to the cloud symbol.

[2016-06-03 20:49] robertohuertasm commented on #9
Solved!

[2016-06-03 20:49] #9 closed

[2016-06-03 21:30] mrmlnc opened #11 "package.json this is JSON"
File `package.json` does not belong to the npm. This is a typical json file.

Maybe it's better this way:

[code]

[2016-06-03 22:09] rbatukaev opened #12 "Dockerfile"
Dockerfile icon is missing after recent update

[2016-06-03 22:21] rozzzly commented on #6
It works for me on Arch. I did however need to **`sudo vscode .`** before running **`extension.installicons`** from the command pallet (`ctrl+shift+p`).

Visual Studio Code does not allow extensions to customize the GUI. But it's a electron app so all the styling just in css. This extension simply patches that css file, a bit hacky, but effective :smirk:

Running it as a normal user, you will find

[2016-06-03 22:33] rozzzly commented on #11
Or custom code that checks for existance of `node_modules`, `.npmignore`. Possibly even reading the file to see if it looks like the `package.json` schema, but I think that probably overkill/prone to hiccups.

[2016-06-03 23:20] robertohuertasm commented on #6
Hi @TheColorRed @rozzzly I've just updated the readme with instructions on how to proceed in Ubuntu. I've just tested and it works. Agree on showing a message to users, both in Windows and Linux.

[2016-06-03 23:29] TheColorRed commented on #6
Cool! It worked!

[2016-06-03 23:36] robertohuertasm commented on #11
@mrmlnc I just used the npm icon because I mostly use package.json on npm context. What other contexts does this file has? I've look into atom's icons and they just mark it as json. In fact, I just added this change today so... I can change it again if we have quorum ;D

[2016-06-04 02:02] robertohuertasm commented on #12
Solved!

[2016-06-04 02:03] robertohuertasm commented on #6
Message is now shown to the users when permission error occurs.

[2016-06-04 05:35] galvesribeiro opened #14 "How to enable the icons?"
Hi!

Thanks for bring icons back.

I don't know what is going on but, I installed the extension as admin but, where are the commands to enable the Icons?

Thanks!

[2016-06-04 06:33] rozzzly commented on #6
I went to update to the latest version after the fix and I noticed a few things I would like to note for the record:

  1. When trying to update the the extension, I ran the shell command I suggested in my previous post—`sudo vscode .`—I got this message:

 That made me remembered that the first time around, I had been given the same message and actually had to run the command: **`sudo vscode --us

[2016-06-04 07:45] robertohuertasm commented on #14
In Windows and Linux just use the Ctrol+P key combination. Then enter Icons Enable. Is it not showing this for you?

[2016-06-04 08:00] robertohuertasm commented on #6
Hi @rozzzly, that's right, there's more than a css to be modified. We need to inject some js to make it work and some bak files to rollback in case you want to disable the mod.

By changing the ownership of the vscode root folder it's working on Ubuntu. I guess that the danger here, if you don't restore again the old ownership, is that another malicious extension could potentially do anything to y

[2016-06-04 08:29] mrmlnc commented on #11
For example, themes for VS Code:
https://github.com/marvinhagemeister/vscode-theme-afterglow-remastered/blob/master/package.json

Or, languages for VS Code:
https://github.com/mrmlnc/vscode-apache/blob/master/package.json

Or, GitBook use `package.json` to configure the plugins.

In truth, this is not so important :)

[2016-06-04 09:01] robertohuertasm commented on #11
Ok! You've made your point. I'll change it to json icon! :+1:

[2016-06-04 13:16] Moncef12 opened #15 "Server returned 404"
Hi,

I'm getting: "Server returned 404" , when launching the command (ctrl+p => ext install vscode-icons)  to install this extension.

(I'm on linux/ubuntu).

[2016-06-04 17:33] galvesribeiro commented on #14
Hey @robertohuertasm nop, it isn't :(

I'm with latest release version of Code and Windows 10:

[code]

[2016-06-04 18:04] mrmlnc commented on #14
You should open the editor with administrator privileges and invoke the command: enable icons. After that the admin mode is not needed.

[2016-06-04 18:07] galvesribeiro commented on #14
@mrmlnc  I did... the command never appear:

![image](https://cloud.githubusercontent.com/assets/4714040/15801254/015e6946-2a66-11e6-964d-ef33da31938d.png)

![image](https://cloud.githubusercontent.com/assets/4714040/15801256/0d0bde54-2a66-11e6-9c90-9b6349a4b9b3.png)

[2016-06-04 18:11] NomNes commented on #14
Press ctrl+shift+P

[2016-06-04 18:13] galvesribeiro commented on #14
AHHHHHH was missing the SHIFT :)

Thank you guys! Keep this great work! :)

[2016-06-04 18:13] #14 closed

[2016-06-04 18:59] #11 closed

[2016-06-05 09:17] robertohuertasm commented on #15
Hi @Moncef12, have you checked your internet connection? I've just tested it with a new Ubuntu machine and it worked fine. This issue of yours is not related to the extension but to the VS Code marketplace. It's Microsoft who provides the package.

Please, try it again and let me know what you find. :wink:

[2016-06-05 17:35] gep13 opened #16 "Add icon for .cake extension"
How would I go about doing this?

This would be to support this build automation tool:

http://cakebuild.net/

Thanks!

[2016-06-05 20:52] robertohuertasm commented on #16
Solved! Uploaded right now

[2016-06-05 20:52] #16 closed

[2016-06-05 20:52] robertohuertasm commented on #15
@Moncef12 any news on this?

[2016-06-05 22:47] alex-hempel opened #17 "Add icon for PowerShell (.ps1, .psm, .psd)"
An icon for PowerShell files would be great.

Something like this would probably work:

https://chocolatey.org/content/packageimages/powershell-packagemanagement.10.0.10586.117.png

Cheers, keep up the great work!

[2016-06-06 07:16] Moncef12 commented on #15
@robertohuertasm : the same problem, I will upgrade to the last version of vscode today and try again.

[2016-06-06 07:39] gep13 commented on #16
@robertohuertasm thanks! Where does the actual cake icon reside though?

[2016-06-06 08:04] robertohuertasm commented on #17
@alex-hempel .psd can also be a photoshop file... I've uploaded the icon associated with ps1, psm1, psd1 according to this post: http://stackoverflow.com/questions/12107462/file-extension-for-powershell-3

Let me know if you feel this is wrong 😉

[2016-06-06 08:38] robertohuertasm commented on #16
Icons are downloaded to resources/app/out/vs/workbench/parts/files/browser/media/icons/ folder.
Depending on your OS you will have to look in Program Files (x86), inside your .app contents or in usr/share/code

[2016-06-06 08:40] gep13 commented on #16
@robertohuertasm sorry, that wasn't my question, but now I see what you have done...  I didn't notice the icons.zip in your commit: https://github.com/robertohuertasm/vscode-icons/commit/ce232284dc586cd2f656aa0f9d6cfb02e99720bc so I couldn't see where you were adding the cake icon.  But now I see what you are doing.

Thanks!

[2016-06-06 08:44] robertohuertasm commented on #15
Ok. Let me know how it ends so I can close the issue. :wink:

[2016-06-06 08:46] robertohuertasm commented on #16
@gep13 :+1:

[2016-06-06 21:44] alex-hempel commented on #17
@robertohuertasm, excellent work, thanks so much for the quick update! And you are of course correct, I got the PowerShell extensions wrong :)

[2016-06-06 21:44] #17 closed

[2016-06-07 07:50] laimonas opened #18 "Icons not showing"
After latest vscode 1.2.0 update icons not showing any more.
Windows 10

[2016-06-07 08:10] Meerownymous commented on #15
Same problem for me - If i open ctrl+p and enter the command, VS doesn't find your repo and only suggests some other ones.

[2016-06-07 08:24] robertohuertasm commented on #15
@Meerownymous what's the version you have installed? Uninstall it and reinstall it again.f I've tested it in Windows, Ubuntu and OS X and I can't reproduce this behaviour.

[2016-06-07 08:25] robertohuertasm commented on #18
I've just tested in a Windows 10 virtual machine and it's working with 1.2.0 version. Did you upgrade from a very early version? Try reinstalling vscode. You won't loose your extensions as they're kept between installations but all the core files will be renewed.

[2016-06-07 08:48] Meerownymous commented on #15
Visual Studio Version 1.2.0, build from yesterday.
I figured out that putting the module name in quotes solves the listing problem: ext install "vscode-icons" - I guess that vscode otherwise treats it as two words.

The extension version is 1.0.20

[2016-06-07 09:06] robertohuertasm commented on #15
@Meerownymous thank you very much for your findings! It seems that vscode maybe a very common term in all the extensions and as you said, vscode treats the search as two different words. In fact, if you try ext install icons it shows you the extension right away. If you put ext install vscode-icons it does appear, but listed down in the scroll.

Anyway, this doesn't seem to be the same problem tha

[2016-06-07 09:38] laimonas commented on #18
I just try to reinstall fresh vscode. Removed all extensions and install only this one. The i cons not showing. The same happens to my colleague.

[2016-06-07 09:40] robertohuertasm commented on #18
Sorry to ask but just in case, did you execute the icons enable command, didn't you?

[2016-06-07 09:42] robertohuertasm commented on #18
I don't know what's really happening. Here you can see my test with 1.20 version working.
![image](https://cloud.githubusercontent.com/assets/696981/15853309/c5411490-2ca4-11e6-8fa6-5125e754d30c.png)

[2016-06-07 09:43] laimonas commented on #18
That's right i forgot about this. Now it's working. But after vscode upgrade i think icons should stay if they where enabled before.

[2016-06-07 09:44] robertohuertasm commented on #18
That's not possible at the moment. As the extension modifies some vscode core files, if you upgrade vscode the reinstallation process will erase all the mods. It's all in the readme. ;D

[2016-06-07 09:44] #18 closed

[2016-06-07 12:26] Moncef12 commented on #15
It works !! I'm on the last version 1.2. (I was on a really old version 0.10 ...)

Thank you very much  !!

[2016-06-07 13:46] MartinJBates opened #19 "Vuejs icon"
Hi,

Can you add the icon .vue files please? http://vuejs.org/

[2016-06-07 13:50] MartinJBates commented on #19
No longer needed

[2016-06-07 14:18] aaroncolclough commented on #19
![file_type_vue](https://cloud.githubusercontent.com/assets/12542251/15860979/0eddb39c-2cc3-11e6-84fb-4d9e879461c4.png)
![file_type_vue 2x](https://cloud.githubusercontent.com/assets/12542251/15860980/0ee78b1a-2cc3-11e6-880a-cd8cb8fc2621.png)

[2016-06-07 14:43] #15 closed

[2016-06-07 22:58] robertohuertasm commented on #19
Done! It's already published! 1.0.21

[2016-06-07 22:58] #19 closed

[2016-06-08 15:59] jbeckton opened #21 "Installed Extension no icons appear"
How do you enable these? A command was mentioned on the download page but where or how do you enter this command? I entered it into the command palette with no luck.  Please provide enough information so that I can enjoy these icons.

[2016-06-08 16:08] mrmlnc commented on #21
1. Run VS Code with admin privileges
  2. Install this extension
  3. Press `Restart Now`
  4. Press `F1` and select `Icons Enable` or `Icons Update` (if extension was updated)
  5. Close VS Code
  6. Run VS Code

[2016-06-08 16:17] robertohuertasm commented on #21
@jbeckton I already answered your question on the marketplace.
The truth is that I didn't think of explaining how to execute commands as this is a common feature of VS Code. I'll add this information in case someone else finds it difficult.

@mrmlnc has explained all the process to follow perfectly. :+1:

@jbeckton could you be so kind of updating your stars assesment?

[2016-06-08 16:32] TheColorRed opened #22 "PHP Icon Very Small"
Maybe it is just me, but the PHP icon looks much smaller than the rest. Could we increase it's size?

![screenshot from 2016-06-08 11 32 20](https://cloud.githubusercontent.com/assets/1571806/15902266/bac290ac-2d6c-11e6-881b-7db83e673cfc.png)

[2016-06-08 22:06] jbeckton commented on #21
Thanks but the steps presented by mrmInc require a step that is not very common. Opening the command palette and entering a command and then hitting return is common, I do it all day long. Rarely do I have to restart the editor after entering a command. In fact I can't remember any instance where I had to restart the editor with the exception of installing extensions or updates.

I did however res

[2016-06-08 22:20] robertohuertasm commented on #21
@jbeckton as you may have already read in the docs this extension is some sort of a hack so restarting is needed in order to see the changes. That said, I'm not really sure why is not working for you. I also have a Mac and this is the easiest OS to make it work as you won't need to run vscode in administrator mode.

Could you tell me exactly what are you doing? I mean, this should be a very simple

[2016-06-09 04:04] jbeckton commented on #21
I just ran the install command again and it shows that the extension is already installed so I clicked the update button and this time I got a restart prompt. So I clicked it and still no icons. So I closed vs code by right clicking the icon and selecting quit. Still no icons..

I guess it doesn't like me.. lol

![screen shot 2016-06-08 at 9 58 28 pm](https://cloud.githubusercontent.com/assets/266

[2016-06-09 10:07] robertohuertasm commented on #21
@jbeckton you're missing the most important step. I guess you're using a Mac, aren't you? If that's the case, once you have installed vscode-icons and restarted the IDE you have to enter the "Icons Enable" command. How would you do that? Easy. As @mrmlnc pointed out you just have to press F1 and then the command palette will pop up with a ">" icon in it. Then type in "icons enable" and hit Enter.

[2016-06-09 10:24] robertohuertasm commented on #22
Hi @TheColorRed, it's not jus you. I have to say that I took the icons from Sublime Text editor so I guess they somehow decided that this was the correct size for php files... and honestly, I don't know really why. 😁

I'll try to fix this and I'll let you know once it's done! 👍

[2016-06-09 10:52] robertohuertasm commented on #22
I've uploaded a new icons.zip file with a new php icon. You will have to update the extension. 😄

[2016-06-09 10:52] #22 closed

[2016-06-09 15:50] jbeckton commented on #21
@robertohuertasm I'll try this again tonight when I get home. I ran that command already with no luck. But, I think I am in a better state now after running the update for the icons last night I did get the restart prompt after the update but I did not after the initial install.

[2016-06-15 07:04] MaxDeg opened #24 "F# icon"
Hi,

Could you please add icons for F#?
The extensions are .fs,.fsi,.fsx :)

By the way your extension is great and increase the readability in VS code ;)

![file_type_fsharp 2x](https://cloud.githubusercontent.com/assets/6094373/16070752/dd57cfcc-32d7-11e6-90f2-0df314a5b61d.png)
![file_type_fsharp](https://cloud.githubusercontent.com/assets/6094373/16070753/dd5a9702-32d7-11e6-997d-d062556443d0.pn

[2016-06-15 09:46] robertohuertasm commented on #24
Done! You can now enjoy F# icons!

[2016-06-15 09:46] #24 closed

[2016-06-15 09:47] #6 closed

[2016-06-15 11:00] listepo opened #25 "Handlebars icon"
Hi @robertohuertasm, there are plans to add an icon for handlebars?

[2016-06-15 11:01] robertohuertasm commented on #25
What would be the handlebars file extensions?

[2016-06-15 11:02] robertohuertasm commented on #25
.hbs & .handlebars?

[2016-06-15 11:15] listepo commented on #25
@robertohuertasm yes

[2016-06-15 18:51] camijohn515 opened #26 "Error when selecting "Icons Enable""
I installed the extension with no issues.  I launched Visual Studio Code as Administrator and then I hit F1 on the keyboard.  Then I typed  Icons and the following selections came up:
Icons Enable
Icons Disable
Icons Update

As soon as I select "Icons Enable"  I get the following message:
Error No handler found for the command: 'extension.installIcons'. An extension might be missing an activation

[2016-06-15 19:32] robertohuertasm commented on #26
I guess you're using Windows... What VSCode version are you using? Have you tried to reinstall the extension? It's weird, this error is because somehow the activation process never happens and it should be executed on opening VSCode. Try reinstalling the extension.

[2016-06-15 20:15] camijohn515 commented on #26
Yes, I am using windows 7 Pro.  I tried re-installing the extension several times on 2 different machines.  With the same results.  Other extensions are installing fine.  I am using Visual Studio 1.2.1.  I installed that version today.  I tried to reinstall the extension before and after the 1.2.1 update.

[2016-06-15 23:28] robertohuertasm commented on #26
Those 2 different machines were also Windows 7?

[2016-06-16 08:30] robertohuertasm commented on #25
Done! 👍

[2016-06-16 08:30] #25 closed

[2016-06-16 09:12] listepo commented on #25
@robertohuertasm thanks 👍

[2016-06-16 13:47] camijohn515 commented on #26
Actually, one of the machines is a Windows 2008 server. VS Code and other extensions run fine on it.  I'm not sure if it's supposed to be compatible with that OS or not.  I am going to install VS Studio Code on a laptop that is not on the network and see what happens.

[2016-06-16 13:53] robertohuertasm commented on #26
are you behind some firewall? The extension will try to download the icons from the Github repository. Try enabling the Developer Tools in your VSCode and see if something is thrown into the console while enabling the icons.

[2016-06-16 15:26] camijohn515 commented on #26
I enabled the developer options and I figured out. It could not find the package.json file inside of the extension's folder.  For whatever reason, it failed to download.  I manually downloaded the zip file, extracted it and copied the folder to the extensions directory and it works great. Like you said, it looks like some kind of firewall was blocking it.  You can close this issue. Thanks for your

[2016-06-16 15:30] #26 closed

[2016-06-17 02:08] tylucaskelley opened #28 "Feature request: more icons"
Some suggestions (willing to help out via pull requests if needed):

1. .editorconfig: Use the EditorConfig logo or a yellow gear icon
2. .babelrc: Use the Babel logo or a yellow gear icon
3. .env: Pretty common for people to use an env file for API keys and such, perhaps good to add an icon for it
4. .eslintignore: use the same icon as the .eslintrc file
5. *.log: Log files should have an icon as

[2016-06-17 06:18] MaxDeg commented on #24
Looks like you forgot one icon in the zip :) Only the x2 is present ;)

[2016-06-17 07:04] robertohuertasm commented on #24
It's not needed. As s matter of fact, I'm thinking of removing the normal size icons as they're only kept just in case someday we'll need them.

[2016-06-17 08:04] MaxDeg commented on #24
Ok but looks like the change you made don't work. I don't see the fs icon in the list.
![capture](https://cloud.githubusercontent.com/assets/6094373/16144373/cf9a91fc-3472-11e6-98e0-3e3b90f34a0c.PNG)

[2016-06-17 08:39] mrmlnc commented on #24
Confirm

![image](https://cloud.githubusercontent.com/assets/7034281/16145173/0d23365c-3480-11e6-9587-02916f687b20.png)

[2016-06-17 09:25] robertohuertasm commented on #24
What version of the extension do you have installed?

![image](https://cloud.githubusercontent.com/assets/696981/16146405/1d59e05e-347e-11e6-827a-b42da3ed3e98.png)

[2016-06-17 09:34] robertohuertasm commented on #24
It should be working in 1.1.0. I've just tested it in a colleague's laptop and the icon appeared ;D

[2016-06-17 09:48] mrmlnc commented on #24
IMHO, problen in automatically restart editor after #27.

1. Run with admin privileges
![image](https://cloud.githubusercontent.com/assets/7034281/16147030/b6230224-3489-11e6-8c26-325e89b3cecc.png)

2. Update icons
![image](https://cloud.githubusercontent.com/assets/7034281/16147040/c74a1830-3489-11e6-9d0c-eabdb759024e.png)

3. Update icons
![image](https://cloud.githubusercontent.com/assets/70342

[2016-06-17 09:54] mrmlnc commented on #24
GIF version:
![2016-06-17_12-52-37](https://cloud.githubusercontent.com/assets/7034281/16147238/9a8445e0-348a-11e6-8ccf-fe8baf1e5248.gif)

[2016-06-17 10:02] MaxDeg commented on #24
Ok ofr me. I had to disable and enable again the icons.

[2016-06-17 10:06] robertohuertasm commented on #24
There's definitely an issue with the autorefresh functionality. I've tested it in Windows and it always produces problems. Not in my Mac, though.

Let's open an issue with this and try to fix it.

[2016-06-17 10:08] robertohuertasm opened #29 "Autorefresh functionality not working properly in Windows"
See #24 for more details. Basically, every time you select "icons update" the extension breaks.

[2016-06-17 23:10] jschwarty opened #30 "Feature request: smaller icons"
Some of the icons look a bit too big (typescript, c#, html). Would be cool if these were a little smaller in scale.

[2016-06-17 23:12] jschwarty commented on #7
Would be nice to also have a set of non-color ones for each light and dark too and have an option to roll with the color or non-color icons.

[2016-06-17 23:37] robertohuertasm commented on #30
These icons that you're referring to were the default package from sublime. This is not a priority for me. I expect to provide custom icons functionality so anyone can use the ones they prefer but I'll keep this opened in case some designer takes the lead and prepares some cool icons for us :wink:

[2016-06-17 23:40] robertohuertasm commented on #28
Done. 1.1.4

[2016-06-17 23:40] #28 closed

[2016-06-17 23:42] robertohuertasm commented on #29
Fixed. Now it's not completely automatic. It's integrated in the completed task message so the user can opt in for the restart of the ide.

[2016-06-17 23:42] #29 closed

[2016-06-17 23:46] robertohuertasm opened #31 "Add support for icons packages"
Add support for custom icon packages.

[2016-06-18 06:20] kosz78 opened #32 "Add Nim language icon"
Please add icon for [Nim](https://github.com/nim-lang/Nim) language files `*.nim`, `*.nims`, `*.nim.cfg`
![Icon](https://raw.githubusercontent.com/nim-lang/assets/master/Art/logo-crown.png)

[2016-06-19 12:48] robertohuertasm commented on #32
1.1.5 ready and published with nim support!

[2016-06-19 12:48] #32 closed

[2016-06-19 14:12] skolmer opened #33 "Icon for vscode tsconfig.json, tasks.json and settings.json"
All vscode configs should have the vscode icon instead of default json icon.
`jsconfig.json` and `.vscode/launch.json` have the vscode icon but `tsconfig.json`, `.vscode\tasks.json` and `.vscode\settings.json` have the default json icon.

[2016-06-19 14:16] mrmlnc commented on #33
IMHO, if the file has an extension `.json`, this is JSON file.

[2016-06-19 14:51] skolmer commented on #33
In my opinion vscode icons for vscode specific configuration files are fine, but that wasn't my point. This issue is about consistency. At the moment launch.json and jsconfig.json have both vscode icons but other vscode specific configs have json icons. Those files have all the same file extension!

[2016-06-19 15:01] mrmlnc commented on #33
@skolmer, It sounds logical. Perhaps, I agree.

[2016-06-19 15:07] skolmer opened #34 "Feature request: Typescript Definition Icon"
It would be nice to have a separate icon for .d.ts files to visually differentiate typescript code from typescript type definitions. I propose this icon (other suggestions are welcome):
![file_type_typescript_def 2x](https://cloud.githubusercontent.com/assets/2427106/16178062/1777047e-363f-11e6-8381-4c0146c75e30.png)

[2016-06-20 13:47] tylucaskelley commented on #28
sweet, thanks!!

[2016-06-20 20:58] tylucaskelley opened #35 "icon request: add .stylelintrc icon"
http://stylelint.io/user-guide/configuration/

[2016-06-21 06:52] NEX1S opened #36 "ASP + INI icon"
Hi,

Could you please add a icon for ASP files + .ini files

The extensions is .asp and .ini :)

[2016-06-21 22:45] tinovyatkin opened #37 "Handlebars"
Both .hbs and .handlebars extensions are in list of supported, but they appears as genetic document... Is is OK?

[2016-06-22 00:51] tylucaskelley opened #38 "icon request:"

[2016-06-22 00:51] #38 closed

[2016-06-22 00:51] tylucaskelley commented on #38
sorry, hit enter before finishing lol

[2016-06-23 20:59] tinovyatkin commented on #37
Did 'Update icons' and it works now.

[2016-06-23 20:59] #37 closed

[2016-06-24 04:49] SandHilt opened #39 "Add XML Icon"
Something like this [xml](https://image.freepik.com/free-icon/xml-file-format-variant_318-45741.png)

Bio:
http://wikipedia.org/wiki/XML

[2016-06-24 04:54] SandHilt opened #40 "Add support to favicon.ico"
It's can be a start yellow [&#9733;](http://www.kladionicasoccer.com/static/img/favorites_star.png) or a icon of image.

Bio
https://en.wikipedia.org/wiki/Favicon

[2016-06-24 04:57] SandHilt opened #41 "Add support to .htacess"
This is to server side. This icon can be equal #39 or INI #36 .

Bio
https://en.wikipedia.org/wiki/.htaccess

[2016-06-24 14:15] MatthiasDebaere opened #42 "Icon request: Add Ionic icon for ionic.project"
Could you add an Ionic icon for the 'ionic.project'-file?

Ionic: http://ionicframework.com/

Thanks!

[2016-06-24 22:59] robertohuertasm commented on #33
I'm including tsconfig.json for the moment. settings.json and tasks.json are too generic to apply a vscode icon to them. As I cannot set the icon depending on the file's container folder I have no way to discern the correct use of the icon and, therefore, I've decided to keep the json icon for them.

[2016-06-24 22:59] #33 closed

[2016-06-24 23:10] robertohuertasm commented on #35
Done!

[2016-06-24 23:10] #35 closed

[2016-06-24 23:27] robertohuertasm commented on #39
Done!

[2016-06-24 23:27] #39 closed

[2016-06-24 23:30] robertohuertasm commented on #40
Done!

[2016-06-24 23:30] #40 closed

[2016-06-24 23:34] robertohuertasm commented on #34
There's no current support for double extensions. I'll have to implement this.

[2016-06-24 23:37] robertohuertasm commented on #41
Done

[2016-06-24 23:37] #41 closed

[2016-06-24 23:41] robertohuertasm commented on #36
Done!

[2016-06-24 23:41] #36 closed

[2016-06-25 00:57] robertohuertasm commented on #42
Done!

[2016-06-25 00:58] robertohuertasm commented on #34
Done!

[2016-06-25 00:58] #34 closed

[2016-06-25 11:19] skolmer commented on #34
Great, thanks! :+1:

[2016-06-26 10:44] Dignity-Code opened #43 "Just a small suggestion for the JavaScript icon."
Hello,

first i want to say thank you , for all of your work to build this great extension.

So my suggestion is too add this JavaScript icon.  https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/HTML5_CSS_JavaScript.png

I mean the HTML and CSS icon is the same, only the JavaScript icon is different to this in the picture.
That would be awesome !
As I said, it would be only

[2016-06-26 15:39] TheColorRed opened #44 "Display icon based on files.associations"
I have a file without an extension and one that has a php extension but is defined as an html file, and as you can see they display like so:

![screenshot from 2016-06-26 10-37-08](https://cloud.githubusercontent.com/assets/1571806/16363237/fb088196-3b89-11e6-900a-e14d7fed564b.png)

However, in my `files.associations` I have them defined like so:

![screenshot from 2016-06-26 10-34-41](https://clo

[2016-06-26 17:12] robertohuertasm commented on #44
It's really a good idea. I don't know if I'll have access to that file but I'll take a look at the documentation and see what can be accomplished. :grin:

[2016-06-26 17:21] TheColorRed commented on #44
In our extension, we get file associations like this:

[code]

[2016-06-27 10:48] robertohuertasm commented on #43
Thanks for your suggestion but I'm not changing the icon at the moment. These are the reasons behind my decision:
- The ["semi" official logo of JavaScript is black and yellow](http://www.2ality.com/2011/10/logo-js.html).
- I hope to deliver soon the option to use your own icons and use custom icon packages so you will be free to use the icon you most like. In fact, you can do it right now just re

[2016-06-27 10:48] #43 closed

[2016-06-27 10:54] robertohuertasm commented on #44
@TheColorRed Thanks for the info. The issue here is that this must be used in the scope of a specific function which the plugin is replacing... I'll see what are the options that we have there. 😀

[2016-06-29 00:22] tylucaskelley commented on #35
you da best :)

[2016-06-29 00:28] tylucaskelley opened #45 "Icon request: Makefile"
Makefile should have an icon, perhaps just what Sublime has or alternatively just another gear icon since it's a config file of sorts

[2016-06-29 00:28] tylucaskelley opened #46 "Icon request: .nvmrc"
.nvmrc should use the gear icon, or a node.js related icon

[2016-06-29 20:03] BenJetson opened #47 "Icon Request: Ruby Gemfiles"
Ruby files already get a gem icon with your extension, but the Gemfiles associated with Ruby projects don't. Could you add support for Gemfiles? They should have the gem icon just like .rb files do:
![image](https://cloud.githubusercontent.com/assets/10427974/16466684/06654698-3e12-11e6-94d0-f472f5c65794.png)

Gemfiles are usually in the root directory of the project and are named exactly "Gemfile

[2016-06-29 21:36] robertohuertasm commented on #47
Done!

[2016-06-29 21:36] #47 closed

[2016-06-29 22:00] robertohuertasm commented on #46
You got it! :grin:

[2016-06-29 22:00] #46 closed

[2016-06-29 22:11] robertohuertasm commented on #45
A gear for you! :smile:

[2016-06-29 22:11] #45 closed

[2016-06-29 22:22] BenJetson commented on #47
That was fast! Thanks! 😀

I'll be looking forward to seeing it in the next update.

On Wed, Jun 29, 2016, 5:36 PM Roberto Huertas <notifications@github.com>
wrote:

--

Ben Godfrey
benjetson5236@gmail.com
Sent from Inbox

[2016-06-29 23:35] robertohuertasm commented on #44
@TheColorRed Unfortunately this cannot be done dynamically as I would like it. Every time the files.associations are changed the user should update the plugin again and again.

Nevertheless, even if not doing it dynamic this is not a trivial implementation and given my lack of time I can't promise you a quick delivery! :smiley:

[2016-06-29 23:37] robertohuertasm opened #48 "Optimize specialExt algorithm"
Now, when dealing with special extensions the code is iterating over all the array of extensions even when we already know the specific special extension and its sub-extensions. Use an associative array to speed up the search.

[2016-06-30 00:09] robertohuertasm opened #49 "Enabling multiple times pollutes the css file"
Check if the css file has been modified before replacing.

[2016-06-30 00:34] robertohuertasm commented on #49
Solved

[2016-06-30 00:34] #49 closed

[2016-06-30 00:34] robertohuertasm commented on #31
Added custom url in settings to download specific package.

[2016-06-30 00:34] #31 closed

[2016-06-30 07:53] kuechlerm opened #50 "Keep icons enabled"
Love this extention!

Is it possible to keep the icons enabled? I have to enable them after every reboot.

[2016-06-30 08:14] robertohuertasm commented on #50
Do you mean after every update? Or every normal reboot?  If you have to enable it on every fresh start there is something wrong.
Which os are you using? Extension version?

[2016-06-30 08:15] robertohuertasm commented on #50
Try reinstalling vscode, too. You won't lose your extensions and it will refresh the original files. Take note of vscode version too :)

[2016-06-30 08:55] bigardone opened #51 "Elixir icons"
Hi! I've just installed your awesome package and I love it :metal:
Would it be possible to have icons for Elixir files such as `*.ex`, `*.exs` and `*.eex`?
Thanks in advance 😄

[2016-06-30 11:50] kuechlerm commented on #50
Ok, sorry, my bad. I tried it in Insiders Version.
But it seems like I have to reenable after every update of VS Code - Insiders.
Is this normal? I run Win10.

[2016-06-30 11:58] robertohuertasm commented on #50
Yes, it's completely normal. Insiders has almost a daily upgrade so... Every time it upgrades the modified files are deleted and I decided not to be invasive and modify them again automatically.

[2016-06-30 12:00] kuechlerm commented on #50
Ok. Thanks.

[2016-06-30 12:00] #50 closed

[2016-07-02 20:10] robertohuertasm commented on #51
Done! Enjoy :smile:

[2016-07-02 20:10] #51 closed

[2016-07-03 01:08] ScenK opened #52 "Icon request: Add robot framework icon for .robot files"
Could you help to add an robotframework icon for the '.robot' - file?

Thanks!

[2016-07-03 08:31] robertohuertasm commented on #52
Done!

[2016-07-03 08:40] ScenK commented on #52
It seems that the implementation not works ?
![screen shot 2016-07-03 at 4 38 12 pm](https://cloud.githubusercontent.com/assets/2987542/16544522/b7797f80-413c-11e6-9d71-3a60ce3f22f5.png)
![screen shot 2016-07-03 at 4 38 29 pm](https://cloud.githubusercontent.com/assets/2987542/16544523/b8ef499e-413c-11e6-856e-3a143c7659a3.png)

[2016-07-03 09:46] robertohuertasm commented on #52
My bad! Now it should be working!

[2016-07-03 09:46] #52 closed

[2016-07-06 14:07] tylucaskelley opened #53 "Icon request: .swig extension"
Swig is a pretty popular HTML template language, here's the website: http://paularmstrong.github.io/swig/

[2016-07-06 14:08] tylucaskelley opened #54 "Icon request: .csslintrc"
http://csslint.net

Not sure if they have a logo we could use, but perhaps at the very least a gear icon would be good

[2016-07-07 15:52] be5invis opened #55 "Feature Request: Custom icon pack"
Add a settings field like `vscode_icons.iconpack_dir` to make users able to custom icon packs, even install custom icon packs from the marketplace directly. It simplifies the process of installing custom icons.

[2016-07-08 08:36] robertohuertasm commented on #55
hi @be5invis this is already implemented. Take a look at the readme.md ;D

[2016-07-08 08:36] #55 closed

[2016-07-08 15:27] be5invis opened #56 "Font icon association: .otf, .eot, .pfa, .pfb, .sfd→ file_type_font"

[2016-07-08 15:28] be5invis opened #57 "C++ file association: .hpp, .cc, .cxx → C++"

[2016-07-08 16:18] jens1o opened #59 "Icon Request: .tpl"
A Smarty TPL File Icon would be great. (Used in PHP Development)

But I don't think there is any logo.

Great extension! Keep the things great!

[2016-07-08 20:40] jedmao opened #60 "Please support grayscale icons"
Please support a grayscale version of the icons.

[2016-07-08 20:43] jedmao opened #62 "Installing custom icons not working?"
I added the following to my user settings:

[code]
But it's not working, even when I start vscode as administrator, Ctrl+Shift+P run the "Icons Update" command and restart.

[2016-07-08 20:46] jedmao commented on #62
It also doesn't work when I try:
[code]

[2016-07-08 20:46] jedmao commented on #62
FWIW, I'm on Windows 10.

[2016-07-09 04:01] karabaja4 opened #63 "Icon request: .cshtml"
Please add a Razor view (.cshtml) icon, thanks.

On a side note, I really appreciate your extension, it makes development so much easier :+1:

[2016-07-09 08:29] DavidCai1993 commented on #57
+1

[2016-07-09 13:55] TheColorRed commented on #6
@robertohuertasm I found a better solution to modify the files. Instead of changing the owner of the files, then changing back, I was able to run as sudo with an extra parameter like this:

[code]

Just thought that this might be useful for the `README`

[2016-07-09 15:19] robertohuertasm commented on #6
Please, feel free to modify it and submit a PR. I will accept it gladly! ;-)

[2016-07-09 21:24] robertohuertasm commented on #57
@be5invis great PR. I'll publish it today! 👍

[2016-07-09 21:24] #57 closed

[2016-07-09 21:24] robertohuertasm commented on #56
👍 Thanks for your support!

[2016-07-09 21:24] #56 closed

[2016-07-09 21:38] robertohuertasm commented on #63
Done! Added vbhtml support too! 😉

[2016-07-09 21:38] #63 closed

[2016-07-09 21:43] robertohuertasm commented on #59
Done! Many thanks!

[2016-07-09 21:43] #59 closed

[2016-07-09 21:48] robertohuertasm commented on #53
@tylucaskelley What is the swig file extension? According to the examples in its site is html... and html is already assigned. No way to know what's the purpose of the file. 😞

[2016-07-09 21:59] robertohuertasm commented on #54
Done!

[2016-07-09 21:59] #54 closed

[2016-07-09 22:27] rogeralsing opened #65 "Consistent look and feel of icons"
First of all, love the addin itself.

But some rant, the current look and feel of the icons is very inconsistent.
For example, check the width of the Markdown files there compared to Json and C#

![icons](https://cloud.githubusercontent.com/assets/647031/16710599/57c7fb28-4634-11e6-83da-5e008bacff5a.png)

F# and Git has similar icons, yet they are different sizes.

They styles also vary, C# is jus

[2016-07-09 22:53] robertohuertasm commented on #65
The vast majority of the icons was taken from a Sublime Text extension and they already had this kind of inconsistency. It's not an excuse, just a fact. I agree with you but I'm not a designer myself and I don't have the time to elaborate cool icons so if any designer is reading this, know that you will be very welcome if you want to show your work in this extension.

I already put this message in

[2016-07-09 22:56] robertohuertasm commented on #62
@jedmao My bad, I didn't put the correct instructions in the readme. Now I've update it. The icons.zip must contain a folder named icons!! Then it will work perfectly. I've tested your package and it works if you modify this. Best regards! 👍

[2016-07-09 22:56] #62 closed

[2016-07-09 22:57] robertohuertasm commented on #30
@jschwarty I'll close this issue in favour of #65 as they're similar

[2016-07-09 22:57] #30 closed

[2016-07-09 22:59] robertohuertasm commented on #7
You can now use your own custom icons by modifying your settings. Please, read the readme to learn how to do it. There's some people already preparing custom icon packages. #61 #65

[2016-07-09 22:59] #7 closed

[2016-07-09 23:00] robertohuertasm commented on #60
I'll close this as you know now how to deliver custom icons. 😄

[2016-07-09 23:00] #60 closed

[2016-07-10 06:51] jedmao commented on #62
Thanks @robertohuertasm. It works! I had to fix the icons to have transparent backgrounds, but it works!

[2016-07-10 07:48] vaags opened #66 "Icon request: .elm"
Elm is a quite popular language for front end development (it compiles to javascript):

https://github.com/elm-lang
http://elm-lang.org/

Here is the official logo / icon:
https://sbrink.gallery.vsassets.io/_apis/public/gallery/publisher/sbrink/extension/elm/0.6.2/assetbyname/Microsoft.VisualStudio.Services.Icons.Default

[2016-07-10 08:09] rivendare opened #67 ".blade.php not displaying icon"
Only displays the icon for a standard .php file.

[2016-07-10 08:46] amits1995 opened #68 "Use https to download icons.zip"
Shouldn't we download icons.zip more securely using https? Will prevent man-in-the-middle injection

[2016-07-10 10:39] jens1o opened #69 "Icon Request: .todo"
Just for todo Files. Would be useful to differentiate the different files between spaces and todo....

[2016-07-10 10:50] eladcandroid opened #70 "Show icons on the new tab panel (VsCode 1.3+)"

[2016-07-10 12:40] sgtoj commented on #70
If this is added, especially if it is enabled by default, can you exposed an `setting.json` option to enable/disable it too?

[2016-07-10 17:46] smlombardi opened #71 "Not working at all on 1.3.0 or 1.4.0 (insiders) mac"
no icons appear.  i downloaded and enabled the extension.  is there more to it than that?

[2016-07-10 17:58] smlombardi commented on #71
I see they also need to be enabled with the command.  Seems odd to not enable them by default, but it works now.

[2016-07-10 17:58] #71 closed

[2016-07-10 18:09] robertohuertasm commented on #67
You should see a Laravel Logo in 1.3.7.

[2016-07-10 18:09] #67 closed

[2016-07-10 18:11] robertohuertasm commented on #69
Sorry but I'm not sure to understand... spaces? is it another extension? Do you know where to find the logo?

[2016-07-10 18:12] jens1o commented on #69
Spaces... Ahmm...

Sorry, I chosed the wrong words.

I mean a blank file without any extension.

A .todo is, in the current version, looking like a normal file.

[2016-07-10 18:14] robertohuertasm commented on #68
Done! But this will vastly depend on the owner of the icons.zip package. You know that you can use custom icon packages by configuring your vscode settings. If the creator of the package publishes it in a non ssl compatible site there's nothing we can do.

[2016-07-10 18:14] #68 closed

[2016-07-10 18:19] robertohuertasm commented on #70
I will have a look at it and see if it's feasible. Remember that vscode has not an open api regarding icons extensions so maybe is not possible to accomplish that.

[2016-07-10 18:20] robertohuertasm commented on #69
Understood! 👍 Do you know of any todo logo?

[2016-07-10 18:23] jens1o commented on #69
We could use the following Font Awesome icon:
http://fontawesome.io/icon/check/

[2016-07-10 18:27] robertohuertasm commented on #66
Done!

[2016-07-10 18:27] #66 closed

[2016-07-10 18:32] robertohuertasm commented on #69
I've found this. It's already transparent: http://images.clipartpanda.com/check-clipart-Check-box-icon.png
Is it ok for you?

[2016-07-10 18:34] jens1o commented on #69
Yep, that's also nice! When the update goes live?

[2016-07-10 18:35] robertohuertasm commented on #69
now! 😄

[2016-07-10 18:35] #69 closed

[2016-07-10 18:36] jens1o commented on #70
Would be nice, if there is any option. What we actually need? I would like to help. Currently, we use the background-image property, aren't we?

[2016-07-10 18:38] jens1o commented on #65
What's the size we actually need? I have a few graphics skills.

[2016-07-10 18:39] jens1o commented on #69
big thanks!

[2016-07-10 18:40] robertohuertasm commented on #71
As the extension modifies some core vscode files I wanted the process to be a conscious choice of the user. If this weren't the case I've would have done it an automatic process.

[2016-07-10 18:40] robertohuertasm commented on #69
1.3.9 is already published!

[2016-07-10 19:44] robertohuertasm commented on #65
@jens1o the size of the icons is 32x32. First step would be to take all the icons and apply the same margins to all of them. They're all 32x32 but some of them have more margin than others.

Second step would be to review current icons and look for graphical consistency. The majority honors their logo, so these are good but there are some of them with no logo so text is used instead.

Let me know

[2016-07-11 00:22] tylucaskelley commented on #53
Oh, it's `.swig`. It's HTML but has template features that let you do things like have if and for statements, etc.

[2016-07-11 00:30] be5invis opened #74 "CSS injection conflict detection?"
Given that vscode-icons modifies `workbench.main.css`, which may conflict with other extensions that changes this file to implement custom CSS, is it possible to provide an option to add user’s custom CSS to the patch?

[2016-07-11 00:51] rivendare commented on #67
Perfect, working great now. Thanks!

[2016-07-11 00:51] robertohuertasm commented on #74
Could you elaborate this a little bit more? What would be the purpose of it?

[2016-07-11 00:53] be5invis commented on #74
@robertohuertasm

There are extensions modifies `workbench.main.css` either, like [vscode-background](https://github.com/shalldie/vscode-background). They may conflict with each other.

[2016-07-11 05:00] jens1o commented on #53
Looks like it is an fork of blade/smarty.

[2016-07-11 10:23] robertohuertasm opened #76 "Create a new section in the Readme referencing icon packages"
Re. #61

[2016-07-11 12:47] SamHurne commented on #65
I might take a stab at this myself as well. I'm no graphic designer, but I know my way around some tools.

[2016-07-11 14:45] jens1o commented on #44
Would be great!

[2016-07-11 23:02] robertohuertasm commented on #74
In the case of vscode-icons I only use a comment they have in the code and put some new stuff before it. I don't modify the existing code at all so I guess I won't be causing conflicts with other apps. Anyway, this would be impossible to control as this doesn't depend on something I can control. Everybody is free to do whatever they please so no matter what I do or say. What I've tried is to leave

[2016-07-11 23:02] #74 closed

[2016-07-11 23:03] #76 closed

[2016-07-12 07:37] milkshakeuk commented on #65
Is there any reason that some icons couldn't be taken from [visual studio images](https://www.microsoft.com/en-us/download/details.aspx?id=35825) i.e. the closed and open folder icons, cs files etc

[2016-07-12 08:09] hoghweed commented on #6
Hi
I've installed the extension on ubuntu 16.04, even running vscode by sudo code-insiders --user-data-dir=. , when I use Icons Enable, I got the message "Run VS Code with admin privileges so the changes can be applied". After that if open VSCode again I see the "space" behing the file of folder name but no icon is showed

[2016-07-12 08:27] robertohuertasm commented on #65
@milkshakeuk no particular reason at all. The closed and open folder icons are the ones shipped with VSCode. They already have some icons and have somehow the scaffolding of future icon functionality so that's why I kept them.

[2016-07-12 08:31] maxval94 opened #78 "Admin privileges Mac"
MacOS
Visual Studio Code
Version 1.4.0-insider (1.4.0-insider)
http://joxi.ru/L21zZR6s6lY8MA

[2016-07-12 08:36] robertohuertasm opened #79 "Insiders & VSCode 1.3.1 version not working!"

[2016-07-12 08:37] robertohuertasm commented on #78
I've also noticed that too... 😞 I'll take a look at it asap.

[2016-07-12 08:38] robertohuertasm commented on #79
Related #78 Duplicated

[2016-07-12 08:42] robertohuertasm commented on #6
Hi @hoghweed, I think this is related to some update in Insiders today. See #78 and #79.

[2016-07-12 08:43] robertohuertasm commented on #78
Hi @maxval94, I'm going to close this and follow up in #79 as this seems to be a generic issue with the new Insiders release and it happens in OS and Linux, too.

[2016-07-12 08:43] #78 closed

[2016-07-12 08:45] codyzu commented on #6
@robertohuertasm the chown command on arch linux (if vscode was installed from the aur) is:
`sudo chown -R $(whoami) /opt/visual-studio-code`

Do you want a PR to put that in the docs? Is it useful or do you assume most arch user's will be able to figure that out on their own :-)

[2016-07-12 08:48] robertohuertasm commented on #6
Hi @codyzu, it's ok for me! 👍  The more information we provide the better for the users 😉

[2016-07-12 09:03] robertohuertasm commented on #79
It seems to be related with the downloading of the icons.zip file. Somehow, it's failing because of the lack of privileges. I'll dig into it and let you know.

[2016-07-12 14:04] madrus commented on #21
I have two computers running VSCode v1.3 under Windows 10. I installed VSCode Icons on both of them. I started VSCode as Administrator on both. I ran `Ctrl-Shift-P` and `Icons Enable` on both of them. One of them echoed `Icons enabled. Restart to take effect`, the other one - nothing. I restarted VSCode on both of them. On the first one the icons appeared in Explorer. In the other one - nothing. N

[2016-07-12 14:09] robertohuertasm commented on #21
@madrus maybe something went wrong when injecting the code. Reinstall VSCode. The extensions will remain but all the original files will be restored again.

[2016-07-12 17:56] gsaadeh opened #80 "Admin privileges for VS insiders on mac"
<img width="1194" alt="capture" src="https://cloud.githubusercontent.com/assets/3935786/16777613/0ee0a65c-481f-11e6-8497-f6858864a69b.png">

Currently getting this error when trying to run "Icons Enable" in vscode insiders build (1.4.0) on a mac.

[2016-07-12 17:57] robertohuertasm commented on #80
This is a duplicate of #79

[2016-07-12 17:57] #80 closed

[2016-07-13 01:00] ianrobrien commented on #6
It looks like this issue may have come up again with the latest VS Code release 1.3.1. The steps listed worked for me for 1.3.0 but not after the update.

[2016-07-13 01:15] robertohuertasm commented on #6
Yes, see #79

[2016-07-13 01:20] TheColorRed commented on #65
Not sure how possible it is, but I feel the icons should be vector images so they scale nicely when resized, and won't become blurred.

[2016-07-13 04:13] jens1o commented on #65
@TheColorRed It is possible. For example the folder Icons are currently in svg.

[2016-07-13 05:17] eladcandroid opened #81 "Icons don't show up (VsCode 1.3.1) Fedora"
After setting the right privileges and enabling icons
OS: Fedora 24
VsCode 1.3.1

![screenshot from 2016-07-13 08-15-03](https://cloud.githubusercontent.com/assets/13297000/16792546/06f2f3ec-48d2-11e6-9c6b-bad4395e8439.png)

[2016-07-13 06:36] nguyenquynhan opened #82 "vscode-icon is disabled after update VS code"
VSCode Version: (version 1.3)
OS Version: WIN 10

Each updated VS Code times, vscode-icon is disabled, then I must reenable vscode-icon, why? Can you help me please?

[2016-07-13 07:18] jsynowiec commented on #65
Similar Atom extension [DanBrooker/file-icons](https://github.com/DanBrooker/file-icons) has some consistent and good looking icons. Maybe use those?

[2016-07-13 07:26] jsynowiec opened #83 "Feature request: Only color icons when file is modified"
If enabled, all icons could be displayed in grayscale until a file is modified (or is new). For such files icons should be colored. This might be introduced as an optional setting.

[2016-07-13 07:57] NeilAllen commented on #81
This is my finding, with 1.3.1, too - Windows 10

[2016-07-13 08:03] xfilipe commented on #81
Here too, Fedora 23

[2016-07-13 09:04] robertohuertasm commented on #83
This is not certainly in my roadmap as it is not a trivial functionality to implement given the current state of the VSCode extension API. I can't promise you anything but I'll consider it in the future. 😉

[2016-07-13 09:10] robertohuertasm commented on #82
See #79

[2016-07-13 09:10] #82 closed

[2016-07-13 09:13] robertohuertasm commented on #81
See #79

[2016-07-13 09:14] robertohuertasm commented on #79
It seems that the problem has extended to 1.3.1 release

[2016-07-13 09:26] robertohuertasm commented on #79
I can confirm that OSX 1.3.1 version is still up and running and working ok! 👍  Any of you having issues on your Mac?

[2016-07-13 12:02] robertohuertasm commented on #79
I've changed the path where icons where downloading as it has been removed in insider's version. Now it should be working for both versions.

[2016-07-13 12:02] #79 closed

[2016-07-13 12:03] robertohuertasm commented on #80
I've recently pushed v.1.4.0 and it should be working now 👍

[2016-07-13 12:04] robertohuertasm commented on #78
@maxval94 I've recently pushed v.1.4.0 and it should be working now 👍

[2016-07-13 12:04] robertohuertasm commented on #82
@nguyenquynhan I've recently pushed v.1.4.0 and it should be working now 👍

[2016-07-13 12:06] robertohuertasm commented on #81
Hey guys, can you reinstall your VSCode and download 1.4.0 version of this extension? Don't worry as your extensions and configurations won't be lost. 😉

[2016-07-13 12:13] gsaadeh commented on #80
Thank you Roberto, I can confirm that is working now. Great stuff!

[2016-07-13 12:19] jsnjack commented on #81
Still see no icons...

[2016-07-13 12:26] mrmlnc commented on #81
Works fine on Windows 10 (build 10586.494) with VS Code 1.3.1 & 1.4.0-insiders (2016-07-13T05:07:03.170Z).

[2016-07-13 12:37] robertohuertasm commented on #81
@jsnjack have you make a clean install of vscode? Are you getting some error? Could you open the   Developer Tools and see if you have some message in your console?

[2016-07-13 13:01] jsnjack commented on #81
I reinstalled it with dnf, then executed chown command, then F1 -> Enable icons. Vscode restarts and I'm getting no errors. My developer tools shows only:
[code]

[2016-07-13 13:06] robertohuertasm commented on #81
I guess you've used 1.4.0 version of the extension, haven't you? Just to discard things...

[2016-07-13 13:08] NeilAllen commented on #81
I'm on a Win10 preview build (14372). Removed & Reinstalled VSCode & added the extension; still have the same issue.

The dev console, too, reads: [Extension Host] vscode-icons is active!

[2016-07-13 13:09] jsnjack commented on #81
Yes, I updated it from the vscode before reinstalling it. I don't see the way to say what exactly version it is, but it is the latest at the moment (which is 1.4.0, I guess)

[2016-07-13 13:10] robertohuertasm commented on #81
@NeilAllen have you used the Enable Icons command?

[2016-07-13 13:13] NeilAllen commented on #81
That's Cracked it!

`Icons Enable`

Apologies if I've lead you on a wild goose-chase.

N

[2016-07-13 13:37] eladcandroid commented on #81
It works for me with the 1.4 version :+1:

[2016-07-13 13:42] robertohuertasm commented on #81
@jsnjack it seems that @eladcandroid has managed to make it work in Fedora 24 with 1.4.0. In order to check this, you can go to the extension manager on the left tool bar and see which is the version you have installed.

[2016-07-13 13:50] jsnjack commented on #81
I already checked it in the extension folder. I have 1.4.0 installed

[2016-07-13 13:50] robertohuertasm commented on #83
@jsynowiec if you're into grayscale icons @jedmao provides a [custom package](https://github.com/jedmao/vscode-icons/blob/grayscale-icons/icons.zip?raw=true) Read the readme in order to know how to use it. 😄

[2016-07-13 13:54] jsynowiec commented on #83
@robertohuertasm already did and I have them ;-) Thanks! But this doesn't help identifying what changed.

[2016-07-13 13:58] robertohuertasm commented on #81
@jsnjack try icons update command

[2016-07-13 13:59] robertohuertasm commented on #83
@jsynowiec that's right, but as I said this is completely out of the scope at the current moment. Let's wait for the VSCode team to move forward and see if they can provide a proper API for this kind of extensions.

[2016-07-13 14:01] jsnjack commented on #81
@robertohuertasm Update command worked! Thank you!

[2016-07-13 14:04] #81 closed

[2016-07-13 14:21] ianrobrien commented on #79
Yes confirmed fixed in Windows 7/VS Code 1.3.1/vs code icons 1.4.0. I'll double check my Linux install tonight but I'll assume it's fixed. Thank you!

[2016-07-13 16:31] michaelmaw opened #84 "Icons Not Displaying After Latest Update"
Updated the extension to the latest version this morning and icons no longer show up. I'm running VS Code 1.3.1 (latest) on Windows 10 Pro 64-bit. Tried uninstalling the extension and reinstalling but still no luck. Icons showed up fine before applying the latest update.

[2016-07-13 17:58] futuremint commented on #84
Same here, VS Code 1.3.1 on OS X.  I also tried uninstalling and reinstalling but still no icons. My VS Code looks so boring now :(

[2016-07-13 18:27] erenhatirnaz commented on #84
+1 I tried running as administrator, but nothing has changed.
VS Code version: 1.3.1
OS: Windows 10 Pro 64bit

[2016-07-13 18:29] MLefebvreICO commented on #84
@futuremint This is not related.

As for your problem I had the same issue, the way to make them back is to make sure the plugin is enabled and then press F1 and do "Icons Enable", it will reboot vscode with the icons now on.

[2016-07-13 18:30] MLefebvreICO opened #85 "Creating a folder the icon is a file"
When we create a new folder, while entering the name of it, the icon next to it is an empty file.

It would be better to see a new folder icon instead.

[2016-07-13 18:31] michaelmaw commented on #84
That did the trick for me. But first open VS Code as Administrator, then F1 "Icons Enable", restart VSC, fixed.

[2016-07-13 18:33] erenhatirnaz commented on #84
@MLefebvreICO Thanks, that worked.

[2016-07-13 19:20] jens1o commented on #85
I think this is a native VS Function, isn't it?

[2016-07-13 19:41] MLefebvreICO commented on #85
No as VS doesn't show any icons beside it when the extension is disabled

[2016-07-13 20:10] robertohuertasm commented on #84
Please, see #78, #79, #80, #81 and #82

[2016-07-13 20:10] #84 closed

[2016-07-13 20:12] robertohuertasm commented on #85
@MLefebvreICO  What is you OS? Insiders or normal VSCode?

[2016-07-13 20:29] jens1o commented on #84
should we add a FAQ Markdown File for questions like this?

[2016-07-13 20:32] MLefebvreICO commented on #85
@robertohuertasm Windows 10 64bits. Normal VSCode.

[2016-07-13 20:34] robertohuertasm commented on #85
I've tested it in W10 64bits and once you name the folder and hit enter the folder icon appears. Is this not happening to you? Is the file icon remaining?

[2016-07-13 20:38] robertohuertasm commented on #84
@jens1o, that's right. I thought that the current docs are more or less ok but this issue leads me to think your way.

[2016-07-13 20:44] MLefebvreICO commented on #85
It is appearing, but when in "creation" mode(when you type your new folder name), it will put a file icon next to it, instead of a folder.

[2016-07-13 20:49] robertohuertasm commented on #85
Yes, I'll dig into it but it may be not possible to fix if the team have changed how they put class names to different items. Anyway, it's a minor issue given that the folder icon finally appears once it's created.

[2016-07-13 21:05] robertohuertasm commented on #84
@jens1o I've just published another version with some basic faqs in the readme.

[2016-07-14 02:15] ianrobrien commented on #79
Hi again - unfortunately this does not seem to be resolved on my Linux box. Here's some info:

I ran `sudo chown -R $(whoami) /usr/share/code` and also confirmed I am the folder owner with `ls -la /usr/share/code`. I am running Ubuntu 16.04. I'm happy to provide logs or debugging info but it's probably quicker for you to spin up a virt box :grinning:

[2016-07-14 04:49] maxval94 commented on #78
Yes, it is work , Thanks

[2016-07-14 05:24] robertohuertasm commented on #79
Have you executed Icons Update command?

[2016-07-14 07:03] madrus commented on #21
@robertohuertasm i did reinstall. no luck so far. i am beginning to suspect the corporate proxy. that is a tricky thing anyway. i have configured the `cntlm` local proxy and it is a classic solution for all stuff atom, vscode, nodejs, etc. when behind a corporate proxy. otherwise they don's install, upgrade, etc.

now, every time i run 'icons enable' or 'icons update', this error message appears i

[2016-07-14 08:09] robertohuertasm commented on #21
@madrus Have you executed the "Icons Update" command? You can try to open the Developer Tools in your VSCode and look for some messages in the console while executing this command.

[2016-07-14 11:52] ianrobrien commented on #79
Icons Update worked! I'm surprised I missed that.

[2016-07-14 11:54] jens1o commented on #79
;)

[2016-07-14 11:54] MLefebvreICO commented on #85
Yes but still I would like that if we could fix it, if not that is ok

[2016-07-14 12:37] pplawucki commented on #21
@robertohuertasm I've got the same problem as @madrus
Could be that request for icons.zip from github is not going through proxy configured at VS Code?

[2016-07-14 13:37] robertohuertasm commented on #85
@MLefebvreICO of course. I'll see what we can do about it 😉

[2016-07-14 14:44] pplawucki commented on #21
@robertohuertasm @madrus I've managed to solve the problem by properly setting environment variables HTTP_PROXY and HTTPS_PROXY. Once set, these are used by request library for making http(s) calls.

[2016-07-14 14:54] sridharmane opened #86 "Updating VSCode disables the vscode-icons"
I am using vscode-insiders (v1.4.0-insider) and every day when vscode updates the vscode-icons get disabled. Not sure if this is expected behaviour.

[2016-07-14 14:57] robertohuertasm commented on #86
@sridharmane this is the expected behaviour. On every update, original files are modified and a direct action from the user is needed to inject the code again. I could certainly automate this process but I thought that given that code injection is needed it should be an active action from the user although, being an Insider's user myself I'm reconsidering other options... 😉

[2016-07-14 14:58] #86 closed

[2016-07-14 23:54] Ventajou opened #87 "No longer working on Linux after 0.13"
I've been enjoying icons with VS Code 0.12 on Ubuntu 16.04. But after the 0.13 (and 0.13.1) update, I can't get the icons back.

If I run `Icons Enable`, nothing happens. But if I run `Icons Update` and restart VS Code, it comes back up with an empty window and just the menu.

[2016-07-15 00:03] Ventajou commented on #87
Nevermind, looks like there was maybe some junk left in `/usr/share/code`, removing it and reinstalling did the trick

[2016-07-15 00:03] #87 closed

[2016-07-15 06:50] madrus commented on #21
@robertohuertasm Here is the printscreen of the errors in Development Tools. The IP address 192.30.253.112 is that of GitHub it seems. I will do another check check dubble check on my HTTP(S)_PROXY variables.
![github_error](https://cloud.githubusercontent.com/assets/7058116/16865949/da7b4f6a-4a68-11e6-8658-bc538a7db073.png)

[2016-07-15 07:15] madrus commented on #21
Here are my proxy settings in VSCode User Settings:
[code]
As I mentioned earlier, my CNTLM proxy listens at port 53128.
However, the more I look into it, the more I have a feeling this has nothing to do with the ICONS addon of @robertohuertasm.

[2016-07-15 07:22] madrus commented on #21
Ok. SOLVED!!! Thanks to the tip of @pplawucki. While dubble checking, I have found out that I had no http_proxy nor https_proxy variables configured among the Windows environment variables. I have added them, restarted VSCode and bum! The icons work. Guys all of you 1000 thanks. You saved my day and weekend. :)

[2016-07-15 08:57] frogcjn opened #88 "vscode 1.3.x Why icons are transparent...?"
<img width="213" alt="2016-07-15 16 55 00" src="https://cloud.githubusercontent.com/assets/1777562/16868991/34a7f530-4aad-11e6-80ac-fe2a23483ad8.png">

[2016-07-15 09:35] robertohuertasm commented on #88
Please, read the readme faqs and try what it's said. It will also good to have more info about your system, extension version... it looks like you haven't executed "icons update" command.

[2016-07-15 14:31] frogcjn commented on #88
@robertohuertasm , unfortunately, I've tried, but it is still not working.

[2016-07-15 15:40] robertohuertasm commented on #88
I'll suggest you to reinstall VSCode.

[2016-07-15 17:23] frogcjn commented on #88
@robertohuertasm, unfortunately, still not working.

[2016-07-15 17:25] robertohuertasm commented on #88
Which OS?

[2016-07-15 17:26] frogcjn commented on #88
OS X 11.12 beta 2 (16A239j),  VSCode 1.3.1

[2016-07-16 07:07] fenbox commented on #88
![image](https://cloud.githubusercontent.com/assets/360618/16893304/a5761418-4b66-11e6-9978-170209762540.png)
![image](https://cloud.githubusercontent.com/assets/360618/16893318/06a607ca-4b67-11e6-9e16-2b3ddb532ebc.png)

[2016-07-16 11:09] robertohuertasm commented on #88
@fenbox are you also using OS X 11?

[2016-07-16 11:11] robertohuertasm commented on #21
@madrus I'm glad you solved it! Thanks also to @pplawucki! I will refer this thread in the readme in case some else is having issues with their proxy.

[2016-07-16 11:11] #21 closed

[2016-07-16 11:12] fenbox commented on #88
@robertohuertasm OS X 10.11.5

[2016-07-16 11:15] robertohuertasm commented on #88
@fenbox it seems that you're having trouble downloading the icons.zip file... Are you behind a proxy?

[2016-07-16 11:15] robertohuertasm commented on #88
@fenbox it seems that you're having trouble downloading the icons.zip file... Are you behind a proxy?

[2016-07-16 11:16] robertohuertasm commented on #88
@frogcjn can you open the developer tools and see if you have something in your console?

[2016-07-16 11:22] fenbox commented on #88
@robertohuertasm Yes, I can't download the zip file directly. Use proxy and run `Icons Update` works for me.

[2016-07-16 13:48] robertohuertasm commented on #88
@frogcjn can you confirm that? In case you want to get information about how to proceed if you're behind a proxy see #21

[2016-07-16 18:34] frogcjn commented on #88
[Extension Host] null
threadService.ts:214 [Extension Host] null

[2016-07-16 18:47] #88 closed

[2016-07-16 22:19] matheusssilva opened #89 "SQL is not just mysql"
The extension shows mysql icon for sql files. But SQL is not just mysql.
My suggestion is the default [database icon](https://www.google.com/search?q=database+icon&client=ubuntu&hs=Wuu&channel=fs&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjc_s73gfnNAhXBkJAKHVHqDFwQ_AUICCgB&biw=1315&bih=641)

[2016-07-17 13:10] pongit opened #90 "VSCode icon"
icon

[2016-07-17 13:12] pongit commented on #90
Thank

[2016-07-17 14:37] pongit opened #91 "icon"
vscode2

[2016-07-17 14:37] pongit commented on #91
oh

[2016-07-17 14:56] pongit opened #92 "cccc"
{
  "vsicons.icons": "http://yourUrl/icons.zip"
}

[2016-07-17 14:56] pongit commented on #92
npm install -d
npm run build

[2016-07-17 15:06] mammad2c commented on #84
@michaelmaw not work for me :( ,
win 10
vsc 1.3
vsicon 1.4.3

[2016-07-17 17:14] JabX opened #93 "Support for offline icon packages"
Hello,
I tried using the extension at work but I got blocked by my corporate proxy while trying to download the icon package (I can't even download extensions there anyway).
I saw that there were an option to load a different icon package, but it looks like it must be located somewhere online to work (well, it didn't work when I tried to specify a local path for the icons.zip file). Instead of try

[2016-07-17 18:38] jens1o commented on #93
In generally, JavaScript cannot read your disk out. VS Code is running in a Virtual Machine.

I think it is difficult, to inject even more JavaScript Code in VS to read your data.

Why you cannot just download the extensions at home, you just need to update them daily when it is time to update VS Studio. It will be cached locally.

[2016-07-17 18:39] jens1o commented on #92
what's your problem?

[2016-07-17 18:40] jens1o commented on #91
Please don't spam.

#voteforclose

[2016-07-17 18:41] jens1o commented on #84
Are there any errors in console?

Could you open a new issue?

[2016-07-17 18:41] jens1o commented on #90
#Voteforclose

[2016-07-17 19:17] #90 closed

[2016-07-17 19:17] #92 closed

[2016-07-17 19:18] #91 closed

[2016-07-17 21:01] mammad2c commented on #84
@jens1o no error.
Is important to create new issue?

[2016-07-17 22:16] robertohuertasm commented on #93
Hi JabX, I've also been playing with this idea. You can make it work locally very easily as those icons are precisely downloaded to a local folder '/vs/workbench/browser/parts/editor/media/icons/'

I'll create a new option to allow specifying a custom local path in next releases. :+1:

[2016-07-17 22:20] robertohuertasm commented on #84
@mammad2c have you tried the FAQs? The usual procedure is to reinstall your VSCode from scratch, then F1 and "Icons Enable". If that's not working, then try "Icons Update". If still not working and no console errors present we'll have to dig into it. Usually, people is behind a proxy (see #21) but this case leaves some errors in the Dev Console. Please, let me know! :wink:

[2016-07-18 02:41] ywmail opened #94 "icons.zip cannot be downloaded."
I'm using vscode behind a proxy, but the vscode-icons do not honor the proxy setting of vscode.

[2016-07-18 02:53] ywmail commented on #93
I'm also using vscode behind a corporate proxy, but i use cntlm to change the encryped proxy to an unencrypted one, after setting the proxy of vscode, I can download extensions, but the vscode-icons extension does not honor the proxy setting of vscode. so i put the icons.zip on a intranet web server and it works ok now.

[2016-07-18 06:15] mammad2c commented on #84
@robertohuertasm  i did the FAQs and i got theese error:
![vs-icon](https://cloud.githubusercontent.com/assets/16647736/16907036/b9679b26-4cd4-11e6-8a89-d41e130f3afc.png)

[2016-07-18 06:40] mammad2c commented on #84
i fixed it with set :
`"http.proxyStrictSSL":` false,` from [issue 21](https://github.com/robertohuertasm/vscode-icons/issues/21)
and downloaded the project and extracted icons folder in appropriate folder.

[2016-07-18 09:10] robertohuertasm commented on #93
in #21 @madrus says:

Have you tried that?

[2016-07-18 09:12] robertohuertasm commented on #94
in #21 @madrus says:

Have you tried that?

[2016-07-18 09:34] ywmail commented on #94
Yeah, it works after add the `HTTP_PROXY` and `HTTPS_PROXY` to the  Windows environment variables.

[2016-07-18 09:34] ywmail commented on #93
Yeah, it works after add the `HTTP_PROXY` and `HTTPS_PROXY` to the  Windows environment variables.

[2016-07-18 09:36] #94 closed

[2016-07-18 10:21] alexlacasa86 opened #95 "Improve icons in Light Themes"
Some yellow icons like YML, JS or JSON are indistinguishable on light themes.

<img width="227" alt="captura de pantalla 2016-07-18 a las 12 19 20" src="https://cloud.githubusercontent.com/assets/6088482/16911981/e5e38e32-4ce1-11e6-9ccc-95510c61922d.png">

[2016-07-18 13:04] robertohuertasm commented on #95
This is related to #7 . The extension already provides a way to add custom icons and you can find a gray scale icon palette in the readme.

[2016-07-18 13:04] #95 closed

[2016-07-18 21:50] gvn182 opened #96 "Icon request: .erb extension new icons"
ERB is the html template for ruby on rails, very similar to .cshtml
http://apidock.com/ruby/ERB/

[2016-07-19 06:51] perry-mitchell opened #97 "Icons will not enable - version 1.4.3"
I get the following notice each time I try to enable the icons:
![image](https://cloud.githubusercontent.com/assets/3869469/16940971/e4265624-4d95-11e6-8f0f-0328a0ed72ae.png)

I'm aware that this has been addressed previously, but I'm still experiencing it on the latest VSCode version (1.3.1). VSCode icons is at 1.4.3. I'm on Ubuntu 14.04. I've tried restarting VSCode several times to no avail.

[2016-07-19 06:53] perry-mitchell commented on #97
nvm I'm stupid - instructions were helpful.

[2016-07-19 06:53] #97 closed

[2016-07-20 06:49] robertohuertasm commented on #65
@spywhere this was the set I'm currently using as a base

[2016-07-21 00:05] jedateach opened #98 "Option to disable folder icons"
Considering folders already have a carat next to them, I don't need to see a folder icon to identify folders. Could we have the option of disabling them?

[2016-07-22 05:33] keawade opened #99 "Clojure and ClojureScript"
The current icon for Clojure seems to be an old one and it isn't associated with the file extensions `.clj`, `.cljs`, `.cljc`, or `.edn` [which are used for Clojure](https://en.wikipedia.org/wiki/Clojure).

[2016-07-22 05:53] tomitrescak opened #100 "Custom icons and file colours based on file name"
Hi, In my Meteor.js project I have files that have different suffixes "_collection", "_view", "_container". It would be great if I could change the icon based on the file name. Also, do you have any idea if the colour of the filename can be changed as well ?

Something similar to this:

![screen shot 2016-07-22 at 3 53 23 pm](https://cloud.githubusercontent.com/assets/2682705/17047817/7a0dd686-502

[2016-07-22 06:29] robertohuertasm opened #101 "Icons in tabs"

[2016-07-22 12:28] mysticman opened #102 "Support riot tags (.tag)"
Please support with some kind of red "R" the riot tag files also.

Thx

[2016-07-22 12:36] jens1o commented on #100
Great suggestion!
:+1:
It would be really great, so I can make Interfaces have another color, to have a bit of contrast!

[2016-07-22 12:37] jens1o commented on #101
:-1:
I don't like this idea, and even tabs in VSCode is something I don't like. Is there an option also in planning?

[2016-07-23 08:59] robertohuertasm commented on #101
I've been asked by several colleagues to implement this and I like it. I will try to make it optional if feasible to make you happy 😉

[2016-07-23 09:04] robertohuertasm commented on #102
Related to PR #103 👍

[2016-07-23 09:04] robertohuertasm opened #104 "Add new ChangeLog.md"

[2016-07-23 10:55] robertohuertasm commented on #104
Done

[2016-07-23 10:55] #104 closed

[2016-07-23 10:56] robertohuertasm commented on #93
I've provided the option to use local icon packages. Please read the readme for further instructions 😀

[2016-07-23 10:56] #93 closed

[2016-07-25 05:58] bddenhartog commented on #6
I'm unable to get this working on Fedora 24.

I'm installing VSC with [Fedy](http://www.folkswithhats.org). Here are the steps I've taken after installing VSC:

1. Open Visual Studio Code
2. Install `vscode-icons`
3. Close Visual Studio Code

At this point, based on the comments left in this and other threads, I should run `sudo vscode --user-data-dir=.`. Neither this, nor including the path to my

[2016-07-25 07:07] MartynasZilinskas opened #105 "Changelog links and date format"
In the readme.md file you made a wrong link to the changelog. And if it possible make changelog date format more readable. Example: `July 25, 2016`. Here is an example of changelog how facebook writes: [React changelog example](https://github.com/facebook/react/blob/master/CHANGELOG.md).

[2016-07-25 14:25] TheColorRed commented on #6
Have you tried to `cd` into a project first? Then opening it as root?

[2016-07-25 23:22] bddenhartog commented on #6
@TheColorRed hmm, not too sure on that - i think i may have been supplying the path to my project with the `--user-data-dir` argument. I'll confirm later tonight.

`vscode` is the command when installing VSC via [Fedy](http://folkswithhats.org), which uses the COPR repository from mosquito. This is simply a rename of the script for convenience (as `code` is a bit ambiguous).

[2016-07-26 07:19] robertohuertasm commented on #105
See #106

[2016-07-26 07:19] #105 closed

[2016-07-26 07:20] robertohuertasm commented on #102
Published in 1.4.5

[2016-07-26 07:20] #102 closed

[2016-07-26 12:23] Empereol commented on #101
@jens1o Add `"workbench.editor.showTabs": false` to your User Settings to disable tabs.

[2016-07-26 17:01] jens1o commented on #101
No, I actually like tabs. But I won't like it, when there is an icon next to the filename in tab view. I want an option for this.

[2016-07-26 18:23] mysticman commented on #101
I like this idea, and I think it would be also very usefull like the icons what was not implemented by the VSCode  developers.

I am waiting for this update :)

[2016-07-26 18:31] robertohuertasm commented on #101
@mysticman could you elaborate your second statement. I'm not sure to understand what you mean... Thanks! :wink:

[2016-07-26 18:37] mysticman commented on #101
Doesn't matter, I just mentioned that this vs-code-icons plugin is a must have plugin for vscode. I cannot live without it, and as I see 44K downloads is also prove this. :+1:

[2016-07-26 18:41] robertohuertasm commented on #101
I completely agree. For what I know they're already working on it. The idea behind this extension was precisely to proof the importance of this cosmetic extension to be viscose native.

[2016-07-26 22:27] robertohuertasm commented on #98
This will be released soon. Already implemented #ce6134785defae0823109b1bfdcf4d311a5b44c8

[2016-07-26 22:28] #98 closed

[2016-07-26 23:26] robertohuertasm commented on #44
Done in 96de6ea0541fd88322c67ddcce092acab108b711

[2016-07-26 23:26] #44 closed

[2016-07-26 23:39] robertohuertasm commented on #96
I've created a new one. A hybrid between ruby and html... hope you like it...

[2016-07-26 23:42] robertohuertasm commented on #96
5bb7085377cd43dfa92cb1adc2b21c11d4c701e0 I will release it soon in 1.5

[2016-07-26 23:42] #96 closed

[2016-07-26 23:48] robertohuertasm commented on #99
Done in d2b89be0e72ce38a68076a041644baad7caa240b
I will release it in 1.5

[2016-07-26 23:48] #99 closed

[2016-07-26 23:53] robertohuertasm commented on #44
Already release in 1.5.0

[2016-07-26 23:53] robertohuertasm commented on #99
Already released

[2016-07-26 23:54] robertohuertasm commented on #98
Already released in 1.5.0

[2016-07-26 23:54] robertohuertasm commented on #96
Already released.

[2016-07-27 06:07] mysticman commented on #101
Here is a quick sample how is it look like the tab with the icons. Please review it. For me is OK, I like it.

![tab-icon-sample](https://cloud.githubusercontent.com/assets/2445639/17165503/2a512cd2-53d1-11e6-8593-62b2da299ddc.jpg)

[2016-07-27 06:07] con-ssc opened #107 "Symbols.json schema in http://schemastore.org/json/"
It would be nice if there would be a schema for mapping in the user config for those files.

[2016-07-27 06:15] mysticman opened #108 ".scss icon looks very narrow and dark in the editor"
Hi,

I am using kind of a dark theme, and the .scss icon is very hard to see. I am always search with my eyes the icon (.scss files) what is almost not visible.

As on the original logo he color is much brighter pink maybe it worth a try to see how is it look it.

Here is a quick sample how is it look like the old one and the brighter one.

![scss-sample-color](https://cloud.githubusercontent.com/

[2016-07-27 06:50] robertohuertasm commented on #101
@mysticman don't worry. This issue is next in release cycle. :wink:

[2016-07-27 06:54] robertohuertasm commented on #108
You're absolutely right. Feel free to make a PR with the new icon and I'll publish it asap

[2016-07-27 07:48] robertohuertasm commented on #108
Solved in #109

[2016-07-27 07:48] #108 closed

[2016-07-27 09:33] WilsonLiu95 opened #110 "An advice to slow update speed~"
Firstly,thank for you works.
I'am enjoy your vscode-icons.
But every few days I open the vscode to code,I can see a remind on the extensions,this is  terrible.
I don't want to update so frequently.
Maybe you can update slower.
And I will enjoy it without trouble

[2016-07-27 09:44] mysticman commented on #110
I've never seen an extension issue when it is a problem when the updates comes frequently. This is benefit not an issue. If you don't want to update it just do not update :S I don't get you, there are no breaking changes etc. so why it is an issue.

[2016-07-27 13:49] xmattstrongx opened #111 "Blue gopher icon for .go files"
Just a nitpick here but the gopher for golang is typically always blue. While there are some pictures of the brown gopher that exist, the little guy is colored in his blue standard most of the time.

I am going to update it myself and use the custom icons format shown in the README. However on my team (all go devs) we all think this color is a bit confusing and agree it should probably be the stan

[2016-07-27 15:29] jens1o commented on #111
You're right. Could you provide an original icon for me? I would create a PR, if you don't want to. But you're allowed to submit a PR at your own.

[2016-07-27 15:31] xmattstrongx commented on #111
Ok, Ill get a PR in for this soon.

[2016-07-27 15:34] jens1o commented on #101
@mysticman Could you post your editor settings? I like the Atom Style, could you provide it for me too?

[2016-07-27 15:35] jens1o commented on #99
Wow, you're really fast @robertohuertasm :+1:

[2016-07-27 15:37] robertohuertasm commented on #101
@jens1o I also use it. It's a theme exentension called one https://marketplace.visualstudio.com/items?itemName=andischerer.theme-atom-one-dark

[2016-07-27 15:44] jens1o commented on #101
Thank you. I'll take a look.

[2016-07-27 15:50] robertohuertasm commented on #111
@xmattstrongx glad to receive your PR anytime :wink:

[2016-07-27 17:43] xmattstrongx commented on #111
@robertohuertasm Thanks for allowing contributions 💯

PR is in
https://github.com/robertohuertasm/vscode-icons/pull/112

[2016-07-27 23:08] robertohuertasm commented on #111
Ready to be published in 1.5.2

[2016-07-27 23:08] #111 closed

[2016-07-27 23:16] robertohuertasm commented on #110
Hi @WilsonLiu95, thank you very much for your advice but I have an opinion similar to @mysticman's

The good thing about VS Code is that you decide when to update. You'll get the notification but it's really up to you to update whenever it's best suitable for you. If you like to make your updates on Fridays so be it. No one will stop you.

On the other hand, people like me like to have new feature

[2016-07-27 23:16] #110 closed

[2016-07-28 04:52] NikosEfthias opened #113 "no longer works under ubuntu 16.4"
today when i open noticed that icons are not working anymore the `/usr/share/code` forlder is owned by me and the exnsion is enabled but its no working

[2016-07-28 07:41] robertohuertasm commented on #113
Can anyone confirm this? I'm on holidays and have limited access to the internet and linux vms 😞

[2016-07-28 13:04] jens1o opened #114 "Use jsdoc"
Would be useful for modern IDEs.

[2016-07-28 15:08] ekmlarbi commented on #113
Yes its just as @NikosEfthias said. In my case I had it running in vscode 1.0.0 on 16.04. After upgrading to vscode 1.3.1 today it stopped working. My ownership of the folder `/usr/share/code` is intact and I have enabled the extension.

[2016-07-28 15:47] robertohuertasm commented on #113
Which version of the extension are you running?

[2016-07-28 15:51] robertohuertasm commented on #113
@NikosEfthias can you tell me if it stopped working with the latest version of the extension?  Can you both open the dev tools in your vscode and let me know what you see in there?

[2016-07-28 19:32] ekmlarbi commented on #113
@robertohuertasm, Here is what I am using:
vscode-icons [1.5.2],
vscode [1.3.1]
Let me know what i should be looking for in vscode devtool.

[2016-07-28 22:09] robertohuertasm commented on #113
I've tested it with Ubuntu 15.04 and it's working perfectly. Unfortunately, I have no full internet access and can't access to 16.04. @ekmlarbi, take a look into the console and look for error messages.

[2016-07-28 22:10] robertohuertasm commented on #113
Have you tried reinstalling VS Code?

[2016-07-28 23:14] birz4man commented on #113
Same here :(  i am using ubuntu 16.04

[2016-07-28 23:17] robertohuertasm commented on #113
@birz4man can you look into the dev tools and look for some error messages?

[2016-07-28 23:17] NikosEfthias commented on #113
there is no error on the developer tools
![](http://i.imgur.com/be4PUR5.png)

[2016-07-28 23:18] NikosEfthias commented on #113
1.5.2 btw my vscode-icons version is and 1.3.1 vscode version

[2016-07-28 23:19] robertohuertasm commented on #113
Any of you have tried reinstalling vscode?

[2016-07-28 23:21] NikosEfthias commented on #113
now trying give me a sec :)

[2016-07-28 23:22] birz4man commented on #113
OK :) nikos help me now. Thx nikos i fixed :)

[2016-07-28 23:23] robertohuertasm commented on #113
@birz4man what did you do?

[2016-07-28 23:24] NikosEfthias commented on #113
he just didnt own the /usr/share/code folder @robertohuertasm

[2016-07-28 23:27] robertohuertasm commented on #113
ok, but I guess you're still having the issue, aren't you? Or did reinstalling do the trick?

[2016-07-28 23:27] NikosEfthias commented on #113
i just reinstalled and still not working this happened after the latest update only before it was working @robertohuertasm

[2016-07-28 23:28] robertohuertasm commented on #113
For what we know @birz4man has your same settings. @birz4man can you confirm this?

[2016-07-28 23:30] birz4man commented on #113
yes @robertohuertasm

[2016-07-28 23:31] robertohuertasm commented on #113
@NikosEfthias The most strange thing is you not seeing some errors in the console. A lack of permissions will trigger a vscode warning and any other thing will raise an error... or it should have to raise an error... clearly there's something that we're missing. Reinstalling should leave your original files cleaned... have you tried with "icons update" command?
Btw, thanks @birz4man for confirming

[2016-07-28 23:35] NikosEfthias commented on #113
just issued that command and it broke vscode entirely vscode wont start

[2016-07-28 23:37] NikosEfthias commented on #113
![](http://i.imgur.com/u1wyTf8.png)

[2016-07-28 23:39] NikosEfthias commented on #113
even after i uninstall extension from command line vscode is not working now

[2016-07-28 23:44] robertohuertasm commented on #113
Reinstall vscode and all should be working again. Are you using Insiders version? Breaking when updating means something failed while restoring the backup. This command disables and enables again the extension by setting vscode to its original state and then applying again the extension patches.

[2016-07-28 23:45] NikosEfthias commented on #113
I have both insider and normal but the extension is installed on normal
version

On Fri, Jul 29, 2016, 2:44 AM Roberto Huertas <notifications@github.com>
wrote:

[2016-07-28 23:46] NikosEfthias commented on #113
i reinstalled it is fine now and i am using both insider and normal and extension is installed under normal one not insider

[2016-07-28 23:46] robertohuertasm commented on #113
If you feel like it download the project and debug it in your vscode. I cannot reproduce it on my 15.04 and won't have access to 16.04 until next Monday. This is the way to go to know what's really happening.

[2016-07-28 23:49] robertohuertasm commented on #113
When you say it's fine are you referring to your vscode or to the extension?

[2016-07-28 23:50] NikosEfthias commented on #113
vscode is fine extension is still not working after reinstalling both vscode and extension but the update command just breaks everything

[2016-07-28 23:56] robertohuertasm commented on #113
Just to be sure. You install the extension and restart vscode. Then run "icons enable" command,  restart again and no errors in your console. If that's the case, debugging the extension is the way to go. I'll do it myself on Monday if you can wait and can reproduce it. The strangest thing is that @birz4man seems to have the same settings and it's working for him...

[2016-07-29 02:43] ScenK commented on #113
Same issue on Mac. Re-install the extension could work.

[2016-07-29 07:05] robertohuertasm commented on #113
@ScenK I have a Mac and it's working (normal and insiders). Could you let me know what you see in the dev tools console? Did it work when you reinstalled it?

[2016-07-29 07:14] ScenK commented on #113
@robertohuertasm Yes, it works after i reinstalled.

[2016-07-29 12:17] WilsonLiu95 commented on #110
@mysticman @robertohuertasm thanks for answer my question. Maybe I should not make the issue to express my advice. I am sorry because I am not familiar with the rule of github.

But sometime I update it for more than 3times will make me confused when the network isn't well. I will click the buttons many times.
Finally，thanks for you good extension.

[2016-07-29 14:54] sean-clayton opened #117 "Icon Request: .postcss | .pcss extension (PostCSS)"
PostCSS is pretty popular, and a lot of people differ PostCSS files from regular CSS files by changing the extension to .postcss or .pcss

Reference for extension names:
- https://github.com/rcsole/postcss-syntax/blob/master/syntaxes/postcss.tmLanguage#L7-L8
- https://github.com/hudochenkov/Syntax-highlighting-for-PostCSS
- https://atom.io/packages/language-postcss

Here is the PostCSS logo files:

[2016-07-30 01:23] iRoachie opened #118 "Nunjucks file icon"
There's no current icon for the Nunjucks templating engine.

Here's a [link](http://mozilla.github.io/nunjucks/) to the main page.

For the icon we can take inspiration from Atom's icon for Nunjucks.
<img width="133" alt="screen shot 2016-07-29 at 9 22 22 pm" src="https://cloud.githubusercontent.com/assets/5962998/17267265/ba8abfe0-55d2-11e6-9968-f97e4c8ae429.png">

[2016-07-30 01:45] mrmlnc commented on #118
Filetypes:

  * `.njk` (official extension)
  * `.nunjucks`
  * `.nunjs`
  * `.nunj`
  * `.njs`
  * `.nj`

[2016-07-30 01:46] iRoachie commented on #118
Are they any particular guidelines for icons? I can do up something

[2016-07-30 07:26] robertohuertasm commented on #118
Transparent background, 32x32. Take some of the icons.zip file as example and it will suffice.

[2016-08-01 01:57] EricWang1992 opened #119 "How can I use it on Mac?"

[2016-08-01 06:26] dehghani-mehdi opened #120 "Vash (Express template engine) icon"
Hi,
Thanks for your awesome extension, if is possible, please add `Vash` icon too.

Good luck.

[2016-08-01 07:34] robertohuertasm commented on #119
Have you read the readme? It's all there.

[2016-08-01 17:53] jens1o commented on #120
Do you have an official icon for Vash?

[2016-08-02 00:40] iRoachie commented on #118
@robertohuertasm Good enough? Took same inspiration from atom.
![nunjucks](https://cloud.githubusercontent.com/assets/5962998/17313273/23a235ba-5828-11e6-8972-032a743439c7.png)

[2016-08-02 04:03] MehdiDehghani commented on #120
No, but I just sent a request to @kirbysayshi for making an icon. let's hope he add some.

[2016-08-02 05:43] robertohuertasm commented on #120
@mehdiDehghani @jens1o Let's wait to have an icon or propose one that may be suitable before implementing this.

[2016-08-02 05:45] robertohuertasm commented on #119
I will close this as It's been already answered in the readme and @EricWang1992 does not respond.

[2016-08-02 05:45] #119 closed

[2016-08-02 13:23] ajsb85 opened #122 "Icon Request: .buildignore extension"

[2016-08-02 13:23] ajsb85 opened #123 "Icon Request: .webmanifest extension"

[2016-08-02 13:24] stefan-kern opened #124 "Icon Request: special folder icons"
similar to the file-icons package from atom, have an icon for the node_modules folder:

![nm](https://cloud.githubusercontent.com/assets/11061334/17329919/0530a722-58c5-11e6-94c6-593d369be7f4.png)

[2016-08-02 13:24] ajsb85 opened #125 "Icon Request: CHANGELOG"

[2016-08-02 13:25] ajsb85 opened #126 "Icon Request: .jshintrc extension (JSHint)"

[2016-08-02 14:05] robertohuertasm commented on #125
Hi @ajsb85, could you provide an icon for this or suggest one? :wink:

[2016-08-02 14:05] robertohuertasm commented on #124
I like the idea!! Cool!

[2016-08-02 14:09] robertohuertasm commented on #122
@ajsb85 could you suggest an icon for this? In general I accept all icon requests but usually people provide some ideas about icons if the extension has not an official logo. :smile:

[2016-08-02 14:15] ajsb85 commented on #125
![image](https://cloud.githubusercontent.com/assets/663460/17331684/48ed9054-58cc-11e6-8e3d-b98cbd70bee1.png)

![image](https://cloud.githubusercontent.com/assets/663460/17331688/4c9038f6-58cc-11e6-96f1-c8e8fd5d19a4.png)

[2016-08-02 15:58] sudarshanrao7 opened #127 "React template files(.rt) have no icons"
React Template(http://wix.github.io/react-templates/) files uses .rt extension, can you please add a html or jsx icon for rt files in the next version

Thanks for this awesome extension 👍

[2016-08-02 20:43] jens1o commented on #124
really nice. :+1: :+1: :+1: Really cool!

[2016-08-03 04:01] mark-holland-leotech opened #128 "Obj-c icon for .m files is matlab icon"

[2016-08-03 05:59] mysticman commented on #65
Hi Roberto,

if you need some help with the icons graphic, just let me know. I see there is some new icons request in the queue but I don't know those are on going or not started yet?

[2016-08-03 07:49] ksnyde opened #129 "No icons on OSX"
I installed on OSX and yet the explorer still has no icons. Is there a step I'm missing?

![2016-08-03_08-47-08](https://cloud.githubusercontent.com/assets/980757/17357903/fc1ff970-5956-11e6-9d97-bfecac643136.png)

![2016-08-03_08-48-30](https://cloud.githubusercontent.com/assets/980757/17357947/27b17e06-5957-11e6-95de-84c44d813bf8.png)

[2016-08-03 07:57] jens1o commented on #129
Yep, there's a step. Read the README.

[2016-08-03 07:59] ksnyde commented on #129
Oh, silly me. I thought _enabling the addon_ and enabling the _icons_ was the same thing. it's working now. Is there no way to turn this on by default?

[2016-08-03 07:59] #129 closed

[2016-08-03 08:00] jens1o commented on #129
No, it is not possible, because we need admin privilges and we need to replace the things while startup.

[2016-08-03 08:07] robertohuertasm commented on #128
We have a conflict here and I guess no proper way of resolving it... any ideas?

[2016-08-03 08:07] robertohuertasm commented on #65
Hi Emil, choose whatever you want. I'm focused on tab icons at the moment. :wink:

[2016-08-03 08:07] jens1o commented on #128
Do you have the "right" icon for .m?

[2016-08-03 08:08] jens1o commented on #128
We could try to change the filename internally and then we handle it just as another type of extension?

[2016-08-03 08:16] robertohuertasm commented on #128
@jens1o what do you mean? The way it works is by parsing the file extension. We have no way to know if its matlab or objective-c as we don't have access to the content. The way I see it I only see some settings solution: the user will decide if m is objective or matlab. Maybe we can decide the default based on user usage. What do you think?

[2016-08-03 08:16] jens1o opened #131 "Translation Things...."
Would be cool, if we can provide translations. I could provide german translations, because it's my first language.

Could you say the format, in which I have to save the translations?

[2016-08-03 08:17] robertohuertasm commented on #131
@jens1o Do you mean for the readme?

[2016-08-03 08:21] jens1o commented on #128
That's tricky. But as long as my data won't be published online, I'm fine with it. My plan was reading the first lines and then we're looking for typical things for each language.

Are they any other languages that are using the same extension?

[2016-08-03 08:21] jens1o commented on #131
Yep, readme and the few sentences shown up in the extension itself.

[2016-08-03 08:24] mark-holland-leotech commented on #128
You guys currently detect gulp files but I'm guessing it's from the name 'gulpfile.js'?

[2016-08-03 08:27] jens1o commented on #128
Yep, that's right. What do you mean?

[2016-08-03 08:55] mark-holland-leotech commented on #128
@robertohuertasm I think that when there is a conflict a more generic icon with the .m in it would make sense.

[2016-08-03 09:34] robertohuertasm commented on #128
@jens1o I'm not talking about publishing anything and even reading any file content as it cannot be done at the moment with the current state of VSCode regarding treeview customization (which by the way has no api). I'm just talking about looking online to see some stats about language usage, just that.

@mark-holland-leotech The M icon will be another approach I think it would be ok, but I feel t

[2016-08-03 11:08] robertohuertasm opened #132 "Add more eslint extensions"
ESLint supports configuration files in several formats:

    JavaScript - use .eslintrc.js and export an object containing your configuration.
    YAML - use .eslintrc.yaml or .eslintrc.yml to define the configuration structure.
    JSON - use .eslintrc.json to define the configuration structure. ESLint’s JSON files also allow JavaScript-style comments.
    Deprecated - use .eslintrc, which can be

[2016-08-03 11:12] robertohuertasm commented on #131
@jens1o I don't see the point in the Readme. Think of mantaining several languages... Besides that, the readme is used in the market. I don't want to offer people the information twice. If you don't know English then you can use Google Translator, for instance.

About sentences on the other hand, I think it would be ok as we can use the[ same system that VSCode uses](https://code.visualstudio.com/

[2016-08-03 11:51] kdureidy opened #133 "Groovy icon is missing"
Groovy icon is missing

[2016-08-03 12:37] jens1o commented on #131
Okey, then I'll just provide the senctenes in german ;)

[2016-08-03 12:54] jens1o commented on #132
I'm for package.json, because it's one standard.

[2016-08-03 13:08] robertohuertasm commented on #133
@kdureidy if you could provide more info the better for us to implement the icon. e.g. offical logo url, supported extensions... you know...

[2016-08-03 15:53] jens1o opened #134 "GitHub Templates"
Would be quite nice if there are some templates for issues and pull requests, for example anyone can see what type of information they have to give us. (Icon Request/Bug Report)

See this [blogpost](https://github.com/blog/2111-issue-and-pull-request-templates) for more informations.

[2016-08-03 16:36] jens1o commented on #53
Do you have an icon for this template engine?

[2016-08-03 16:59] robertohuertasm commented on #134
Great idea jens1o!

[2016-08-04 00:20] tylucaskelley commented on #53
Couldn't find one; maybe smarty or html icon would work

[2016-08-04 02:44] ad1Dima opened #136 "Icon Request: csproj, sln, vbproj"
There is no icons for big VS project and solution files. I'm using VSCode alongside with Xamarin so i have those files on mac too.

[2016-08-04 03:01] ad1Dima opened #137 "Icon Request: xib, storyboard"
xcode interface files has no icon

[2016-08-04 07:33] jens1o commented on #137
Official Icon is missing.

[2016-08-04 07:35] jens1o commented on #136
Official Icons is missing, too. Could you please check out the other icons requests, anyone is providing an official icon url.

[2016-08-04 07:42] jens1o commented on #53
I'll create an PR with the smarty icon.

[2016-08-04 15:08] mikiest opened #139 "Icon request: ASPX"
Love your extension :+1:

There is currently no icon for .aspx files. These files are often web forms or pages and could be represented by a simple web-related icon (e.g. a "world"). Alternatively something with a simple "ASPX" would do the job.

[2016-08-04 16:11] jens1o commented on #139
The icons.zip does not contain an world-related icon, we'll have to create one.

[2016-08-04 22:50] nimamarashi opened #140 "Icons does not show up after July 2016 vscode update"
I did the July update for vscode and extension does not work anymore.

[2016-08-04 22:54] robertohuertasm commented on #139
We'll try to use Visual Studio Icons. The same goes for other Visual Studio related icons like #136

[2016-08-04 22:55] #132 closed

[2016-08-04 23:00] robertohuertasm commented on #134
@jens1o I think this is a must. We're receiving lots of Github issues with no proper information like #140 or #137. Can you take care of it? If you want, of course. :wink: If not, I will try to create this templates asap. Maybe we can review them together and decide if they're right or wrong. What do you think?

[2016-08-04 23:25] robertohuertasm commented on #140
Do you mean 1.4.0? Which platform are you using? Have you follow the FAQs section in the Reame? Have you executed the Icons Update command?

[2016-08-04 23:25] jens1o commented on #134
Of course :)

I'll do that, you'll correcting my grammar mistakes, right?

[2016-08-04 23:27] robertohuertasm commented on #134
Of course! :stuck_out_tongue_winking_eye: Many thanks Jens! :grinning:

[2016-08-04 23:48] jens1o commented on #140
I can reproduce that, but with another extension.(an else statement i

I'm running on Windows 10 64 Bit, 1.4.0 Stable.

It completly crashed visual studio code in startup. The error log in the dev console says, that it couldn't parse an "else".

After installing it completly fresh, it starts working again. Something is wrong with vscode, the extension looks good.

[2016-08-04 23:54] jens1o commented on #53
@robertohuertasm @tylucaskelley could someone close this?

[2016-08-04 23:56] nimamarashi commented on #140
I'm running on Windows 10 64 Bit, version 1.5.5

I did restart the vscode after update and all icons are gone. reinstalled and enabled the extension, still same.

[2016-08-04 23:57] rgamba commented on #140
same thing happened to me, for some reason it just stopped working after the 1.4 update

[2016-08-04 23:57] jens1o commented on #140
Please... System Infos and Error logs from the console.

Don't matters if the window refuses to load, you always can take a log into the developer console.

[2016-08-04 23:58] rgamba commented on #140
ok just `> Icons Update` did the trick. Working now

[2016-08-04 23:59] jens1o commented on #140
Strange, it completly freezes and refused to load on my system... Really Strange.

[2016-08-05 00:03] nimamarashi commented on #140
The only log on console: "vscode-icons is active!", no error.

[2016-08-05 00:07] jens1o commented on #140
Try reinstalling vscode. @nimamarashi

[2016-08-05 00:25] #53 closed

[2016-08-05 03:07] liuchenx commented on #140
os x 10.11   vscode 1.4.0 not work

[2016-08-05 03:48] nimamarashi commented on #140
Tried "Icons Update" command and it fixed. Thank you.

[2016-08-05 07:31] ajsb85 commented on #140
Does not work for v1.4.0 and no error in the Console.

[2016-08-05 07:42] robertohuertasm commented on #140
Please, gentlemen, a little bit more details will be really appreciated: Platform, vscode version, extension version, steps you've tried to fixed after reading the readme FAQs section. This would help in order to not repeat ourselves ad infinitum with noisy comments. :D

[2016-08-05 07:51] ajsb85 commented on #140
Extension v1.5.5
VS Code v1.4.0

Does not work after upgrade the VS Code.

[2016-08-05 07:56] robertohuertasm commented on #140
@ajsb85 Have you tried "Icons Update"? If this wouldn't work then reinstall VSCode and try Icons Enable.

[2016-08-05 07:57] robertohuertasm commented on #140
@ajsb85 Which platform are you using? OSX, Windows, Linux (flavour)...

[2016-08-05 07:58] ajsb85 commented on #140
@robertohuertasm Yes, I was uninstall and Install under admin environment and still hidden the icons.

[2016-08-05 07:59] robertohuertasm commented on #140
But have you then executed the Icons Enabled command?

[2016-08-05 08:01] ajsb85 commented on #140
`Ctrl+Shift+P >Icons Enable` and after reload It's works. Thanks

[2016-08-05 08:04] robertohuertasm commented on #140
I'm glad it worked but this is an example of something that should have been solved by reading the FAQs section of the Readme. Hopefully, @jens1o has prepared some templates for raising issues and pull requests that will be soon implemented and will eventually reduce this kind of issues. Anyway, we're here to offer support for our users so no offense, please :wink:

[2016-08-05 08:05] robertohuertasm commented on #140
@liuchenx have you solved your problem or are you still experiencing it? I think you're the only one having this issue at the moment in the thread :stuck_out_tongue_winking_eye:

[2016-08-05 08:17] jsnjack commented on #140
I also have an issue with latest update (1.4.0). I have vscode-icons 1.5.5, fedora 24. I updated vscode, set permissions, then clicked Icons Enable. Vscode was restarted, but icons did not appear. After it I clicked Icons Update. Vscode was restarted again, but now I see only blank screen with no decorations at all. The errors from console:
[code]

[2016-08-05 08:44] jens1o commented on #140
That was exactly the same what I found. Update successfully, but after a restart nothing works and I've got some silly exception.

@jsnjack Could you please provide, what in the file workbench.main.js is?(Round about 60) We're injecting code in this, looks like a small thing in the vscode API was changed.

[2016-08-05 08:44] robertohuertasm commented on #140
@jsnjack unfortunately, you will have to reinstall vscode and then run Icons Enable. You followed a bad sequence. After updating, you always have to appy Icons Update, not Icons Enable. We'll have to see if we can find a way to avoid this issue in the future.

Please, let me know if it works.

[2016-08-05 08:46] robertohuertasm commented on #140
@jens1o is this happening to you in Windows? I've updated my editors and have had no issue in Windows. I've only detected differences between Stable and Insiders versions in terms of code but it's already managed.

[2016-08-05 08:51] jens1o commented on #140
Yep, it's windows. My Linux VMs(stable) work beautiful with the icons. But my exception was another, it couldn't parse an else, but everything is same as he described.

[2016-08-05 08:53] robertohuertasm commented on #140
Reinstallation and Icons Enable should do the trick, i.e. a clean install. When you reinstall all the mods are gone so it should be working flawlessly (provided that I've already tested it on Windows with no problems). You let me know what you find.

[2016-08-05 08:56] jsnjack commented on #140
@jens1o This file is uglified, the lines are too long and Developer toolbar can't open it in Sources tab.. I'm not sure I can extract useful information for you

@robertohuertasm I reinstalled vscode and the ran Icons Enable. I still can't see the icons. This time vscode loads properly and there are no error in console

[2016-08-05 09:06] jsnjack commented on #140
@robertohuertasm also just calling Icons Disable seems to brake the editor in the same way as Icons Update. However, the logs are different:
[code]

[2016-08-05 09:08] jsnjack commented on #140
@robertohuertasm ok, it started to work. I had to call Icons Disable (which broke vscode), then reinstall it and after it Icons Enable did the job!

[2016-08-05 09:09] jens1o commented on #140
But we need to solve this Over-The-Air. There another 7k users, which are frustrated now...

[2016-08-05 09:12] robertohuertasm commented on #140
7k? where did you get that figure Jens? :wink:  Yes, we'll have to update the readme referring to this thread and make this explicit. I agree. FAQs should be amplified with this info. Thanks @jsnjack !

[2016-08-05 09:14] jens1o commented on #140
70k users**

https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons
Congrats to 5 Stars there :smile:

[2016-08-05 09:52] jens1o commented on #48
done in 6c5d038871a595eb68319acd0b970c4141eff249?

[2016-08-05 10:46] robertohuertasm commented on #48
Not really, this was a bad commit... I'm working on this as the tabs feature #101  will imply a refactor of all this code. This is really going to be solved in #101

[2016-08-05 10:46] liuchenx commented on #140
@robertohuertasm i try `Icons Enable` `Icons Update`  `reinstall vscode` not work

![image](https://cloud.githubusercontent.com/assets/8668928/17434382/b8825d10-5b3c-11e6-877c-4a81ba22c85e.png)

[2016-08-05 10:50] robertohuertasm commented on #134
@jens1o Super amazing work you've done here! :100:

[2016-08-05 10:50] jens1o commented on #140
Do you have access to the internet? Looks like the icon pack couldn't downloaded.

[2016-08-05 10:52] robertohuertasm commented on #140
@liuchenx this picture is before icons update? after it's applied? could you be more specific at this point?

[2016-08-05 10:52] jens1o commented on #134
:smile:
You've made me laughing loudly.

[2016-08-05 11:11] liuchenx commented on #140
@robertohuertasm  😄  icon.zip couldn't  downloaded. i download it, work.

thx

[2016-08-05 11:16] robertohuertasm commented on #140
@liuchenx check issue #21 It's all about proxies and how you can solve this kind of issues.
Glad you make it work! :grin:
@jens1o you still got the issue, don't you? once we fix yours we can close this issue.

[2016-08-05 11:18] jens1o commented on #140
@robertohuertasm No, I reinstalled vscode, then it worked normal. Only the update process causes freezing vscode.

//close

[2016-08-05 11:20] robertohuertasm commented on #140
You say that when you execute "Icons Update" once everything is enabled your vscode freezes?

[2016-08-05 11:24] jens1o commented on #140
Nooo. I've updated VS Code Stable via the integrated update tool, and then after the restart vscode refuses to load. Only the background was visible. The dev console said that it couldnt load *another* extension, because there was an unexpected "else" statement.

[2016-08-05 11:27] robertohuertasm commented on #140
Ok. But I've tested here and haven't had any freezing experience. Some colleagues here have already updated their VSCode (W10) and everything worked fine after "Icons Update". We'll have to stay sharp in order to see what's causing this random freezings.

I proceed to close this issue.

[2016-08-05 11:27] #140 closed

[2016-08-05 13:25] jeffstahlin commented on #113
I just had the same issue on Ubuntu 16.10. My folder permissions for the /user/share/code were username:root which seemed to be fine until the latest update of vscode-icons, 1.5.5. I tried updating the icons, enabling them etc. but nothing worked. What fixed it for me was to change ownership of the /usr/share/code folder to username:username and then opening VS Code and enabling/updating icons (I

[2016-08-05 13:29] jens1o commented on #113
@jeffstahlin Could you provide the command you used? I'll add them into the readme.

[2016-08-05 15:31] NikosEfthias commented on #113
updating icont broke my vscode entirely last time now let me try the group ownership hopefully its gonna work :)

[2016-08-05 15:35] NikosEfthias commented on #113
nope it makes no difference @jeffstahlin

[2016-08-05 16:16] jens1o commented on #113
Please give us the error code.

[2016-08-05 16:20] NikosEfthias commented on #113
as i shared the ss before theres no error thrown
@jens1o

[2016-08-05 17:01] robertohuertasm commented on #113
@NikosEfthias did you tried a clean install and then giving group ownership?

[2016-08-05 17:02] MehdiDehghani opened #145 "Icons enable doesn't work (Win 8.1)"
Hi,
Thanks for your great extension.

First of all, please note, at my work, I'm using Windows 10, & I enabled your extension successfully.

But at home, I just installed `vscode-icons`, and run VS Code in `Administrator` mode, but `Icons Enable` doesn't work.

- I'm using latest version of Visual Studio Code & your extension.
- I'm using Windows 8.1
- I'm sure this issue is not a *duplicate*? I g

[2016-08-05 17:05] robertohuertasm commented on #145
Please, take a look into the dev console and let us know what you see.

[2016-08-05 17:11] MehdiDehghani commented on #145
I'm sorry, what you mean? I'm not familiar with dev console that you mentioned.

[2016-08-05 17:12] robertohuertasm commented on #145
Go to VSCode menu > Help > Toggle Developer Tools > Console

[2016-08-05 17:12] jens1o commented on #145
http://prntscr.com/c21m5m
If there's any error when you're clicking on console, let us know.

[2016-08-05 17:15] MehdiDehghani commented on #145
![vsicons](https://cloud.githubusercontent.com/assets/9152330/17444566/ea5cc1fe-5b55-11e6-9753-55f63b1cf7a5.png)

[2016-08-05 17:18] jens1o commented on #145
Looks like there is an proxy before you. Please check your windows enviroment variables for the Proxy connection.

[2016-08-05 17:19] robertohuertasm commented on #145
This seems to me like a proxy issue. See #21

[2016-08-05 17:27] NikosEfthias commented on #113
yes i even installed vscode from scratch

[2016-08-05 18:25] MehdiDehghani commented on #145
I tired everything about `proxy`, but no success.
But with `offline icons support` I have your icon set. (thanks for that)

[2016-08-05 18:25] #145 closed

[2016-08-05 22:30] rickmed opened #146 "file extensions not working"
vscode 1.4
win 10 x64

I have this

[code]
_Actual behaviour:_
only .js files are "iconized"

![image](https://cloud.githubusercontent.com/assets/7104786/17452153/9afd3028-5b3a-11e6-87d0-b3411c1868b2.png)

[2016-08-05 22:55] robertohuertasm commented on #113
I've just tested it in Ubuntu 16.04, clean install and all seems to be working. Just to be clear, you say you reinstall the app, then do "icons enable", restart, and nothing happens, is that right? Can you send us a screenshot of your explorer tree?

[2016-08-05 22:57] robertohuertasm commented on #113
Go to:
[code]
and look for workbench.main.css.bak and workbench.main.js.bak? Can you find those files?

[2016-08-05 23:02] robertohuertasm commented on #113
If that's so this means somehow your bak files have not been restored properly. Delete VsCode folder and reinstall again.

[2016-08-06 00:54] jens1o commented on #146
Can confirm it.
This does not work. (I just don't recognized.)
http://prntscr.com/c26rpi

VSCode 1.4 Stable.
Windows 10 64x

[2016-08-06 07:40] robertohuertasm commented on #146
My bad... First of all, no regular expression or glob patterns are supported. Second, I didn't really think about file associations already having its own convention (they use "javascript" instead of "js" for associations) so this won't work. I will fix it asap and let you know :disappointed: The only way for this to work at the moment would be this:
[code]

But as I said, wait for the fix. :wink:

[2016-08-06 08:16] robertohuertasm commented on #146
I've just published 1.5.6 that will fix this. Still not supporting complex patterns but will cover the most common scenarios.

To use it, you won't be using *file.associations* anymore but a custom property inside vsicons:

[code]
In your case, first case is not supported at the moment, but I will try to implement it if possible  :wink:

[2016-08-06 08:18] robertohuertasm opened #147 "Regex support for file associations"

[2016-08-06 08:19] robertohuertasm commented on #134
@jens1o we could also add into the issues template the steps needed to ask for an icon: extensions, official icon, alternative icon... what do you think?

[2016-08-06 08:22] jens1o commented on #134
That sounds great. Also, how about explicity asking them for bugs?

[2016-08-06 08:22] jens1o commented on #134
*notices in Dev Console

[2016-08-06 08:52] robertohuertasm commented on #134
It's cool for me!

[2016-08-06 08:54] jens1o commented on #134
Should/Could I take care of it?

[2016-08-06 08:57] robertohuertasm commented on #134
Of course: wink:

[2016-08-06 08:58] jens1o commented on #134
:smile:

[2016-08-06 08:59] jens1o commented on #134
The only problem is, after all the Template is way too long. :sob:

[2016-08-06 09:04] robertohuertasm commented on #134
Yes, you're right. I've already thought about this but I prefer to be explicit even at risk of overwhelm the other users and receive proper feedback from the beginning. If not, we'll end up writing always the same questions to the same type of request.

[2016-08-06 09:06] jens1o commented on #134
GitHub should improve this, and make it more intiuitve.

[2016-08-06 15:27] NikosEfthias commented on #113
![](http://i.imgur.com/uRPOQiV.png) here is the tree
![](http://i.imgur.com/XSN6d5r.png) update command
![](http://i.imgur.com/S0WXxPh.png) after restart
![](http://i.imgur.com/nk0KqUA.png) ownership of the folder
![](http://i.imgur.com/WwsszRU.png) contents of the folder you asked @robertohuertasm

[2016-08-06 15:35] julianpaulozzi opened #151 "Official Visual Studio Image Library"
Find many consistent icons and keeping them can be a pain. Have you considered using the official library of the Visual Studio images?

See:

- [Visual Studio Image Library](https://www.microsoft.com/en-us/download/details.aspx?id=35825).
- [Microsoft Software License Terms](http://download.microsoft.com/download/0/6/0/0607D8EA-9BB7-440B-A36A-A24EB8C9C67E/Visual%20Studio%202015%20Image%20Library%2

[2016-08-06 16:42] jens1o commented on #113
Are they any errors in the dev console?

[2016-08-06 16:43] jens1o commented on #151
Thank you!

I'll take a look and make a PR if there is any good icon to replace!

[2016-08-06 16:57] rickmed commented on #146
@robertohuertasm does not seem to be working for me.

in user settings.json
[code]
the options does not appear on the workspace settings (not sure if relevant)

same environment as above

[2016-08-06 17:14] robertohuertasm commented on #146
You're right, now only supported extensions will work... . es is not in the list of supported extensions so it won't be considered.

I'll try to fix it tonight. Sorry for the inconveniences!

[2016-08-06 17:19] robertohuertasm commented on #113
Can you send me your workbench.main.js and the bad file by email? roberto.huertas[at]outlook.com

[2016-08-06 17:23] NikosEfthias commented on #113
what do you mean the bad file ? @robertohuertasm
and no there are no errors @jens1o

[2016-08-06 17:25] NikosEfthias commented on #113
[here](https://gist.github.com/1893ae571f095c87d54c9dfd455e1a75) you can see the file

[2016-08-06 17:28] robertohuertasm commented on #113
It was .bak file... I was typing from a mobile phone....

[2016-08-06 17:40] robertohuertasm commented on #113
@NikosEfthias it's strange. Your workbench.main.js is not modified at all... could you follow this steps and show me this file again after following them?
- Execute "Icons Disable" and make sure the .bak files are gone from the folder.
- Restart and execute "Icons Enable".
- Restart again.
- Send me workbench.main.js and workbench.main.js.bak please.

[2016-08-06 18:51] jens1o commented on #113
@robertohuertasm Are you fully sure that you can catch up any permission denied error with the pattern in the main file? I think there could be some errorcode thrown that's actually not in the code.

[2016-08-06 20:22] NikosEfthias commented on #113
now i am doing the instructions @robertohuertasm  wrote above i will inform you shortly

[2016-08-06 20:31] NikosEfthias commented on #113
here we go when i say icons disable vscode entirely wont open
this is how it looks ![](http://i.imgur.com/9laaxFl.png)

and the contents of the folder is here `bak`s are gone

![](http://i.imgur.com/yXCczQa.png)

and the content of the main file is [here](https://gist.github.com/a6264b3d25dd217344ec8491eb4b2a14)

[2016-08-06 20:33] NikosEfthias commented on #113
couple of errors ![](http://i.imgur.com/Eyd1fWh.png)

[2016-08-06 20:59] jens1o commented on #113
Could you please uninstall any other extension via cli?

[2016-08-06 21:00] NikosEfthias commented on #113
@jens1o what do you mean any other extension ?

[2016-08-06 21:08] jens1o commented on #113
Do you have other extensions installed? @NikosEfthias

[2016-08-06 21:14] NikosEfthias commented on #113
a couple that i use

[2016-08-06 21:15] NikosEfthias commented on #113
i can try using insiders instead of deleting all other extensions

[2016-08-06 21:15] jens1o commented on #113
Could you disable them, so we can be sure it is vscode that causes all theses errors?

[2016-08-06 21:16] NikosEfthias commented on #113
is it possible to disable extensions without deleting on vscode ?

[2016-08-06 21:16] robertohuertasm commented on #113
I don't think you have todisable anything. Let me see your files.  The only extension modifying files is this one.

[2016-08-06 21:17] jens1o commented on #113
Yes, it is possible.

Should I let you know how to disable them.

// Okey, roberto has the word.

[2016-08-06 21:18] NikosEfthias commented on #113
@jens1o yes please let me know :)
@robertohuertasm  what do you think the issue is ? i now downloaded insiders to try there

[2016-08-06 21:22] jens1o commented on #113
Noo. Let's do what roberto says, he's the owner.

[2016-08-06 21:23] NikosEfthias commented on #113
@jens1o i just wanna know how do i disable something its not about the icons :) some very useful extension becomes painful in big project folders so i can temporarily disable them

[2016-08-06 21:29] jens1o commented on #113
Oh, I have to changed my output. It is not possible. I thought because you need to enable then once you've installed it, it is available. But it isn't....

[2016-08-06 21:33] robertohuertasm commented on #113
I'm not really sure at the moment. What i can see is that the workbench.main.js file is not being modified, which would indicate some lack of permissions but you're not receiving any warning and the replace function doesn't write into your console, which is weird because if the modification would fail you should have a message there... so let's do something:

- Reinstall your vscode
- Be sure that

[2016-08-06 21:36] robertohuertasm commented on #113
Any non controlled error regarding permissions should be logged into the console.

[2016-08-06 21:36] NikosEfthias commented on #113
i just now installed insiders and installed the extension seems working for insiders  let me try all you wrote above @robertohuertasm

[2016-08-06 21:37] NikosEfthias commented on #113
![](http://i.imgur.com/3Yzw2dd.png)

from insiders

[2016-08-06 21:37] jens1o commented on #113
Great!

[2016-08-06 21:37] robertohuertasm commented on #113
Cool, I already tested it yesterday in Ubuntu 16.04 and for me was working in both versions.

[2016-08-06 21:39] jens1o commented on #113
Looks not like that's a bug. Looks like there are problems with users.(No, I'm not inpolite to anyone.)

//vote4close

[2016-08-06 21:40] NikosEfthias commented on #113
after i purge `apt-get purge` noticed that the `resources` folder was not deleted by apt hopefully deleting it and fresh install will fix the issue

[2016-08-06 21:40] robertohuertasm commented on #113
Stable version is not really different from insiders in terms of what we currently do to make the extension work so a clean install should be working.

[2016-08-06 21:43] robertohuertasm commented on #113
@jens1o We should know what's happening to @NikosEfthias so we can help some other people who may find the same issue. Even more, we maybe can prevent it if we knew how they make it to crash the extension in the first place. So I vote to keep it open until @NikosEfthias checks out whether the clean install works or not for him (hopefully yes) :wink:

[2016-08-06 21:43] NikosEfthias commented on #113
here we go :+1:  it works after deleting the resources entirely the problem was i think resources were never updated and still its weird that extension didn't update the file though its owned by me whos the same user running the vscode

[2016-08-06 21:44] NikosEfthias commented on #113
so i guess the issue can be  closed  :smile:

[2016-08-06 21:46] NikosEfthias commented on #113
thank you so much for help finally got the icons back :)

[2016-08-06 21:46] robertohuertasm commented on #113
Ok! So we've learnt that in case that a clean install does not work we have to manually delete the resources folder to start afresh.

[2016-08-06 21:46] #113 closed

[2016-08-06 21:55] NikosEfthias commented on #113
exactly

[2016-08-07 02:16] robertohuertasm opened #152 "Support not supported extensions in File Associations"
See #146

[2016-08-07 02:17] robertohuertasm commented on #146
It's already fixed. #152
Will be released soon in a major version with other enhancements.

[2016-08-07 02:17] #146 closed

[2016-08-07 02:22] #147 closed

[2016-08-07 02:22] #152 closed

[2016-08-07 02:50] chai2010 commented on #146
@robertohuertasm great work, thanks!

[2016-08-07 15:48] #101 closed

[2016-08-07 15:59] robertohuertasm commented on #128
In next release, users will have the option to associate any extension to an existing icon. This will let users decide which of the icons to use for a specific extension no matter the default is.

That said, we need an icon for objective-c files. @mark-holland-leotech can you point me to the official one?

[2016-08-07 16:10] robertohuertasm commented on #118
Ready to be released in 1.6.0

[2016-08-07 16:10] #118 closed

[2016-08-07 16:13] robertohuertasm commented on #48
This is getting more generic. I will solve it after 1.6.0 is released.

[2016-08-07 16:19] robertohuertasm commented on #101
Already released in 1.6.0

[2016-08-07 16:19] robertohuertasm commented on #152
Already released in 1.6.0

[2016-08-07 16:19] robertohuertasm commented on #147
Already released in 1.6.0

[2016-08-07 16:19] robertohuertasm commented on #146
Already released in 1.6.0

[2016-08-07 16:20] robertohuertasm commented on #118
Already released in 1.6.0

[2016-08-07 17:40] rickmed commented on #146
@robertohuertasm does not work for me. Same config as above (also tried several extensions values

[2016-08-07 17:50] flyinactor91 commented on #101
After installing 1.6.0, enabling or updating icons causes tabs to not show at the top of the editor. The blank space for tabs is still allotted, however. Disabling icons causes tabs to appear again.
![1](https://cloud.githubusercontent.com/assets/2596237/17464167/d93cb7a2-5ca5-11e6-823c-fda4d0cc9b64.png)

[2016-08-07 17:51] robertohuertasm commented on #146
Please, read the new readme as this has changed to support regular expressions.

[2016-08-07 17:52] robertohuertasm commented on #101
Any message in your console?

[2016-08-07 17:54] flyinactor91 commented on #101
Nothing in the debug console

[2016-08-07 17:55] robertohuertasm commented on #101
That's weird. Can you inspect the tab with the element inspector and let me know what you see with a screenwriter?

[2016-08-07 17:56] flyinactor91 commented on #101
Oh. Was running on the only computer which hadn't updated to 1.4.0. Must be a new feature.

[2016-08-07 17:56] robertohuertasm commented on #101
Screenshot...  Sorry, I'm in mobile phone

[2016-08-07 17:57] robertohuertasm commented on #101
Oh yes, you need 1.4.0 for this to work. I will update the readme.

[2016-08-07 18:44] rickmed commented on #146
@robertohuertasm Tried a bunch of configs until I hit the update command :sweat_smile:

[2016-08-07 19:10] robertohuertasm commented on #146
@rickmed thanks for your feedback. I'll update the readme to make it more explicit.

[2016-08-07 23:05] #48 closed

[2016-08-08 01:48] mark-holland-leotech commented on #128
@robertohuertasm I don't think there is an 'official' icon. Mainly I wanted to avoid the confusion of seeing the Matlab logo so something generic with the extension will be more than sufficient.

[2016-08-08 03:27] ad1Dima commented on #137
Icons from Xcode7 app package
<img width="512" alt="xib" src="https://cloud.githubusercontent.com/assets/3244664/17468481/a3cb149e-5d52-11e6-90fa-f9f3f1ef92eb.png">
<img width="512" alt="storyboard" src="https://cloud.githubusercontent.com/assets/3244664/17468480/a3ca4456-5d52-11e6-9ebc-4a8f3cfa385f.png">

[2016-08-08 10:59] robertohuertasm opened #153 "New Tabs fail to show the UI when tab icons are enabled"

[2016-08-08 11:40] robertohuertasm commented on #153
Solved in 1.6.2. Published.

[2016-08-08 11:58] robertohuertasm opened #154 "Icons for .js.map"

[2016-08-08 12:00] robertohuertasm commented on #124
I've changed the title to make this clear. The idea is to map some folders to certain icons. We'll provide a few. It would be able to be enabled/disabled. Custom folder associations will work, too.

[2016-08-08 13:02] jens1o commented on #124
What "special folder" icons are in planning?

[2016-08-08 13:13] jens1o commented on #151
I'm working on a Microsoft related Icon Pack.

[2016-08-08 13:44] jens1o opened #155 "Primary and fallback Icon Pack."
**Checklist:**
- [X] I'm sure this issue is not a *duplicate*?

**Description:**

Would be really nice if it's possible to add an primary URL, and then a fallback URL. Why? Simply, if I want to create an icon pack, I have to feature all of the existing icons. So it's useful if I can set a primary Icon Pack URL and then a secondary, if one icon isn't found in the primary, it's searching in the seco

[2016-08-08 14:15] Tekbr commented on #153
-- Sorry for the English, I used Google Translator --

@robertohuertasm

The problem is still happening. Already updated the version of the extension. I've uninstalled and installed again. Could open the case again, please?

The problem happens with VSCode version 1.5.0- insider and 1.4.0.

See details in [#10299](https://github.com/Microsoft/vscode/issues/10299)

See the gift of @StephD and @Trer

[2016-08-08 14:16] robertohuertasm commented on #124
node_modules, .vscode, .meteor, bower, src, dist, typings...

[2016-08-08 14:23] stefan-kern commented on #124
i'd propose .git & .hg

[2016-08-08 14:34] jens1o commented on #153
https://github.com/Microsoft/vscode/issues/10299#issuecomment-238252561

:+1:

[2016-08-08 14:42] robertohuertasm commented on #153
@Tekbr have you executed "Icons Update"?

[2016-08-08 14:44] Tekbr commented on #153
@robertohuertasm yes.

[2016-08-08 14:48] StephD commented on #153
Icon update fix the thing for a new tab (ctrl+n), not the extension tab.
- Icons disabled => Icons enabled  fix the thing for extension tab.

Thanks

![2016-08-08 16_47_35-extension_ html snippets - gateway - visual studio code](https://cloud.githubusercontent.com/assets/1171858/17483819/d6651190-5d87-11e6-9580-a03fe9595370.png)

[2016-08-08 14:51] robertohuertasm commented on #153
You're absolutely right! I'll fix it asap.

[2016-08-08 14:52] robertohuertasm commented on #153
@Tekbr I mean execute the "Icons Update" command not update the extension. Just to avoid any confusion. :wink:

[2016-08-08 15:05] Tekbr commented on #153
@robertohuertasm Ok. Thanks for the quick response. I always do this, but as not resolved, I reinstall.

[2016-08-08 16:10] robertohuertasm opened #156 "Auto Enable extension"
**Checklist:**
- [x] I'm sure this issue is not a *duplicate*?

**Description:**

Some users seem to be struggling always with the "Icons Update" command and they think that just updating the extension is enough to get the latest bits.

The idea is to save the state of the extension (enabled / disabled) and the previous version installed (if any). Then once, we activate the extension will check fo

[2016-08-08 17:03] jens1o commented on #156
But I don't want to start VSCode generally as admin, because other extension could read out all my data. If they don't are open-source, I don't want to give them admin permission.

[2016-08-08 18:03] robertohuertasm commented on #156
This doesn't affect anything regarding permissions. It's the same as before. Every time you wanted to update the extension you should execute it as admin. Now it's the same. This only automates the process of launching the update command. That's all.

[2016-08-08 18:29] robertohuertasm commented on #156
Published in 1.6.3

[2016-08-08 18:29] #156 closed

[2016-08-08 18:30] robertohuertasm commented on #153
I've just published 1.6.3. It should solve the issue with extension tabs.
I'm closing the issue for the moment but feel free to report any inconvenience you find.
@Tekbr did you manage to make it work?

[2016-08-08 18:42] #153 closed

[2016-08-08 19:09] Tekbr commented on #153
Yes. Thanks @robertohuertasm  for the quick fix.

[2016-08-08 20:26] drulia opened #157 "Can't uninstall, extension is gone, but icons are still present"
I'm using Visual Studio Code Version 1.4.0
I'm using the extension version 1.6.3
My system is: Win 10 64bit

**Steps to reproduce:**
1. Install the extension (start VSCode as administrator)
2. restart for the changes to take effect
3. uninstall the extension (start VSCode as administrator)
4. restart for the changes to take effect

_Expected behaviour:_
VSCode to return to it's original shape

_Ac

[2016-08-08 20:29] robertohuertasm commented on #157
Before 3 you should execute the "Icons Disable" command to restore the bak files. You can reinstall the extension again and do as I said. It should do the trick. :wink:

[2016-08-08 20:37] drulia commented on #157
indeed that worked, thanks!

[2016-08-08 20:37] #157 closed

[2016-08-09 06:54] agenestar opened #158 "New icon proposal: csv"
**Checklist:**
- [x] I want to create an icon request(if not, remove these lines below):
      - Icon Name: **csv**
      - Sample original Icon(32x32/png/transparent whenever possible): [link](http://findicons.com/files/icons/977/rrze/32/csv_text.png)
      - Extensions: **.csv**
- [x] I'm sure this issue is not a *duplicate*?

**Description:**

New icon proporal for **.csv files**.

[2016-08-09 14:40] julianpaulozzi commented on #151
See if this helps: https://github.com/julianpaulozzi/vscode-icons-image-lib/

[2016-08-09 14:43] robertohuertasm commented on #151
@julianpaulozzi Great work!! We'll update the readme with your new addition. Is there support for all the currently supported icons or there are some missing?

[2016-08-09 14:56] julianpaulozzi commented on #151
At the moment it supports the icons with the extensions seen in "sample_files".

However there are some setpoints for the future, for example:

In supportedExtensions.js
node [json] to json [json]
reactjs [jsx] to jsx[jsx]
...

All visual studio project and solution types icons are available on Visual Studio Image Library, but they should be added to supportedExtensions.js.

Probably the "dark the

[2016-08-09 15:16] jens1o commented on #151
Great!

I'll contribute to your one!

[2016-08-09 15:18] julianpaulozzi commented on #151
At the weekend preparing a "supported Extensions.js" with additions.
The icons that I have not found just use the [default icons](http://github.com/robertohuertasm/vscode-icons/blob/master/icons.zip).

[2016-08-09 15:19] jens1o commented on #151
But then you'll have to update your package every time this one becomes an update.

[2016-08-09 15:25] julianpaulozzi commented on #151
At the time yes, but Primary and fallback Icon Pack #155 idea would be nice.

[2016-08-10 03:32] Haydos585 opened #159 "Icon Extension Request: ERB"
Currently there is an "erb" icon that is only used for .rhtml files. I would like to see the "erb" icon also be used for .html.erb files.

[2016-08-10 11:52] AlekSi commented on #89
Oh yes! I use PostgreSQL and can't stand MySQL! 😡

-

Seriously, it's confusing.

[2016-08-12 18:23] nimamarashi commented on #128
As a suggestion, I thought we can make it a bit smarter by looking at other extensions in same/sub/parent folders of worksapace.
That means if we have a setting like:
[code]
and the folders structure is like:

- index.cc
- method.m
-- hlper.hpp

there is a good chance the 'method.m' file belongs to an obj-c project

Even we can introduce an optional new property in settings named 'expects' to say

[2016-08-12 21:29] jorawarsingh opened #161 "Icons have stopped appearing in Ubuntu 16.04"
Hi first of all thanks for a useful extension.
Now i had this working extension before upgrading to 16.04. I have tried everything re-installed the vs-code more then 4 times removed all the files and folder manually as mentioned in another same issue which is closed now.

Help me to get them back.

[2016-08-13 03:58] razblack opened #162 "Linux container/object icon change request for 'hidden' types"
- [X] Visual Studio Code Version [1.4.0] [Stable/Insider]
- [X] Extension version [1.6.3]
- [X] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [X] My system is: Linux Mint 'Sarah'
- [X] I'm sure this issue is not a *duplicate*?
- [ X ] I want to create an icon request(if not, remove these lines below):
      - Icon Na

[2016-08-13 13:16] #159 closed

[2016-08-13 13:21] robertohuertasm commented on #161
Please take a look at #87 and #113 and honor the issue template if possible next time :wink:

[2016-08-13 13:24] robertohuertasm commented on #128
@nimamarashi, unfortunately this is not an option as we only have access to the current file, not the parent nor the siblings. This will be solved by using vscode-icons file extension system once we have a proper icon. We're proposing a default and the user will be able to decide whether to use mathlab icon, the default icon or whatever icon she may like.

[2016-08-13 14:49] jorawarsingh commented on #161
@robertohuertasm sorry that i didn't honor the template but i have tried these all steps around 10 times yesterday without any success and that's why i opened this issue.

[2016-08-13 17:34] robertohuertasm commented on #161
Let's continue this  in #113 and close this thread.

[2016-08-13 17:34] #161 closed

[2016-08-13 17:38] robertohuertasm commented on #113
@jorawarsingh can you check your dev console for messages? Can you attach a screenshot of your tree view? Have you checked that you're not behind a proxy?

[2016-08-13 17:42] robertohuertasm commented on #100
@tomitrescak custom file associations has been already shipped. Custom colors will be also considered.

[2016-08-13 20:52] jorawarsingh commented on #113
Here i the screen shot.
![vscode-dev](https://cloud.githubusercontent.com/assets/7203792/17645496/2d9ec2f2-61a8-11e6-897e-31d28689b51e.png)
No i'm not behind proxy.

[2016-08-13 21:23] robertohuertasm commented on #113
@jorawarsingh have you executed the "icons update" command? => F1 > Icons Update

[2016-08-14 11:10] jorawarsingh commented on #113
now that's was tricky i got updates in the extension panel and updated from there may be three times and never worked what's the different? I have icons now +1:

[2016-08-14 11:27] robertohuertasm commented on #113
I'm glad it's working for you know. The latest update supported auto "Icons Update" command execution but somehow yours wasn't working. You always must run this command whenever it's a new installation or update of the extension or vscode.

[2016-08-15 14:21] Tekbr opened #163 "Icons of the tabs disappear to reload window."
- VSCode Version: 1.5.0-insider
- OS Version: Windows 10
- Version vscode-icons: 1.6.4

-- Sorry for the English, I used Google Translator --

1- Open one or more files.
2- Press F1 and type "Reload Window" or close the VSCode and open it again.
3- See the icons disappear from the guides.
4- It is necessary to open a new file or tab for the icons to appear again or close it and open again.

[2016-08-15 17:11] zozzz commented on #124
Another idea. I would like to define the folder icon based on its contents like this:
[code]

[2016-08-15 20:29] mert-celen opened #165 "Icon Request: .ejs extension"

[2016-08-15 21:44] robertohuertasm commented on #163
Thanks @Tekbr for reporting this! I see that this is only happening in insider version. The stable version seems to be working fine. I'll take a look at it.

[2016-08-15 23:19] robertohuertasm commented on #163
Something has changed in vscode refreshtabs function and they don't resolve the file name now in the same place so when the code flow gets into the custom icons function I don't have access to the name. I've solved it by calling to a context function though :wink:

Solved in 1.6.5. Published right now.

[2016-08-15 23:19] #163 closed

[2016-08-15 23:35] sean-clayton commented on #117
@robertohuertasm Would you be willing to take PRs on this? I wouldn't mind making one :smiley_cat:

[2016-08-15 23:37] robertohuertasm commented on #117
@sean-clayton for sure! Go ahead! :+1:

[2016-08-15 23:52] sean-clayton commented on #117
@robertohuertasm Is #121 a good PR to look at as a reference for adding an icon to an extension? Never made a PR here so I just wanna make sure I submit a good one!

[2016-08-16 08:40] #117 closed

[2016-08-16 11:32] jsynowiec opened #167 "Icon Request: .apib extension"
- Icon name / file name: [API Blueprint](https://apiblueprint.org/)
- Extensions: .apib
- 100x100 png with transparent background [file_type_apib@2x.png](https://cloud.githubusercontent.com/assets/1029142/17697540/b1f5553e-63b5-11e6-89d9-bb10f0dbc3aa.png)

![file_type_apib 2x](https://cloud.githubusercontent.com/assets/1029142/17697540/b1f5553e-63b5-11e6-89d9-bb10f0dbc3aa.png)

[2016-08-16 14:32] jens1o commented on #167
What is this file-type called?

[2016-08-16 15:10] Tekbr commented on #163
@robertohuertasm It worked. Thank you again.

[2016-08-16 17:27] olzaragoza opened #168 "Update the Pug/Jade icon for .pug and .jade files"
[The Pug project was formerly known as "Jade."](https://github.com/pugjs/pug#rename-from-jade)

Since the current Jade icon ![file_type_jade 2x](https://cloud.githubusercontent.com/assets/14199576/17706950/1dd87812-63ac-11e6-8146-11064878ca50.png) doesn't really resemble ![jade-logo](https://cloud.githubusercontent.com/assets/14199576/17707128/0106a5d2-63ad-11e6-98df-83e995372aa7.png)
I would like

[2016-08-16 20:13] #168 closed

[2016-08-17 08:26] tomitrescak commented on #100
@robertohuertasm thanks for this wonderful update! ;) I already put it to the good use ;)

Just an idea here. What if you wouldn't use images to display icons but actual icons from fontawesome or others. This way, users would be free to modify the behaviour to their liking and use myriads of possible icons. Something in this ballpark: https://atom.io/packages/file-icons

Yet, since you have to mod

[2016-08-17 08:32] robertohuertasm commented on #100
@tomitrescak I've also explored this idea too but it's not the easiest path to follow at the moment. Microsoft is exploring similar ideas and willing to integrate the extension to their new coming API [#10294](https://github.com/Microsoft/vscode/issues/10294)

[2016-08-18 09:39] jsynowiec commented on #167
API Blueprint: https://github.com/apiaryio/api-blueprint

[2016-08-18 19:39] robertohuertasm commented on #124
@zozzz unfortunately, we don't have access to the contents right now :disappointed:

[2016-08-18 20:35] jens1o commented on #124
Do we have access to even null? :disappointed:

[2016-08-19 07:48] basdp opened #172 "Icon request: assembly"
I'm doing a lot of assembly in vscode lately, but there aren't any icons for that kind of files. Usual file extensions are `.s`/`.S`, and `.asm`.

I like the blue C/H icons for c and header files. Perhaps a blue 'S' icon? Maybe another color to distinguish them?

Thanks!

[2016-08-19 08:12] brakmic opened #173 "No Icons in VSCode 1.5.0-insiders"
I've followed the FAQ and tried to activate icons with "Update" but no luck. My VSCode is:

[code]

I'm running a Win10 x64 (Anniversary Update)

[2016-08-19 08:37] jens1o commented on #173
Any error in the debug console?

[2016-08-19 08:40] brakmic commented on #173
No errors at all.

[2016-08-19 10:49] maqboolkhan commented on #165
:+1:

[2016-08-19 12:38] Tekbr commented on #173
I have the same problem. For me, the icons of files as "html, css, js" does not appear in the 'Explorer', but the tabs appear. The icons of folders typically carry the 'Explorer'.

[2016-08-19 16:58] MLefebvreICO commented on #173
Same here, only folder icons are present now :/

[2016-08-19 20:19] robertohuertasm commented on #173
Have you all tried "Icons Update" command?

[2016-08-19 20:25] MLefebvreICO commented on #173
@robertohuertasm
First message from @brakmic states :

[2016-08-19 20:26] robertohuertasm commented on #173
@MLefebvreICO I've read it but I didn't know if you all have tried or not :wink: that's why I asked to all of you. I guess you've tried. Could you be more specific on how this happens? I mean, is it your first install? Did you upgrade your vscode or the extension?

[2016-08-19 20:30] robertohuertasm commented on #165
@mert-celen please, I don't mean to be rude but we have issue templates for something. Please try to stick to them as close as possible. Does it has some sort of official logo? Url of the extension... you know...
Thanks.

[2016-08-19 20:34] MLefebvreICO commented on #173
It's not my first install.

I upgraded vscode, seeing there were no icons, I then upgraded the extension(which I  don't always update), but no luck.

[2016-08-19 20:40] jens1o commented on #173
I can reproduce that with a fresh install of the Insider Version, extension version (fresh installed) 1.6.5.

The padding for the icon does appear, but the icon itself won't be shown.

[2016-08-19 23:22] robertohuertasm commented on #173
The new insiders version made a change that has broken the extension. I've already fixed and will make a patch release in a few minutes.

[2016-08-19 23:37] #70 closed

[2016-08-19 23:59] robertohuertasm opened #174 "Open editors with icons"
Will work like tab icons. It will be optional.

[2016-08-20 00:12] robertohuertasm commented on #173
I've just published v1.6.6 with the fix. Let me know if you find some issues.

[2016-08-20 07:35] jens1o commented on #173
Works after executing(and restarting) "Icons Update"

[2016-08-20 07:37] jens1o commented on #174
What do you mean?

This section? http://prntscr.com/c81ors

[2016-08-20 07:39] brakmic commented on #173
Same here: the new version works after Update/Restart/"Enable Icons"

Many thanks, @robertohuertasm :+1:

[2016-08-20 08:18] #173 closed

[2016-08-20 08:19] robertohuertasm commented on #174
Yes

[2016-08-20 12:14] iRoachie commented on #165
@robertohuertasm Is this sufficient? This is the icon from atom since there's no official ejs icon.
<img width="23" alt="screen shot 2016-08-20 at 8 13 29 am" src="https://cloud.githubusercontent.com/assets/5962998/17831094/0f171ebe-66ae-11e6-8c3c-e7090a0c43f1.png">

[2016-08-20 12:23] iRoachie commented on #133
@robertohuertasm Original icon taken from groovy [repo](https://github.com/apache/groovy)
![](https://raw.githubusercontent.com/groovy/artwork/master/medium.png)

[2016-08-20 12:25] iRoachie commented on #125
Isn't changelog just a markdown file?

[2016-08-20 12:29] iRoachie commented on #158
Looks okay? Took this screenshot from atom. Once it's good I can make it in 5 mins.
<img width="32" alt="screen shot 2016-08-20 at 8 28 00 am" src="https://cloud.githubusercontent.com/assets/5962998/17831185/097983d2-66b0-11e6-9c69-05ac7257a4ae.png">

[2016-08-20 15:29] jens1o commented on #158
Sure, it's okey, but please transparent and 32x32.

[2016-08-21 00:06] iRoachie commented on #158
Here you go
![csv](https://cloud.githubusercontent.com/assets/5962998/17834514/8888b682-6711-11e6-947b-10f0a76f9698.png)

[2016-08-21 00:17] iRoachie commented on #158
@robertohuertasm Here you go.
![csv](https://cloud.githubusercontent.com/assets/5962998/17834544/298cfae2-6713-11e6-8386-9f8608d22109.png)

[2016-08-21 00:20] iRoachie commented on #172
Whatcha think of this? I'll do the final version, if this concept is good
<img width="28" alt="screen shot 2016-08-20 at 8 19 55 pm" src="https://cloud.githubusercontent.com/assets/5962998/17834549/7ded105e-6713-11e6-8283-e24a0d18c295.png">

[2016-08-21 07:54] robertohuertasm commented on #158
Can we make it green so we can use it for xls and xlsx files? We could use the official excel green.

[2016-08-21 09:35] basdp commented on #172
I like it!

[2016-08-21 17:28] robertohuertasm commented on #172
@iRoachie :+1:

[2016-08-21 17:52] agenestar commented on #158
I normally use OpenOffice. Can we also add the .ods extension?

Do you like that green?
![298cfae2-6713-11e6-8386-9f8608d22109](https://cloud.githubusercontent.com/assets/10512395/17838858/b3e50bc0-67d7-11e6-97de-1618e7339373.png)

[2016-08-21 19:23] iRoachie commented on #172
Here's it!
![assembly](https://cloud.githubusercontent.com/assets/5962998/17839355/2c86b756-67b3-11e6-978e-ee121d20d1d3.png)

[2016-08-21 19:41] jens1o commented on #172
@iRoachie Your icons are *really* nice, great work!

[2016-08-21 19:48] mert-celen commented on #165
Sorry for late reply, I didn't see any issue template sorry about that. Regarding the official logo, this is from google code repo of the ejs (https://storage.googleapis.com/google-code-archive/v2/code.google.com/embeddedjavascript/logo.png). This should give you an idea. Here's the official website of the ejs http://www.embeddedjs.com/

_Ps: I did actually write explanation in issue and send it t

[2016-08-21 22:34] robertohuertasm commented on #174
Ready to be published!

[2016-08-21 22:34] #174 closed

[2016-08-21 22:42] robertohuertasm commented on #89
Will be released in 1.7.0 today!

[2016-08-21 22:42] #89 closed

[2016-08-21 22:53] robertohuertasm commented on #172
Ready to be released in 1.7.0 in a moment!

[2016-08-21 22:53] #172 closed

[2016-08-21 22:55] robertohuertasm commented on #158
Ready to be released in 1.7.0 in a moment!

[2016-08-21 22:55] #158 closed

[2016-08-21 23:02] robertohuertasm commented on #128
I will release 1.7.0 in a moment. .m files will have a simple M icon by default. Mathlab users will be able to change the icon via custom file association.

[2016-08-21 23:02] #128 closed

[2016-08-21 23:23] robertohuertasm commented on #167
Ready to be released in 1.7.0

[2016-08-21 23:23] #167 closed

[2016-08-21 23:27] robertohuertasm commented on #127
Ready to be published in 1.7.0

[2016-08-21 23:27] #127 closed

[2016-08-21 23:33] robertohuertasm commented on #125
@iRoachie you're right. I'm going to close this issue. @ajsb85 there's already a log icon in the extension so you can use vscode-icons file associations to change the associated icon to ChangeLog.md.

[2016-08-21 23:33] #125 closed

[2016-08-21 23:40] robertohuertasm commented on #133
@iRoachie we already have a groovy icon but was not associated to any extension yet. Now it's associated to .groovy extension. Ready to be released in 1.7.0.

[2016-08-21 23:40] #133 closed

[2016-08-21 23:48] robertohuertasm commented on #165
@mert-celen you've got your icon! :wink: 1.7.0 is about to be published with new icons and "open editors" section fulfilled with icons :grin:

[2016-08-21 23:48] #165 closed

[2016-08-22 03:42] olzaragoza commented on #65
I created a [table](https://github.com/olzaragoza/vscode-icons/blob/show-supported-icons/icons.md) from [supportedExtensions.js](https://github.com/robertohuertasm/vscode-icons/blob/master/src/build/supportedExtensions.js) to be able to see all of the icons before starting any work on consistency/feel.  I can't seem to find which icon is used for [postcss('pcss', 'postcss')](https://github.com/rob

[2016-08-22 05:19] maqboolkhan commented on #165
cool @robertohuertasm (Y) really great work

[2016-08-22 08:40] kf-ireneuszpatalas opened #175 "Explorer and command window empty after update"
Hello,

I've just updated vscode-icons from 1.6.x (don't remember exactly) to 1.7.1 today and encountered a problem. Actually entire explorer is no longer displayed like on the screenshot below:
![image](https://cloud.githubusercontent.com/assets/20282152/17848469/04d332f6-6854-11e6-9bfe-f20e3069d2c5.png)

As you can see the icon on tab is visible, but I don't see any items in Explorer. Moreover I

[2016-08-22 08:52] robertohuertasm commented on #175
Hi @kf-ireneuszpatalas, in this case I will do the following:
1- Reinstall VSCode: this won't cause any pain as your extensions will be kept intact but will refresh the original js and css files.
2- Start in Admin mode.
3- Reinstall the extension.

This should do the trick!

[2016-08-22 08:54] robertohuertasm commented on #65
@olzaragoza great work and idea. I've also published the icons folder to github in the master branch. I would like to include your table list but I would like to do it by leveraging the build process in vscode-icons. The idea is that when running `npm run build` the table is automatically regenerated. :+1:

[2016-08-22 08:56] robertohuertasm commented on #65
Microsoft is planning to create an [official base extensions ](https://github.com/Microsoft/vscode/issues/10600) with its own designed icons so maybe we should wait to see what they got and reuse their icons or create a more fancy way to change the icon sets by using some sort of command.

[2016-08-22 08:57] kf-ireneuszpatalas commented on #175
It did the trick, thanks!

[2016-08-22 08:57] #175 closed

[2016-08-22 09:41] robertohuertasm commented on #65
@olzaragoza the icons.zip in the repo was outdated. I've also uploaded the correct one.

[2016-08-22 11:07] brakmic opened #176 "No Icons in VSCode Insiders - 2016-08-22T08:10:56.602Z"
It seems the previously removed bug is back again: https://github.com/robertohuertasm/vscode-icons/issues/173

My current Insiders version of VSCode:
[code]

[2016-08-22 11:51] Tekbr commented on #176
Same.

[2016-08-22 12:08] thiagoaos commented on #176
Same here. Only folder icon appear.

[2016-08-22 12:19] kumarharsh commented on #176
Seems like the latest update to this plugin broke everything. No icons for me too on Windows 10

[2016-08-22 13:57] robertohuertasm commented on #176
I guess you all have no errors in your dev consoles, haven't you?

[2016-08-22 13:58] brakmic commented on #176
Sadly, I couldn't find any errors in debug console.

[2016-08-22 14:04] robertohuertasm commented on #176
Ok, thanks @brakmic. For sure, something has changed again. I'll take a look asap and let you know.

[2016-08-22 14:19] robertohuertasm commented on #176
I think they're starting to deploy new features to support icons in an official way according to [6fe06f0](https://github.com/Microsoft/vscode/blob/34377a9e99cf8f4ddca6be4e70c7c7333b2cd0ca/src/vs/workbench/parts/files/browser/views/explorerViewer.ts#L320) and [#10600](https://github.com/Microsoft/vscode/issues/10600)

I'll have to take a deep look at the new code and see what can be done. Sorry fo

[2016-08-22 14:21] brakmic commented on #176
No problem.

It'll be a hard-knock life without your cool icons but I think most of us will survive :smiley:

Thanks :+1:

[2016-08-22 14:27] robertohuertasm commented on #176
:grinning: You can also use the stable version... :grin:
Thank you for your kind support! :wink:

[2016-08-22 16:08] egamma opened #177 "Migrate to the new Icon Extension Contribution Point"
The August release (avail in September) includes a new Contribution Point for icon extensions. We would much appreciate if this extension is migrated to this Contribtuion Point.

//CC @aeschli

[2016-08-22 16:09] egamma commented on #176
@robertohuertasm you are correct given your great work we started to work on official support for icon extensions. Official support will avoid issues like this one.

I hope this doesn't come as a surprise since we had this on our August plan (https://github.com/Microsoft/vscode/issues/10145).

I've created issue #177 to start the discussion and I've CCed @aeschli the developer of this support.

[2016-08-22 16:49] olzaragoza commented on #65
@robertohuertasm Yeah, the table was just an idea.  I'm still going through the code trying to better understand the build process and how to include it in the build.  With an official icon release planned, it might only be for my personal understanding if things get changed drastically.  I'm holding off on any icon work for now.

[2016-08-22 18:59] egamma commented on #177
@aeschli started the documentation in this issue  https://github.com/Microsoft/vscode/issues/10804

[2016-08-22 20:59] robertohuertasm commented on #176
Thanks @egamma for you answer! :+1:

I knew that you were working on this so it's not really a surprise but I didn't know anything about the specifics of the implementation.

Of course, I'll try to integrate the extension with the new API in order to get the same functionalities that we currently have in an official way! :wink:

[2016-08-22 21:19] robertohuertasm commented on #107
https://code.visualstudio.com/docs/extensionAPI/extension-points

[2016-08-22 23:47] robertohuertasm commented on #176
@brakmic I've just published 1.7.2 with support for new api changes so insiders build should be working again with all the features. Still doing it the hacky way though. I'll have to think about the integration process and see how we manage it.

[2016-08-22 23:47] #176 closed

[2016-08-23 12:56] robgarzon opened #179 "Icon for .phtml"
It would be nice to have one.

[2016-08-23 13:48] robertohuertasm commented on #179
php icon would be enough?

[2016-08-23 14:37] robgarzon commented on #179
Yep, that's it

[2016-08-24 13:38] petrmm commented on #124
It will be usefull to distinguish symbolic links like in atom.io
![image](https://cloud.githubusercontent.com/assets/7623513/17932535/c57da528-6a10-11e6-89b9-22f33b6d2ba3.png)

[2016-08-24 14:18] robertohuertasm commented on #124
Sorry, but this is not really possible with the current api so nothing can be done here.

[2016-08-24 16:09] a-magdy opened #181 "Support for Dockerfile-<environment>"
- [x] I'm using Visual Studio Code Version [1.4.0] [6276dcb0ae497766056b4c09ea75be1d76a8b679]
- [x] I'm using the extension version [1.7.2]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] My system is: [mac] [64]
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, re

[2016-08-24 18:55] robertohuertasm commented on #181
Hi @a-magdy, this can be configured by setting this in your user.settings:
[code]
Cheers!

[2016-08-24 18:55] #181 closed

[2016-08-24 22:30] AlexandreSNeto opened #185 "Icon Request: .travis.yml"
- [x] I want to create an icon request:
      - Icon Name: Travis CI
      - Sample original Icon(32x32/png/transparent whenever possible): https://docs.travis-ci.com/favicon.ico
      - Extensions: .travis.yml

[2016-08-24 23:46] iRoachie commented on #185
Another possible icon.
 ![](http://cibuddy.com/img/travis-logo.png)

[2016-08-24 23:50] iRoachie commented on #154
Any ideas for this ?

[2016-08-24 23:52] iRoachie commented on #126
The syntax for .jshintrc is pretty much JSON, so we can use the JSON icon for that

[2016-08-25 06:22] robertohuertasm commented on #154
Current js icon with a world globe in the lower right corner?

[2016-08-25 07:18] vatok opened #186 "New icon proposal: dart"
**Checklist:**

- [x] I want to create an icon request(if not, remove these lines below):
      - Icon Name: dartlang
      - Sample original Icon(32x32/png/transparent whenever possible): [Link](https://www.dartlang.org/favicon.ico)
      - Extensions: .dart

New icon proporal for .dart files.

[2016-08-25 07:59] robertohuertasm commented on #185
I prefer the original one if possible.

[2016-08-25 12:08] iRoachie commented on #185
Will see if I can do it today

[2016-08-25 12:48] vhbsouza commented on #6
I've tried to follow your instructions and now the files tree list isn't showing anymore.

[2016-08-25 12:52] jens1o commented on #6
@vhbsouza Please, create a new issue and give us detailed informations.

[2016-08-25 12:59] vhbsouza commented on #6
@jens1o , thank you man. I just reinstall the extension and the problem was fixed. Thank You anyway! :smile:

[2016-08-25 22:11] JonCanning opened #188 "Icon request : Paket"
I want to create an icon request for [Paket](http://fsprojects.github.io/Paket/)

Icon Name: paket

Sample original Icon: https://dl.dropboxusercontent.com/u/11302680/logo.png

Extensions:

- paket.dependencies
- paket.lock
- paket.references
- paket.template
- paket.local

[2016-08-26 05:36] robertohuertasm commented on #188
Are this extensions or file names?

[2016-08-26 07:03] JonCanning commented on #188
They're the file names

[2016-08-26 22:16] #179 closed

[2016-08-26 22:16] robertohuertasm commented on #179
It will be released soon.

[2016-08-27 02:07] robertohuertasm commented on #124
1.8.0 is out!

[2016-08-27 02:07] #124 closed

[2016-08-27 02:12] jens1o commented on #124
GREAAAAAAAT :heart:  I love it

[2016-08-27 02:40] jens1o commented on #120
Something new @MehdiDehghani?

[2016-08-27 02:56] jens1o opened #191 "Icon Request: .psd"
- [X] I want to create an icon request(if not, remove these lines below):
      - Icon Name: Photoshop
      - Sample original Icon(32x32/png/transparent whenever possible): We could use the "Ps"-Font. It is simple and looks cool.
      - Extensions: .psd
      - [X] I crossed out "Description", "Steps to reproduce", "Expected behaviour" and "Actual behaviour".

![image](https://cloud.githubuserco

[2016-08-27 03:16] jens1o commented on #137
Without the shadows? We need to cut it to 32x32. The shadow takes way too much space.

[2016-08-27 03:41] #191 closed

[2016-08-27 04:16] MehdiDehghani commented on #120
@jens1o nope, sadly the `Vash` author didn't response to the request yet.

[2016-08-27 05:18] ad1Dima commented on #137
it's official icons, but I think you can keep just inner symbol without shadow, curl and border

[2016-08-27 06:31] llkiriell opened #197 "New Icons: go, zip, rar, php"
Proposed icons:

* go:
![golang](https://k60.kn3.net/C/D/2/D/C/6/110.png)
* rar:
![rar](https://k61.kn3.net/1/E/5/4/5/2/BAE.png)
* zip:
![zip](https://k60.kn3.net/F/0/F/D/C/E/E30.png)
* php:
![php](https://k61.kn3.net/D/0/7/C/A/6/2AD.png)

 #**Link:** [Icons](http://goo.gl/56yxL2)

[2016-08-27 08:10] robertohuertasm commented on #197
Go, zip, and pop are already implemented.

[2016-08-27 08:11] robertohuertasm commented on #197
The zip icon is generic at the moment and it's used for all kind of compressed files. Thanks anyway.

[2016-08-27 08:11] #197 closed

[2016-08-27 13:27] ksmithut commented on #124
Any documentation on how to turn off certain folder associations? Or is it the same as file associations? @robertohuertasm

[2016-08-27 14:50] robertohuertasm commented on #124
@ksmithut if you want to disable, let's say "src" icon, just use -as you already suggested- the file associations feature and put something like this:
[code]
This will make src folder look normal again.

[2016-08-27 15:05] robertohuertasm commented on #186
The same here with the margin. I think a little bit smaller will be great!

[2016-08-27 15:34] robertohuertasm opened #201 "Create contribution guidance for icons in Readme.md"
Specify how to create an icon:
1. 32x32 px
2. 2px margin

[2016-08-27 15:44] #185 closed

[2016-08-27 15:50] robertohuertasm opened #202 "Add support for test folder icon"
Use some kind of laboratory tool to illustrate it.

[2016-08-27 15:55] robertohuertasm opened #203 "File colours based on file name"
This issue is coming from [#100](https://github.com/robertohuertasm/vscode-icons/issues/100) by @tomitrescak

It will be explored here.

[2016-08-27 15:55] jens1o commented on #186
For sure.

[2016-08-27 15:55] robertohuertasm commented on #100
I'm closing this issue as it's partially completed. I've created [#203](https://github.com/robertohuertasm/vscode-icons/issues/203) to explore file coloring.

[2016-08-27 15:55] #100 closed

[2016-08-27 15:57] jens1o commented on #197
php is also implemented, and I love the elefant how it looks.

[2016-08-27 15:58] jens1o commented on #203
:+1: Next good idea, nice!

[2016-08-27 15:58] jens1o commented on #201
3. transparent

[2016-08-27 16:12] jens1o commented on #203
How we will technical do that? Will spans be used or direct css to the item?

[2016-08-27 17:07] jens1o opened #204 "How to assign myself?"
Hey,

it's just a github question, so I leaved out our template. Is there any option on GitHub to assign myself, without being the owner? Can you set something, that would be really useful, which person will resolve this issue.

Greets,
Jens

[2016-08-27 17:23] Gama11 commented on #204
No, only users with push permissions on a repo can be assigned.

[2016-08-27 17:40] #126 closed

[2016-08-27 17:52] BakerNet opened #205 "icons.zip corrupt - even after uninstalling/reinstalling"
**Checklist:**
- [X ] I'm using Visual Studio Code Version [1.4.0] [Stable]
- [X ] I'm using the extension version [1.8.1]
- [x ] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x ] My system is: Windows 10
- [x ] I'm sure this issue is not a *duplicate*?

**Description:**
After installing, updating, and enabling icon

[2016-08-27 17:56] robertohuertasm commented on #205
@BakerNet maybe something went wrong while we were merging the zip files... Now it should be working ok. Can you confirm?

[2016-08-27 17:58] robertohuertasm commented on #204
That's right. At the moment you can leave a message in the issue by saying that you're taking care of it.

[2016-08-27 17:58] #204 closed

[2016-08-27 18:00] robertohuertasm commented on #205
not working... I see... I will publish a patch right now and see what's happening.

[2016-08-27 18:05] robertohuertasm commented on #205
I think it should be solved... can anyone confirm it?

[2016-08-27 18:05] BakerNet commented on #205
I had to uninstall and reinstall Code in order for icons.zip to download/unzip.  It seems to have worked fine this time.

[2016-08-27 18:06] BakerNet commented on #205
Thanks for the great extension, BTW!

[2016-08-27 18:30] robertohuertasm commented on #205
There was an issue with the icons.zip generator during build time. It's now solved. Thanks @BakerNet for reporting it so soon :wink: :+1:

[2016-08-27 18:30] #205 closed

[2016-08-27 23:55] #186 closed

[2016-08-27 23:59] #188 closed

[2016-08-28 00:16] #202 closed

[2016-08-28 00:17] iRoachie commented on #154
Good?
![js map](https://cloud.githubusercontent.com/assets/5962998/18030771/4dd89c6e-6c93-11e6-8e81-cc88b3b57fac.png)

[2016-08-28 00:34] #201 closed

[2016-08-28 00:41] DrecDroid opened #206 "Icon Request: dart"

[2016-08-28 00:54] robertohuertasm commented on #154
@iRoachie I've just implemented it 😞 .
It's pretty similar though. The js color has a little alpha with white to make it different from js icon and the globe is actually closer to the js text.

[2016-08-28 00:54] #154 closed

[2016-08-28 00:55] iRoachie commented on #154
@robertohuertasm Alright cool man no sweat 👍

[2016-08-28 00:58] robertohuertasm commented on #206
@DrecDroid please, read the contribution guide before submitting and icon request :wink:.

You've submitted a duplicate of [186](https://github.com/robertohuertasm/vscode-icons/issues/186) which is already implemented and waiting to be released.

[2016-08-28 00:58] #206 closed

[2016-08-28 01:19] robertohuertasm commented on #107
Shipping in next release 1.8.2

[2016-08-28 01:19] #107 closed

[2016-08-28 01:22] robertohuertasm commented on #85
This seems to have been solved by the vscode team.

[2016-08-28 01:22] #85 closed

[2016-08-28 01:30] robertohuertasm commented on #122
@ajsb85 is this extension related to Yeoman or can be used to a more generic purpose? What's the file format? .yml? .xml? .json? A little more help would be really appreciated. :wink:

[2016-08-28 01:32] robertohuertasm commented on #139
See #151

[2016-08-28 01:32] robertohuertasm commented on #136
See #151

[2016-08-28 01:33] robertohuertasm commented on #151
I'm closing this as this is already implemented as a separate set of items :+1:

[2016-08-28 01:33] #151 closed

[2016-08-28 05:32] MehdiDehghani opened #207 "After recently update, no icon shown for node_module folder"
Hello,

I googled this, but I found nothing about that, so I reported.
The extension works perfectly for every files & folders, but `node_modules`. is this new behavior or is something wrong?

I'm using latest version of `VSCode` & your extension. also `Windows 10 64bit`.

Thanks for your great extension btw !

[2016-08-28 08:14] robertohuertasm commented on #207
Have you tried executing 'icons update'?

[2016-08-28 08:18] fasfsfgs commented on #42
Is it possible to reopen this?
After ionic cli 2.0, the config file has changed from 'ionic.project' to 'ionic.config.json'.

[2016-08-28 09:26] robertohuertasm commented on #207
Do see the normal folder icon or nothing? I've tested in my Windows 10 and it seems to be working. Plus, the icons.zip currently deployed contains the proper folder icons.

[2016-08-28 10:01] Riim opened #208 "The extension is not removed"
After removing the extension icons still remain in the editor. Rebooting does not help.

https://yadi.sk/i/X_nnknF0uYG8N
https://yadi.sk/i/VQcwCqYXuYG9h

[2016-08-28 10:12] TiTnOuK opened #209 "Icon request: VOLT"
**Phalcon template engine: Volt** has no icon.
Website URL : [Link](https://docs.phalconphp.com/en/latest/reference/volt.html)
Icon that can be used : [Link](https://commons.wikimedia.org/wiki/File:Phalcon_logo.png)
File extension : **.volt**

If you can add it, the Phalcon users would be delighted  :)

[2016-08-28 10:35] MehdiDehghani commented on #207
Yes, I tired `Icon update` command (*in admin mode*), and yes, as I said icons shown perfectly for other files & folders.

I should mentioned the folder icon doesn't show for `.vscode' folder too.
Seems icon allocated the space, but there is no icon for this 2 guys.

[2016-08-28 10:47] robertohuertasm commented on #208
Yes, at the moment you have to exec icons disabled before uninstalling. This will restore your original vscode files.

[2016-08-28 11:10] robertohuertasm commented on #207
Have you tried recently? Icons update will reinject the custom code and download again the icons.zip file from this repo. As you can see the icons.zip contains all the folder icons so... My only guess is that you're using a proxy or that you downloaded a bad icons.zip.

When updating do you see any message in your dev console?

[2016-08-28 12:57] jens1o commented on #209
I'll integrate it.

[2016-08-28 12:58] jens1o commented on #208
To do so, you need to reinstall the Extension and then execute Icon Disable.

[2016-08-28 12:59] MehdiDehghani commented on #207
I tired update command just before posting my answer to your question.
Why other folders have `folder icon` but this 2 folders?

**Maybe this help**

The icon for `node_module` was correct, but when I hit update (*in extension section of vscode*), and of course after restating vscode, I found out the icon of `package.json` changed to `npm` icon (*the red one*). after this update the folder icon of

[2016-08-28 13:03] MehdiDehghani commented on #207
BTW here is the screenshot of dev console after I run Update command.
![sss](https://cloud.githubusercontent.com/assets/9152330/18033953/73202aac-6d45-11e6-9be9-f0a0a94e8c85.png)

[2016-08-28 13:13] jens1o commented on #209
see #210

[2016-08-28 13:17] jens1o commented on #42
I'll create a PR fpr this

[2016-08-28 13:25] jens1o commented on #42
see #211

[2016-08-28 14:19] #209 closed

[2016-08-28 14:30] #42 closed

[2016-08-28 15:34] jsynowiec opened #212 "Setting `hideCustomFolderIcons` to `true` has no effect."
**Checklist:**
- [x] I'm using Visual Studio Code Version [1.4.0] [Stable]
- [x] I'm using the extension version [1.8.2]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] My system is: OS X
- [x] I'm sure this issue is not a *duplicate*?
- [x] I've forced Icons Update.
- [x] I crossed out "Description", "Steps

[2016-08-28 15:48] Riim commented on #208
It works. Thanks.

[2016-08-28 15:48] #208 closed

[2016-08-28 16:02] robertohuertasm commented on #212
Sorry but this setting won't work for the moment until 1.8.2 will be released tomorrow. You have to use the associations workaround as stated in the readme as an alternative solution. I'm sorry for the inconveniences.

[2016-08-28 16:02] #212 closed

[2016-08-28 16:05] robertohuertasm commented on #207
@MehdiDehghani everything seems fine. Try this:

1. `icons disable`
2. uninstall the extension
3. install it again

I know that you have done it already but just for the sake of discarding obvious things as know I've checked the `icons.zip` file and seems to be ok. I've tested it in a clean installation and it's working so it should work for you too. It has no sense that only two icons are not pre

[2016-08-28 16:07] robertohuertasm commented on #155
@jens1o I don't know if we're going to need this as once we integrate with the official API it will have no sense. In fact, every pack of icons will be an extension itself.

[2016-08-28 16:08] robertohuertasm commented on #162
This could be considered as an extension of #203

[2016-08-28 16:24] whitecolor opened #213 "support for (git) ignored and search excluded fade style"
I wonder if it is possible to style in some way icons for git ignored files, for example make them faded or desaturated. Also something like this would be use for files that are in `search.exclude ` option of `.vscode/settings.json`.

Also can extension potentially effect file name colors? Maybe this could be useful too.

[2016-08-28 16:26] MehdiDehghani commented on #207
@robertohuertasm thanks man, `node_module` & `.vscode` folder are now happy. I should tired re-installing the extension before opening the issue, sorry about that.
Nice icons btw.

[2016-08-28 16:26] #207 closed

[2016-08-28 16:42] robertohuertasm commented on #213
@whitecolor thanks for the idea but it's somehow duplicate. See #100, #162 and #203. I'm going to close this issue and I suggest you to add this information to #203. :wink:

[2016-08-28 16:42] #213 closed

[2016-08-28 16:45] whitecolor commented on #203
I wonder if it is possible to style in some way icons for git ignored files, for example make them faded or desaturated. Also something like this would be use for files that are in search.exclude option of .vscode/settings.json.

File name colors could be affected to reflect their nature.

[2016-08-28 17:06] jens1o commented on #155
You're right. Since the new api, this suggestion as now sense, I'm closing.

[2016-08-28 17:06] #155 closed

[2016-08-28 20:09] TiTnOuK opened #214 "Icon request: Poedit"
**Poedit: Gettext Translations Editor** has no icon.
Website URL : [Link](https://poedit.net/)
Icon that can be used : [Link](https://poedit.net/images/main_ico.png)
File extension : **.po** / **.mo**

If you can add it 😃

[2016-08-28 23:28] jens1o commented on #214
I'll do it.

[2016-08-28 23:35] jens1o commented on #214
see #217

[2016-08-29 06:31] #214 closed

[2016-08-29 07:00] rbukovansky opened #218 "Icons are not shown properly in tree, but in Open Editors are OK"
- [x] I'm using Visual Studio Code Version [1.5.0] [Insider]
- [x] I'm using the extension version [1.8.1]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] My system is: Win7/64, Ubuntu/MATE 16.04.01 LTS
- [x] I'm sure this issue is not a *duplicate*?

**Description:**
After today's update to newest VS Code In

[2016-08-29 07:05] whitecolor commented on #218
Yes the same.

[2016-08-29 07:12] TiTnOuK opened #219 "Icon request: Composer"
**Composer: Dependency Manager for PHP** has no icon.
Website URL : [Link](https://getcomposer.org/)
Icon that can be used : [Link](https://getcomposer.org/img/logo-composer-transparent.png)
File : **composer.json** / **composer.lock** / **composer.phar**

(For the .phar extension, it can be a PHP icon because it's not unique to Composer)
Thank you 😺

[2016-08-29 08:44] robertohuertasm commented on #218
@rbukovansky @whitecolor thanks for the heads up! It seems something change with the latest version. As I was going to roll out 1.8.2 today I'll try to fix it. Hopefully, Insiders breaks will tend to diminish once the new VSCode official icons API gets stable and our extension integrates with it.

[2016-08-29 08:50] rbukovansky commented on #218
Sounds good to me... Thanks.

BTW It would be much easier if MS decided to integrate/merge your code to VS Code. That would save a lot of time for everybody...

[2016-08-29 09:08] robertohuertasm commented on #218
Fixed in 6e7b1ca40b7946c61f101d26a6c977cf66724d98
I will release 1.8.2 in a minute

[2016-08-29 09:09] robertohuertasm commented on #218
Already published, you should be able to download the new version now. Let me know if this is not still happening! :wink:

[2016-08-29 09:13] rbukovansky commented on #218
Looks good! Thanks.

[2016-08-29 09:15] whitecolor commented on #218
Heh, after long iteration cycle with update/enable/uninstall/... it finally worked, thanks)

[2016-08-29 09:17] robertohuertasm commented on #218
@whitecolor good to now the fix is working! :grinning:

[2016-08-29 11:48] jens1o commented on #219
I'll do that.

[2016-08-29 11:51] robertohuertasm commented on #219
@jens1o you're on fire man!

[2016-08-29 12:17] jens1o commented on #65
short update for everybody watching here for definitions. Please look in the [readme](https://github.com/robertohuertasm/vscode-icons#contributing-with-icons).

[2016-08-29 12:21] #219 closed

[2016-08-30 07:41] whitecolor commented on #218
Oh it happened again after today update, and I'm not able to restore it yet with unstall/install/enable/disable.. (

[2016-08-30 07:52] robertohuertasm commented on #218
If they've changed again their code that won't be fixed by executing the commands. I will take a look asap and let you know.

[2016-08-30 07:53] whitecolor commented on #218
Ok, just after your yesterday fix it too didn't work at once, so have to do some actions.

[2016-08-30 08:23] Gama11 opened #229 "Makefiles with extensions"
It seems to be fairly common practice to add file endings to make files, like `Makefile.win` for the windows version. See https://searchcode.com/?q=makefile.win&p=0&loc=0&loc2=10000

It's probably easy to `Makefile.win` specifically as a special case because it's common, but people also invent other extensions like [`.version_extra`] (https://github.com/HaxeFoundation/haxe/blob/development/Makefil

[2016-08-30 08:33] robertohuertasm commented on #229
Hi @Gama11, in my opinion this kind of scenarios are already covered with custom associations. If someone wants to associate Makefile.xxx to makefile icon he can do it by leveraging custom associations functionality, which uses regular expressions in order to match files.

For instance, see #181.

[2016-08-30 08:35] Gama11 commented on #229
Okay, good point - that's a great feature. :)

Do you still think it's a good idea to include common ones (such as `Makefile.win`)?

[2016-08-30 09:04] robertohuertasm commented on #229
I don't really think is worth the effort. User custom config is more than enough. But if you feel that this is something that can add some value go on with it and I will accept the PR.

By the way, I'm going to publish a new version in a minute as there's been a change in VSCode insiders. Do you have something that you want to publish?

[2016-08-30 09:07] Gama11 commented on #229
Alright, fair enough.

Feel free to publish a new version, I'm gonna take a break from PRs for now. ;) Besides, you release frequently enough that it doesn't make a big difference if it's "only" available next version.

[2016-08-30 09:07] #229 closed

[2016-08-30 09:07] robertohuertasm commented on #229
@Gama11 I'm publishing right now. I've to attend other businesses and I want to let this fix with Insiders version solved before I go. :wink:

[2016-08-30 09:10] robertohuertasm commented on #218
@whitecolor 1.8.4 is out! It should be fixed by upgrading the extension.

[2016-08-30 09:16] whitecolor commented on #218
@robertohuertasm :+1: thanks it works

[2016-08-30 09:37] Arrow7000 opened #234 "Why does every update necessitate running VSCode as administrator?"
I have to say it's annoying as hell to get continuous updates and not being able to enable them without having to quit everything I'm doing, shut down the VSCode (including the usual 3 integrated terminals I'm running) and restarting, only for it to tell me that I need to start it again in admin mode, which I then do, and then I again need to restart it.

Why does this extension require me to run

[2016-08-30 09:47] jens1o commented on #234
We need the administrative right, to inject code in vscode to be able to display the icons, due the api it is currently used is not supported in the extension, yet.

[2016-08-30 09:48] robertohuertasm commented on #234
I take for granted that you haven't even bothered to read the the readme but it will be enough to say that this extension, as Microsoft hasn't offered a proper extension API for icons, modifies some of the core files of VSCode and that's why it needs your permission to make it.

If you're so annoyed by this I'd suggest you to start always in admin mode. It's a simple checkbox that you have to chec

[2016-08-30 09:48] #234 closed

[2016-08-30 11:03] whitecolor commented on #218
@robertohuertasm though icons on files seems ok icons on folder doesn't appear, what can be the problem?

[2016-08-30 11:08] robertohuertasm commented on #218
@whitecolor you mean custom folders?

[2016-08-30 11:09] whitecolor commented on #218
node_modules, test, src, etc

[2016-08-30 11:23] whitecolor commented on #218
@robertohuertasm btw is it possible to support custom icons folders in a particular project? say if icon pictures will be place some where nearby.

[2016-08-30 11:32] robertohuertasm commented on #218
1.8.5 is out with a patch.
@whitecolor I'm not really sure to follow you but if you want to add custom folders with your own icons is not so easy. The only thing you could do is use a current icon, substitute it with another and then using associations change the normal behaviour.

[2016-08-30 11:32] #218 closed

[2016-08-30 11:44] whitecolor commented on #218
@robertohuertasm it works, thanks ok I will create an issue for this.

[2016-08-30 12:00] whitecolor opened #235 "Custom thumbnail icons for folder"
The case sometimes there is a monorepos with different kind of project inside (there are related technically ): for example: https://github.com/cyclejs/cyclejs/

There are folders that refer to different libs and tools and if it would be possible to "assign" each folder a picture in VSCode it would make a navigation though the project more efficient and pleasant.
maybe each folder could contain it

[2016-08-30 15:01] TiTnOuK opened #236 "Icon request: PHP Unit"
**PHPUnit – The PHP Testing Framework** has no icon.
Website URL : [Link](https://phpunit.de/)
Icon that can be used : [Link](http://blog.fclement.info/sites/default/files/2016-06/phpunit.png)
File : **phpunit.xml**

Thank you 😃

[2016-08-30 15:03] whitecolor commented on #203
@robertohuertasm how that goes is it possible to manage file colors of the files/folders?

[2016-08-30 15:59] TiTnOuK opened #237 "Icon request: Bower components"
The folder for **Bower components** has no icon.
Website URL : [Link](https://bower.io/)
Icon that can be used : [Link](https://bower.io/img/bower-logo.svg)
Folder : **bower_components**

Thank you 😃

[2016-08-30 16:16] jens1o opened #238 "Icon Update does not work properly"
**Checklist:**
- [X] I'm using Visual Studio Code Version 1.4.0 Stable
- [X] I'm using the extension version 1.8.5
- [X] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [X] My system is: Windows 10 Anniversary 64bit
- [X] I'm sure this issue is not a *duplicate*?
- [ ] I want to create an icon request(if not, remove th

[2016-08-30 17:37] jdforsythe opened #239 "Pug icon should show for puglint config files"
- [x] I'm using Visual Studio Code Version [1.4.0] [Stable]
- [x] I'm using the extension version [1.8.5]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] My system is: [Windows 10] [x64]
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):

[2016-08-30 20:26] #239 closed

[2016-08-30 20:34] robertohuertasm commented on #238
I think the url is wrong. Try this:
[code]

[2016-08-30 20:43] robertohuertasm commented on #235
Next release of VSCode stable version is going to implement the first version of the icon extension API
[@vscode/10804](https://github.com/Microsoft/vscode/issues/10804). This API is still in its early stages but the VSCode team is willing that this extension abandons the "hacky" ways and embrace the official API. In fact, they're even thinking of not allowing code injection by using checksums so.

[2016-08-30 20:46] robertohuertasm commented on #203
@whitecolor this feature could be more or less implemented but I will refer back to [#235](https://github.com/robertohuertasm/vscode-icons/issues/235#issuecomment-243574260) .

[2016-08-30 21:27] jens1o commented on #238
ah, thanks. It works!, will create a pr to the owner ;)

[2016-08-30 21:31] #238 closed

[2016-08-30 21:33] jens1o commented on #236
I'll do it.

[2016-08-30 21:33] jens1o commented on #237
I'll do it.

[2016-08-30 21:42] jens1o commented on #236
Any other icon? I think it is not looking that good:

![image](https://cloud.githubusercontent.com/assets/11234139/18108172/6066df88-6f0b-11e6-941a-f8689dacc5e6.png)

[2016-08-30 21:52] jens1o commented on #237
see #241

[2016-08-30 22:26] internetz opened #242 "Run VS Code with admin privileges so the changes can be applied"
After Install this message pops up:
Run VS Code with admin privileges so the changes can be applied.

Developer Console shows following error:
[code]

- I'm using Visual Studio Code Version 1.4.0 stable
- I'm using the extension version 1.8.5
- My system is: KDE Neon (Ubuntu 16.04)

[2016-08-30 22:59] robertohuertasm commented on #242
Have you read the readme regarding linux and administrator privileges?

[2016-08-31 05:30] TiTnOuK commented on #236
I think you can use only this part of icon:
[Link](http://img4.hostingpics.net/pics/149944phpunitlogoalt.png)

[2016-08-31 08:10] #237 closed

[2016-08-31 08:31] Maples7 opened #243 "Icon Request: RAML"
Website URL: http://raml.org/
File Extension: .raml
Logo: http://raml.org/sites/default/files/ramllogo.png

A RESTful API Modeling Language.

[2016-08-31 09:04] robertohuertasm commented on #242
@internetz can you give us some more information? What have you tried?

[2016-08-31 09:17] leaxoy opened #244 "[icon request] docs folder"

[2016-08-31 09:18] jens1o commented on #243
The raml logo has a width, that I could not resize. Can we just use the first letter? Is that okey with you?

[2016-08-31 09:19] jens1o commented on #244
@leaxoy Please provide some more informations. Example icon, file extensions... You know. The template has any information that we need, so please fill it out.

[2016-08-31 09:20] robertohuertasm commented on #243
@jens1o ok for me! :wink:

[2016-08-31 09:38] Maples7 commented on #243
@jens1o I'm ok, too. By the way, thank you both for this VSC extension :wink:

[2016-08-31 09:39] internetz commented on #242
I just scanned the Readme and searched for the message that popped up after install. But I did not find anything. But you are right. The Linux user section in the Readme helped me out. Maybe you can add the message 'Run VS Code with admin privileges so the changes can be applied.' to the Linux user section in the Readme to make it easier to search/find (for retards like me).

[2016-08-31 09:45] robertohuertasm commented on #242
@internetz I'm glad you make it. You're right, I take for granted that it's clear but it's clearly not clear at all :wink: I'll make a direct reference in the readme as per your suggestion. :wink:

[2016-08-31 09:45] #242 closed

[2016-08-31 09:45] #236 closed

[2016-08-31 09:46] #243 closed

[2016-08-31 10:00] jens1o commented on #139
I'd found a icon. PR coming soon.

[2016-08-31 10:05] #139 closed

[2016-08-31 10:42] #136 closed

[2016-08-31 10:49] jens1o commented on #122
According to [this file](https://gitlab.com/ulthes/github-repos-catalogue/blob/master/.buildignore), it's looking like the same syntax to .gitignore, but I didn't find any icon...

[2016-08-31 10:50] jens1o commented on #123
Should we add this as json, actually it is the json syntax, and I don't find any icon...

[2016-08-31 11:23] iRoachie opened #249 "Icon Request: css.map"
- [x] I'm using Visual Studio Code Version [1.4.0] [Stable/Insider]
- [x] I'm using the extension version [1.8.5]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] My system is: [Mac OS Sierra]
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines belo

[2016-08-31 11:25] robertohuertasm commented on #123
I agree

[2016-08-31 11:27] jens1o commented on #249
Do you make the icon or should I?

[2016-08-31 11:30] iRoachie commented on #249
@robertohuertasm  implemented the js.map one in #154 , so it would be easier for him to make since he should have the template.

[2016-08-31 11:36] iRoachie commented on #244
@leaxoy what types of files are in a docs folder? Or what is it used for?

[2016-08-31 11:37] jens1o commented on #244
@iRoachie typically markdown files, for example this: https://github.com/electron/electron/tree/master/docs

It describes the api.

[2016-08-31 12:06] #123 closed

[2016-08-31 12:07] robertohuertasm commented on #249
@iRoachie @jens1o no problem, I'll do it!

[2016-08-31 21:17] jens1o commented on #65
I was looking for untransparent icons, I found this one:
https://github.com/robertohuertasm/vscode-icons/blob/master/icons/file_type_cfc@2x.png

Can I replace the white with nothing, so it's transparent?

[2016-08-31 21:24] mysticman commented on #65
Sure you can resolve the white,  but I can do it and redraw some of the parts if needed tomorrow morning.

[2016-08-31 21:28] jens1o commented on #65
Feel free to do that ;)

[2016-09-01 06:59] mysticman commented on #65
Hi,

that is the best what I could do. The text is so small but I think it's ok for this icon. I think it's worth a replace for this transparent one.

![file_type_cfc 2x](https://cloud.githubusercontent.com/assets/2445639/18158232/445b3c0e-7022-11e6-8a29-1bf52375b062.png)

[2016-09-01 07:16] jens1o commented on #65
Do you have a good idea for a new icon?

[2016-09-01 07:27] robertohuertasm commented on #65
I think this one is ok.

[2016-09-01 07:31] mysticman commented on #65
This is another sample, like Adobe using it's own products. The Adobe has got a good brand guide and very consistent it's worth to follow those logo designs. I provide 2 samples and pick one.

![file_type_cfc 2x-new](https://cloud.githubusercontent.com/assets/2445639/18158981/e0b742f6-7026-11e6-910b-21ca857e9943.png)
![file_type_cfc 2x-new-bg](https://cloud.githubusercontent.com/assets/2445639/181

[2016-09-01 07:42] mysticman commented on #65
By the way. Make a consistent look and feel is quite hard for this project because every logo, brand, language etc has got different colors shape and graphic, and feel. One of the best approach I think if we follow the original logos and very common graphics, - because the main reason I think why this extension was create to make easier to the eyes to navigates through hundreds of files via colors

[2016-09-01 09:27] robertohuertasm commented on #177
Recommended steps to migration according to @aeschli:
1. vscode-icons pushes an update early enough before we ship 1.5 currently planned for Sept 12th
2.  this update of vscode-icons bundles icons using the official way of the new icons theme contribution point
3. this update of vscode-icons includes a check for the ‘vscode.version’ being 1.5.0 or newer (using semver)
4.  if the extension run in v

[2016-09-01 16:36] TStraub-rms opened #258 "Icon Request: Ansible and Terraform"
- [x] I'm using the extension version [1.8.7]
- [x] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [x] My system is: Mac OS
- [x] I'm sure this issue is not a *duplicate*?
- [x] I want to create an icon request(if not, remove these lines below):
      - Icon Name: ansible
      - Sample original Icon(32x32/png/transpa

[2016-09-01 20:34] kevinraybooth commented on #258
Prob would want .yaml also.

[2016-09-01 21:43] mttmccb opened #259 "Icon Request: Locale/Locales"
- [x] I'm using Visual Studio Code Version [1.4.0] [Stable/Insider]
- [X] I'm using the extension version [1.8.7]
- [X] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [X] My system is: [OSX Yosemite] [Arch]
- [X] I'm sure this issue is not a *duplicate*?
- [X] I want to create an icon request(if not, remove these line

[2016-09-02 09:48] jens1o commented on #258
I don't have something to edit... Thanks @TStraub-rms

[2016-09-02 09:59] jens1o commented on #258
Could you say all files possible with ansible, because the file extension is not that unique? @TStraub-rms

[2016-09-02 11:43] TStraub-rms commented on #258
@jens1o Ansible only uses YAML files, so I am not sure how you would want to handle that.
If the icon at least made its way into the repo we could then just add an extension association as a user preference.

[2016-09-02 12:45] robertohuertasm commented on #258
Let's create the icon and associate it with the ansible extension and then use associations in order to load it.

Note that this kind of usage won't be supported by the new API, and as per conversations with @ aeschli, I think there are no plans to support this specific scenario.

[2016-09-02 12:48] TStraub-rms commented on #258
Fair enough. It would be nice to have an ability to load your own icons and

[2016-09-02 22:35] #258 closed

[2016-09-03 09:32] jaylinwang opened #262 "when dir name is script/scripts, the icon is blank~"
when dir name is script/scripts, the icon is blank~

this is screen snapshot:

![a87f55b1-60d6-4fb3-92ef-9177cd007343](https://cloud.githubusercontent.com/assets/4530355/18224077/65846de8-71fc-11e6-9ac3-dbae65a6f029.png)

- I'm using Visual Studio Code Version [1.4.0]
- I'm using the extension version [1.8.9]

[2016-09-03 09:45] robertohuertasm opened #263 "Case Insensitivity not honored when using special extensions"
See [#254](https://github.com/robertohuertasm/vscode-icons/pull/254#issuecomment-244536198)

[2016-09-03 09:49] #263 closed

[2016-09-03 10:37] jens1o commented on #262
I cannot reproduce that.

[2016-09-03 11:25] czmecho opened #266 "incorrect type .expected "array""
**Checklist:**
- [ ] I'm using Visual Studio Code Version [1.4] [Stable/]
- [ ] I'm using the extension version [1.8.9]
- [ ] I've regarded to the [FAQ](https://github.com/robertohuertasm/vscode-icons/blob/master/README.md#faqs) and they did not help.
- [ ] My system is: [win10]
- [ ] I'm sure this issue is not a *duplicate*?
**Description:**
[short description of the bug, enhancement or feature r

[2016-09-03 11:31] jaylinwang commented on #262
i'm use osx

[2016-09-03 14:49] be5invis opened #267 "Improvements to avoid asking admin permissions after updating"
Separate the file/folder identification part (configuration or the function itself) and the icon pack to somewhere outside VSCode’s directory, to avoid asking admin permission every time after updating

[2016-09-03 15:21] jens1o commented on #267
That's right. It updates the icon Pack.

[2016-09-03 15:22] be5invis commented on #267
However it asks me EVERY TIME when I start Code.

[2016-09-03 15:23] jens1o commented on #266
(added as enhancement, because this warning aren't that critical.

[2016-09-03 15:25] jens1o commented on #267
Yes. It's scheduled each time you start code. You need to do that, to hide the warning.

[2016-09-03 15:26] be5invis commented on #267
BUT WHY? You COULD move the file identification part and the icon pack part to some place does not need admin.

[2016-09-03 15:28] jens1o commented on #267
Please look into the faq. We inject some code in Code, because it is not supported by Code, yet. And in order to overwrite the files(in a dir which is protected) we need admin.

[2016-09-03 15:29] jens1o commented on #267
see https://github.com/robertohuertasm/vscode-icons#disclaimer

[2016-09-03 15:29] be5invis commented on #267
@jens1o
I think you can separate the file/folder identification part (configuration or the function itself), and the icon pack to somewhere else, outside VSCode’s directory, like ~/.vscode.

[2016-09-03 15:31] jens1o commented on #267
But in order to load this icon pack in the main file of code, we need to change some code. We can't change the process.

Soon, in the next release, we'll use the official vscode integration. It is scheduled for the 13th.

[2016-09-03 15:32] be5invis commented on #267
@jens1o I mean, your injected code can provide some kind of interface, and load configurations, and icon pack from somewhere outside VSC’s directory.

[2016-09-03 15:33] jens1o commented on #267
Each time after update, these files will be replaced. So, after all, you need to do that each update.

[2016-09-03 15:37] be5invis commented on #267
@jens1o @robertohuertasm
I mean that, here, you inject JS and CSS into Code, right?
Every time you update, these two files only changes a small part, file/folder-icon association in particular.
So, if you can use some way, to separate these part into a separate file outside VSCode's directory, then every time your plugin updates, it does not need to update the injected part every time.

[2016-09-03 15:38] jens1o commented on #267
I mean the update of VSC.

[2016-09-03 15:38] be5invis commented on #267
But you update the plugin too fast.

[2016-09-03 15:39] jens1o commented on #267
**Please**, look into the faq.

[2016-09-03 15:39] jens1o commented on #267
see https://github.com/robertohuertasm/vscode-icons#faqs

[2016-09-03 15:42] be5invis commented on #267
**I've already read it.**

You update the plugin fast because you want to support new icons. Yes, I can understand.
However, **the way that supporting new icons can be improved** so that, you do not have to change the injected part which requires admin permission. So then, you can update it at any frequency you like while not asking admin.

[2016-09-03 15:46] jens1o commented on #267
and keep supporting the vscode Insider Version.

For each icon, we need to add css classes and js methods. So here we are. For each update, we *need* to update the 2 files.

[2016-09-03 15:53] be5invis commented on #267
@jens1o
You can try to inject the browser window’s CSS on-the-fly...
I mean, move the code used to build CSS into the JS part.
Just an advice.

[2016-09-03 17:04] jens1o commented on #267
Even we could optimize this(btw we also have to update the js, not only css). We have 10 days left for the new integration. I think we should be focused on the new integration.

[2016-09-03 22:13] robertohuertasm commented on #267
Hi @be5invis, @jens1o. I think you both have your reasons. What @be5invis proposes is not way too crazy. However, I agree with @jens1o that maybe it's not worth wasting our time on that while we're being pushed by Microsoft to avoid injecting code into VSCode asap.

In order to reduce the warning from showing so often we could save all the json files (file and folder icons) in the user's folder, t